.btn {
  cursor: pointer !important;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 13px; }
  .btn span {
    padding-right: .5em;
    font-size: 95%;
    color: #76788c;
    width: max-content;
    cursor: default;
    font-family: "UbuntuMedium"; }
    .btn span::selection {
      background-color: transparent; }
  .btn:hover {
    background-color: rgba(56, 56, 68, 0.055); }
  .btn:active {
    transform: scale(0.95); }

.btn-base {
  border-radius: 5px;
  background-color: #34335cef;
  padding: .2em .5em;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer !important; }
  .btn-base span {
    font-size: 95%;
    color: rgba(237, 237, 243, 0.897);
    cursor: pointer !important;
    padding: .4em .4em .4em 0;
    font-family: "UbuntuMedium";
    width: max-content; }
    .btn-base span::selection {
      background-color: transparent; }

.btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: .8em;
  width: 2em;
  height: 1.6em;
  cursor: pointer; }
  .btn-icon:active {
    transform: scale(0.9); }

.btn-upload-file {
  cursor: default;
  border-radius: 3px; }
  .btn-upload-file:hover {
    background-color: rgba(73, 73, 126, 0.103); }

/*# sourceMappingURL=buttons.css.map */
