@import '../abstracts/const-params.scss';

.btn{
    cursor: pointer !important;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 13px;

    span{
        padding-right: .5em;
        font-size: 95%;
        color: $color-button;
        width: max-content;
        cursor: default;
        font-family: "UbuntuMedium";
        &::selection{
            background-color: transparent;
        }
    }
    &:hover{
        background-color: rgba(56, 56, 68, 0.055);
    }
    &:active{
        transform: scale(.95);
    }
}

.btn-base{
    border-radius: 5px;
    // background-color:  $background-btn;
    // background: linear-gradient(to top left, $background-btn, $background-btn-light);
    background-color:$background-btn;
    padding: .2em .5em;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer !important;
    // border-bottom: solid 3px rgb(22, 22, 36);

    // &:active{
    //     // box-shadow: 0 0  3px 1px rgba(91, 113, 146, 0.479);
    //     border-bottom: solid 3px rgb(26, 26, 53);
    // }
    // &:hover{
    //     border-bottom: solid 3px rgb(36, 36, 68);
    // }

    span{
        font-size: 95%;
        // color: $color-button;
        color: rgba(237, 237, 243, 0.897);
        cursor: pointer !important;
        padding: .4em .4em .4em 0;
        font-family: "UbuntuMedium";
        width: max-content;
        &::selection{
            background-color: transparent;
        }
    }
}

.btn-icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: .8em;
    width: 2em;
    height: 1.6em;
    cursor: pointer;
    // margin-left: auto;
    // margin-right: auto;
    &:active{
        transform: scale(.9);
    }
}

.btn-upload-file{
    cursor: default;
    border-radius: 3px;
    &:hover{
        background-color: rgba(73, 73, 126, 0.103);
    }
    // &:active{
    //     transform: scale(.9);
    // }
}