.dropdown-menu {
  position: relative;
  width: 100%;
  font-size: 100%;
}

.dropdown-menu .dropdown-menu__block-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-menu .dropdown-menu__block-view div:first-child {
  color: #626269f3;
  font-size: 97%;
  margin-bottom: -2px;
}

.dropdown-menu .dropdown-menu__block-view div:first-child::-moz-selection {
  background-color: transparent;
}

.dropdown-menu .dropdown-menu__block-view div:first-child::selection {
  background-color: transparent;
}

.dropdown-menu .dropdown-menu__block-view .dropdown-menu__block-view__current-element {
  margin-top: .2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
  padding: .2em .4em;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  color: #626269f3;
  font-size: 100%;
  cursor: pointer;
}

.dropdown-menu .dropdown-menu__block-view .dropdown-menu__block-view__current-element:hover {
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-menu .dropdown-menu__block-view .dropdown-menu__block-view__current-element span {
  white-space: nowrap;
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-menu .dropdown-menu__down-menu.open {
  display: block;
}

.dropdown-menu .dropdown-menu__down-menu.open::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.dropdown-menu .dropdown-menu__down-menu {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  z-index: 1;
  border-radius: 3px;
  background-color: white;
  font-size: 95%;
  padding: 0;
  margin: .2em 0;
  position: fixed;
  color: #494c63;
  -webkit-box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
          box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
  max-height: 110px;
  overflow: auto;
}

.dropdown-menu .dropdown-menu__down-menu::-webkit-scrollbar {
  width: 8px;
}

.dropdown-menu .dropdown-menu__down-menu::-webkit-scrollbar-thumb {
  background-color: rgba(185, 173, 179, 0.4);
  border-radius: 20px;
  border: solid .12em white;
}

.dropdown-menu .dropdown-menu__down-menu::-webkit-scrollbar-track {
  background: transparent;
}

.dropdown-menu .dropdown-menu__down-menu li {
  padding: .3em .6em;
}

.dropdown-menu .dropdown-menu__down-menu li:hover {
  background-color: rgba(236, 236, 241, 0.356);
}

.dropdown-menu .dropdown-menu__down-menu li[data-selected="true"]::before {
  content: "";
  display: inline-block;
  width: .5em;
  height: .5em;
  background-color: rgba(84, 85, 134, 0.897);
  margin-right: .3em;
  border-radius: 5px;
  margin-bottom: .1em;
}
/*# sourceMappingURL=dropdown-menu.css.map */