@import '../abstracts/const-params.scss';

.dropdown-menu{
    position: relative;
    width: 100%;
    font-size: 100%;
    .dropdown-menu__block-view{
        display: flex;
        flex-direction: column;

        div:first-child{
            color: $font-color;
            font-size: 97%;
            margin-bottom: -2px;
            &::selection{
                background-color: transparent;
            }
        }
        .dropdown-menu__block-view__current-element{
            margin-top: .2em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 3px;
            padding: .2em .4em;
            border: solid 1px rgba(0, 0, 0, 0.1);
            font-size: 13px;
            color: $font-color;
            font-size: 100%;
            cursor: pointer;
            &:hover{
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
            }
            span{
                white-space: nowrap;
                max-width: 90%;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: pointer;
            }
        }
    }
    .dropdown-menu__down-menu.open{
        display: block;
        &::before{
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            // background-color: rgba(248, 248, 248, 0.418);
            z-index: -1;
        }
    }
    .dropdown-menu__down-menu{
        display: none;
        box-sizing: border-box;
        list-style: none;
        z-index: 1;
        border-radius: 3px;
        background-color: $block-color;
        font-size: 95%;
        padding: 0;
        margin: .2em 0;
        position: fixed;
        color: rgb(73, 76, 99);
        box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
        max-height: 110px;
        overflow: auto;
        @include scroll_customize_raduis;

        li{
            padding: .3em .6em;

            &:hover{
                background-color: rgba(236, 236, 241, 0.356);
            }
        }

        li[data-selected="true"]::before{
           content: "";
           display: inline-block;
           width: .5em;
           height: .5em;
           background-color: rgba(84, 85, 134, 0.897);
           margin-right: .3em;
           border-radius: 5px;
           margin-bottom: .1em;
        }
    }
}