@import "../abstracts/const-params.scss";
@import "../vendors/fonts.scss";

.container{
    font-size: 100%;
    #confirmForm{
        .form{
            border-top: solid 2px $color-border-form;
            border-bottom: solid 2px $color-border-form;
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
    .container__background{
        background-color: rgba(55, 60, 105, 0.158);
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;


        .container__background__dialog{
            z-index: 40;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            font-size: 95%;
            box-sizing: border-box;
            min-width: 400px;
            max-width: 700px;
            max-height: 500px;
            position: relative;
            // padding: 1em;
            @include form;

            .container__background__dialog__title{
                // text-align: center;
                font-size: 105%;
                color: $font-color-title;
                margin: .7em;
                text-transform: uppercase;
                font-family: "UbuntuMedium";
            }


            
            .form{
                display: flex;
                font-size: 90%;
                padding: 0 .7em;
            }

            .btns{
                display: flex;
                justify-content: flex-end;
                margin: .7em;
                input[type="button"]:first-child{
                    margin-right: 1em;
                }
            }

            
            .container__background__dialog__form{
                font-size: 90%;




                .container__background__dialog__form__btns{
                    display: flex;
                    position: relative;
                    justify-content: flex-end;
                    margin-top: 1em;

                    input[type="button"]{
                        font-size: 90%;
                        // border-radius: 2px;
                        // border-width: 0;
                        // padding: .4em 1em;
                        // background-color: rgba(64, 59, 92, 0.322);
                        // color: rgba(73, 71, 97, 0.877);

                        &:active{
                            // transform: scale(.96);
                            // outline-color: rgba(66, 72, 145, 0.781);
                            // outline-width: 2px;
                        }

                        &:focus{
                            // outline-color: rgba(66, 72, 145, 0.781);
                            // outline-width: 2px;
                        }
                    }

                    input:first-child{
                        margin-right: 1em;
                    }
                }
            }

        }
    }
}