
.icon-small{
    background-position: left;
    background-repeat: no-repeat;
    background-size: 1.1em 1em;
    width: 1.2em;
    height: 1.2em;
}

.icon-add{
    background-image: url("/images/add.svg");
}

.icon{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    width:  2em;
    height: 2em;
}
//////////////////////////// LOADS
.icon-refresh{
    background-image: url("/images/refresh.svg");
}
.icon-refresh-new-version{
    background-image: url("/images/refresh-new-version.svg");
}
.icon-remove{
    background-image: url("/images/remove.svg");
}
.icon-no-tweet{
    background-image: url("/images/no-tweet.svg");
    background-size: 1.3em;
}
.icon-tweet{
    background-image: url("/images/tweet.svg");
    background-size: 1.3em;
}
.icon-published{
    background-image: url("/images/published.svg");
    background-size: 1.3em;
}


////////////////////////Columns
.icon-edit{
    background-image: url("/images/edit.svg");
    // margin-right: 1em;
}
.icon-remove{
    background-image: url("/images/remove.svg");
    // margin-right: 1em;
}


/////// dropdown-menu arrow
.icon-arrow-dropdown{
    background-image: url("/images/arrow-up-thin.svg");
    transform: rotate(0deg);
    transition: transform .5s linear;
}

.icon-arrow-dropdown.rotated{
    transform: rotate(180deg);
    transition: transform .5s linear;
}



.icon-arrow-list{
    background-image: url("/images/arrow-list.svg");
}


.icon-arrow-list.rotated{
    transform: rotate(90deg);
    transition: transform .5s ease;
}
.icon-arrow-list{
    transform: rotate(0deg);
    transition: transform .5s ease;
}



.icon-contingent{
    background-image: url("/images/contingent.svg");
}


.icon-check{
    background-image: url("/images/checkbox.svg");
}





