@import "../abstracts/const-params.scss";
a, .exit-link{
    color: rgba(76, 82, 114, 0.781);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    &:hover{
    color: rgba(26, 30, 59, 0.76);
    // text-decoration: underline;
    border-bottom: 1px solid rgba(26, 30, 59, 0.76);
    }
}

input[type="file"]{
    display: none;
}
input[type="file"] + label{
    font-size: 14px;
    color: #6a7691;
    padding: .4em .6em .4em .1em;
}
input[type="file"] + label::before{
    content: "";
    background-image: url("/images/upload.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.4em;
    padding-left: 2em;
    padding-top: .1em;
}

input:invalid{
    box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479);
}

input[type="text"]{
    font-size: 100%;
    margin: .4em 0;
    border: solid 1px rgba(88, 88, 121, 0.829);
    border-radius: 5px;
    padding: .2em .5em;
    color: $font-color;
    width: 100%;
    box-sizing: border-box;

    &:focus{
        outline-color: transparent;
        outline-width: 0;
        box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    }
}


input[type="password"]{
    font-size: 100%;
    margin: .1em 0;
    border: solid 1px rgba(88, 88, 121, 0.829);
    border-radius: 5px;
    padding: .2em .5em;
    color: $font-color;
    width: 100%;
    box-sizing: border-box;

    &:focus{
        outline-color: transparent;
        outline-width: 0;
        box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    }
}

input[type=number] {
    -moz-appearance:textfield;
    font-size: 100%;
    margin: .1em 0;
    border: solid 1px rgba(88, 88, 121, 0.829);
    border-radius: 5px;
    padding: .2em .5em;
    color: $font-color;
    width: 100%;
    box-sizing: border-box;
    
    &:focus{
        outline-color: transparent;
        outline-width: 0;
        box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input.count-students{
    width: 30px;
    padding: .2em .3em;
}

// input.count-students:disabled{
//     background-color: rgb(240, 240, 240);
// }

input[type="button"]:hover{
    // background: rgba(75, 71, 114, 0.733) radial-gradient(circle, transparent 1%, rgba(75, 71, 114, 0.733) 1%) center/15000%;
    background-color: rgba(72, 68, 112, 0.849);
}
input[type="button"]:active{
        outline-color: transparent;
        outline-width: 0;
        background-color: rgba(60, 56, 105, 0.733);
        background-size: 100%;
        transition: background 0s;
}
input[type="button"]:focus{
    outline-color: transparent;
    outline-width: 0;
}
input[type="button"]{
    font-size: 95%;
    color: rgb(255, 255, 255);
    // background-color: rgba(97, 106, 146, 0.856);
    background-color: rgba(97, 104, 146, 0.856);
    border-radius: 2px;
    box-sizing: border-box;
    line-height: 170%;
    border: none;
    background-position: center;
    transition: background .4s;

    // &:focus{
    //     outline-color: transparent;
    //     outline-width: 0;
    // }
}



div[contenteditable="true"]{
    border: solid 1px rgba(88, 88, 121, 0.829);
    border-radius: 5px;
    padding: .2em .3em;
    color: $font-color;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    background-color: white;
    // max-width: 200px;
    white-space: nowrap;
    overflow: hidden;

    &:focus{
        outline-color: transparent;
        outline-width: 0;
        box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    }
}

div[contenteditable="false"]{
    border: solid 1px transparent;
    padding: .2em .3em .2em 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 2px transparent;
    // max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

input:disabled:not([type="button"]){
    background-color: rgba(164, 164, 177, 0.205);
    border-color: transparent;
}


.js-input-edit::before{
    content: "";
    background-color: rgba(39, 43, 77, 0.158);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}



.checkbox{
    position: relative;
    margin: .2em 0;
    display: flex;
    align-items: center;

    input[type="checkbox"], input[type="radio"]{
        width: 0;
        margin: 0;
        padding: 0;
    }

    input[type="checkbox"]:focus + label::before {
        box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    }
    input[type="checkbox"]:checked + label::before {
        content: url("/images/checkbox.svg");

    }
    input[type="checkbox"]:not(:checked) + label::before {
        content: "";
    }



    // input[type="checkbox"][checked="true"].current + label::before {
    //     content: url("/images/checkbox.svg");

    // }
    // input[type="checkbox"][checked="false"].current + label::before {
    //     content: "";
    // }


    input[type="radio"]:focus + label::before {
        box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    }
    input[type="radio"]:checked + label::before {
        content: url("/images/checkbox.svg");

    }
    input[type="radio"]:not(:checked) + label::before {
        content: "";
    }


    input[type="radio"] + label::before{
        border-radius: 12px;
        // margin-left: 4px;
        // margin-top: 2px;
    }
    input[type="checkbox"] + label::before{
        border-radius: 2px;
        // margin-left: 3px;
        // margin-top: 1px;
        top: -2px;
    }
    label{
        cursor: pointer;
        padding-left: 1.5em;
        &::before{
            content: "";
            position: absolute;
            display: inline-block;
            background-color: rgb(248, 248, 250);
            border: solid 1px rgba(88, 88, 121, 0.829);
            width: 1em;
            height: 1em;
            vertical-align: text-bottom;
            left: 0;
            top: 0;
        }
    }
}




textarea{
    font-size: 100%;
    margin: .1em 0;
    border: solid 1px rgba(88, 88, 121, 0.829);
    border-radius: 5px;
    padding: .2em .5em;
    color: $font-color;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    

    &:focus{
        outline-color: transparent;
        box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
        outline-width: 0;
    }
}