.menu-search {
  position: absolute;
  background-color: white;
  color: #626269f3;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
          box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
  font-size: 120%;
  border: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
          box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
  margin-top: .3em;
  max-height: 300px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-search::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menu-search .menu-search__search-block {
  border-bottom: solid 1px rgba(62, 67, 92, 0.09);
  z-index: 2;
}

.menu-search .menu-search__search-block input {
  padding: .4em .4em;
  border: none;
  color: #626269f3;
  width: 100%;
}

.menu-search .menu-search__search-block input:hover {
  border: none;
}

.menu-search .menu-search__search-block input:active {
  outline: none;
}

.menu-search .menu-search__search-block input:focus {
  outline: none;
}

.menu-search .menu-search__content {
  z-index: 2;
  overflow: auto;
  background-color: white;
}

.menu-search .menu-search__content::-webkit-scrollbar {
  width: 8px;
}

.menu-search .menu-search__content::-webkit-scrollbar-thumb {
  background-color: rgba(185, 173, 179, 0.4);
  border-radius: 20px;
  border: solid .12em white;
}

.menu-search .menu-search__content::-webkit-scrollbar-track {
  background: transparent;
}

.menu-search .menu-search__content .menu-search__content__elem {
  padding: .2em .4em;
  cursor: default;
}

.menu-search .menu-search__content .menu-search__content__elem .menu-search__content__elem__sublist {
  padding: 0 1.2em;
}

.menu-search .menu-search__content .menu-search__content__elem label {
  width: 100%;
}

.menu-search .menu-search__content .menu-search__content__elem .checkbox label::before {
  width: .8em;
  height: .8em;
  top: .1em;
}

.menu-search .menu-search__content .menu-search__content__elem:hover {
  background-color: #fafbfc;
}
/*# sourceMappingURL=menu-search.css.map */