@import '../abstracts/const-params.scss';
.menu-search{
    position: absolute;
    background-color: $block-color;
    color: $font-color;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
    font-size: 120%;
    @include form;
    margin-top: .3em;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(36, 36, 83, 0.219);
        z-index: 1;
    }
    .menu-search__search-block{
        border-bottom: solid 1px $color-border-form;
        z-index: 2;
        input{
            padding: .4em .4em;
            border: none;
            color: $font-color;
            width: 100%;
            &:hover{
                border: none;
            }
            &:active{
                outline: none;
            }
            &:focus{
                outline: none;
            }
        }
    }
    .menu-search__content{
        z-index: 2;
        overflow: auto;
        background-color: white;
        @include scroll_customize_raduis;
        .menu-search__content__elem{
            padding: .2em .4em;
            cursor: default;
            .menu-search__content__elem__sublist{
                padding: 0 1.2em;
            }
            label{
                width: 100%;
            }
            .checkbox label::before{
                width: .8em;
                height: .8em;
                top: .1em;
            }
            &:hover{
                background-color: $color-background-tr;
            }
        }
    }
}