.menu-filter {
  position: absolute;
  background-color: white;
  color: #626269f3;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
          box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
  font-size: 120%;
  border: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
          box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
  margin-top: .3em;
  max-height: 300px;
  min-width: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-filter::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.menu-filter .menu-filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .4em;
  z-index: 1;
}

.menu-filter .menu-filter__item .dropdown-menu__down-menu {
  position: fixed;
  width: 190px;
}
/*# sourceMappingURL=menu-filter.css.map */