@import '../abstracts/const-params.scss';
.menu-filter{
    position: absolute;
    background-color: $block-color;
    color: $font-color;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
    font-size: 120%;
    @include form;
    margin-top: .3em;
    max-height: 300px;
    min-width: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba(36, 36, 83, 0.219);
        z-index: -1;
    }

    .menu-filter__item{
        display: flex;
        align-items: center;
        padding: .4em;
        z-index: 1;

        .dropdown-menu__down-menu{
            position: fixed;
            width: 190px;
        }
    }

}