.js-menu.inactive span:first-child {
  opacity: .4;
}

.js-menu.inactive span:first-child:hover {
  background-color: transparent;
}

.js-menu.inactive span:nth-child(2) {
  opacity: .4;
}

.js-menu.inactive span:nth-child(2):hover {
  background-color: transparent;
}

.js-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 10px;
  background-color: white;
  z-index: 400;
  border-radius: 2px;
  font-size: 12px;
  -webkit-box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09);
          box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09);
  font-family: "UbuntuMedium";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.js-menu span:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.js-menu span:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.js-menu span {
  padding: .4em .8em;
  cursor: default;
  color: #626269f3;
  font-size: 12px;
  z-index: 2;
}

.js-menu span:hover {
  background-color: rgba(170, 170, 177, 0.158);
}
/*# sourceMappingURL=menu.css.map */