@import '../abstracts/const-params.scss';

.js-menu.inactive{
    span:first-child{
        opacity: .4;
        &:hover{
            background-color:transparent;
        }
    }
    span:nth-child(2){
        opacity: .4;
        &:hover{
            background-color:transparent;
        }
    }
}
.js-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 400;
    border-radius: 2px;
    font-size: 12px;
    @include shadow;
    font-family: "UbuntuMedium";
    width: fit-content;
    

    span:first-child{
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
    }

    span:last-child{
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    span{
        padding: .4em .8em;
        cursor: default;
        color: $font-color;
        font-size: 12px;
        z-index: 2;
        &:hover{
            background-color:rgba(170, 170, 177, 0.158);
            // color: rgb(247, 248, 252);
        }
    }
}