@import '../layout/layout-page.scss';
@import '../components/buttons.scss';
@import '../components/input.scss';
@import '../components/icon.scss';
@import '../components/forms/form-group.scss';
@import '../components/forms/form-subgroup.scss';
@import '../components/forms/form-choice.scss';
@import '../base/base-class.scss';

.container{

    .container__dashboard{
        flex-direction: column;

        .container__dashboard__block-groups{
            display: flex;
            flex-direction: column;
            height: 100%;
            // @include style_right_block;
            margin-top: 1em;
            overflow: hidden;
            padding-top: 2px;

            .container__dashboard__block-groups__nav{
                width: 100%;
                // margin: 0 .4em;
                // z-index: 2;

                .container__dashboard__block-groups__nav__items{
                    display: flex;
                    // justify-content: space-around;
                    width: 100%;
                    align-items: center;
                    // border-bottom: solid 1px gray;
                    // background-color: rgba(211, 211, 224, 0.534);
                    background-color: transparent;
                    > div:not(.js-selected-item-nav):hover{
                        // background-color: rgba(91, 92, 110, 0.842);
                        // line-height: 3px;
                        @keyframes tabs {
                            0%{ height: 0%; }
                            20%{ height: 100%; }
                            100%{ height: 100%; }
                        }
                        &::before{
                            content: "";
                            width: 100%;
                            // height: 100%;
                            animation: tabs 1s linear 1 forwards;
                            position: absolute;
                            border-top-right-radius: 5px;
                            border-top-left-radius: 5px;
                            bottom: 0px;
                            display: block;
                            background-color: rgba(200, 202, 214, 0.116);
                        }
                    }
                    > div{
                        padding: .4em 0;
                        width: 50%;
                        position: relative;
                        text-align: center;
                        color: rgba(91, 92, 110, 0.842);
                        
                        cursor: pointer;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        &:hover{
                            color: rgba(58, 59, 78, 0.959);
                        }
                    }
                    .js-selected-item-nav{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // border-left: solid 1px gray;
                        // border-right: solid 1px gray;
                        // border-top: solid 1px gray;
                        // background-color:  rgb(252, 252, 252);
                        background-color: white;
                        // box-shadow: 1px -1.2px 2px 0 rgba(80, 80, 119, 0.1);
                        font-weight: bold;
                        color: rgba(58, 59, 78, 0.959);
                    }

                    @keyframes pulse_anim {
                        0%{ transform:  scale(1); }
                        50%{ transform:  scale(1.3); }
                        100%{ transform:  scale(1); }
                    }

                    .js-incorrect-block > span::after{
                        content: "";
                        display: inline-block;
                        width: 1.2em;
                        height: 1em;
                        position: absolute;
                        margin-top: -.4em;
                        background-image: url("/images/warning.svg");
                        background-size: 1em;
                        background-repeat: no-repeat;
                        background-position: top;
                        animation: pulse_anim 1s ease infinite forwards;

                    }
                }

                .container__dashboard__block-groups__nav__bottom-block{
                    // background-color: rgba(139, 147, 187, 0.226);
                    // border-radius: 5px;
                    // width: 50%;
                    // height: 3px;
                }

                
            }

            .container__dashboard__block-groups__content{
                @include style_right_block;
                height: 100%;
                z-index: 1;
                color: $font-color-title;
                box-shadow: 0 0 0 0 transparent;
                overflow: auto;
                @include scroll_customize;
                background-color: white;


                .container__dashboard__block-groups__content__item-left{
                    
                    .group{
                        padding: 1em 1em;
                        // margin: .1em 0 1em 0;
                        &:first-child{ margin-top: .15em;} 
                        &:last-child{ margin-bottom: 1em;}
                        // &:hover{
                        //     @include hover_row;
                        //     background-color: rgba(194, 194, 199, 0.07);
                        // }
                        .group__config{
                            display: flex;
                            justify-content: space-between;
                            .group__config__name{
                                font-weight: bold;
                                display: flex;
                                align-items: center;
                                font-size: 110%;
                                width: 100%;
                            }

                            .group__config__btns{
                                display: flex;
                                > div:not(:last-child){ margin-right: 1em; }
                            }
                        }

                        .group__contingent{
                            color: $font-color;
                            display: flex;
                            justify-content: space-between;
                            font-size: 83%;
                            margin: .5em 0;
                            .group__contingent__count-block{
                                display: flex;
                                align-items: center;

                                > span{ 
                                    margin-right: .5em;
                                } 
                            }
                        }

                        .group__subgroups{

                            .group__subgroups__block.invalid-block{
                                box-shadow: 0 0 0 2px rgba(219, 7, 7, 0.438);
                            }
                            .group__subgroups__block{
                                background-color: $background-color-block;
                                box-shadow: 0 0 0 2px rgba(80, 83, 117, 0.137);
                                border-radius: 10px;
                                padding: .5em;
                                position: relative;
                                margin: .8em 0 .8em 3em;
                                .group__subgroups__block__btns{
                                    display: flex;
                                    position: absolute;
                                    right: .5em;

                                    > div:not(:last-child){
                                        margin-right: 1em;
                                    }
                                }
                                .group__subgroups__block__content{
                                    padding-top: .8em;
                                    .group__subgroups__block__content__value{
                                        .group__subgroups__block__content__value__name{
                                            font-size: 90%;
                                            font-weight: bold;
                                            display: flex;
                                            align-items: center;
                                            width: fit-content;
                                        }
                                        .group__subgroups__block__content__value__contingent{
                                            display: flex;
                                            justify-content: space-between;
                                            font-size: 83%;
                                            margin: .3em 0;
                                            > div{ 
                                                display: flex;
                                                align-items: center;
                                                > span:first-child{
                                                    margin-right: .5em;
                                                    color: $font-color;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .container__dashboard__block-groups__content__item-right{
                
                    .choice-block.invalid-block{
                        box-shadow: 0 0 0 2px rgba(219, 7, 7, 0.438);
                    }
                    .choice-block{
                        background-color: $background-color-block;
                        box-shadow: 0 0 0 2px rgba(80, 83, 117, 0.137);
                        border-radius: 10px;
                        position: relative;
                        margin: 1em;
                        padding: .8em;
                        .choice-block__top{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: .4em;
                            .choice-block__top__sem{
                                font-size: 85%;
                            }
                            .choice-block__top__btns{
                                // display: flex;
                            }
                        }

                        .choice-block__content{
                            margin-bottom: .3em;

                            > div:first-child{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }

                            .choice-block__content__name{
                                font-size: 90%;
                                font-weight: bold;
                                padding-right: .5em;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .choice-block__content__contingent__list{
                                display: flex;
                                justify-content: space-between;
                                color: $font-color;
                                font-size: 83%;
                                > div{
                                    display: flex;
                                    align-items: center;
                                    > span{ 
                                        margin-right: .5em;
                                    } 
                                }
                            }
                        }
                    }
                }
                
                .container__dashboard__block-groups__content__btns{
                    display: flex;
                    margin: .4em;
                    justify-content: flex-end;
                }
            }
        }

        .container__dashboard__top-block{
            display: flex;

            > div:first-child{
                flex: 1;
            }
            > div:last-child{
                flex: 1;
            }

            .container__dashboard__top-block__courses-block{
                display: flex;
                margin: .5em 0 0 .5em;
                font-size: 85%;
                color: rgba(91, 92, 110, 0.842);
                align-items: center;
                
                .js-selected-course{
                    font-size: 90%;
                    background-color: rgb(78, 84, 114);
                    color: rgb(240, 240, 247);
                    padding: .4em .6em;
                    font-weight: bold;
                }
                > div{
                    cursor: pointer;
                    padding: .2em .5em;
                    border-radius: 20px;
                    &:hover:not(.js-selected-course){
                        background-color: rgba(212, 212, 219, 0.521);
                    }
                }
                > div:not(:last-child){
                    margin-right: .5em;
                }
            }

            .container__dashboard__top-block__center-calendar{
                @include calendar;
            }

            .container__dashboard__top-block__block-left{
                .container__dashboard__top-block__block-left__btns{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: .5em;
                    margin-right: .5em;
                    font-size: 80%;
                }
            }
        }

        .container__dashboard__common-contingent{
            display: flex;
            justify-content: space-evenly;
            font-size: 88%;
            // border-radius: 2px;
            @include shadow;
            background-color: $block-color;
            // border-bottom: solid 1px rgb(58, 75, 105);
            margin: .8em 0 0 0;
            padding: .4em 0;
            font-size: 83%;

            > div{
                display: flex;
                align-items: center;
                margin: .1em 0;
                > span {
                    margin-right: .5em;
                }
                > div {
                    // background-color: rgba(210, 210, 218, 0.295);
                    border-radius: 5px;
                    padding: .1em .6em;
                }
            }
        }
    }
}



@media screen and (max-width:680px ){
    .container{
        .container__dashboard{
            .container__dashboard__top-block{
                .container__dashboard__top-block__courses-block{
                    > div span{
                        display: none;
                    }
                }
            }
            .group__config{

                .group__config__btns{
                    span{
                        display: none;
                    }
                }
            }
            .group__subgroups{
                .group__subgroups__block{
                    .group__subgroups__block__btns{
                        span{
                            display: none;
                        }
                    }
                }
            }
            // .container__dashboard__block-groups__content__btns{
            //     span{
            //         display: none;
            //     }
            // }
        }
    }
}


@media screen and (max-width:1220px ){
    .container{
        .container__dashboard{
            .container__dashboard__common-contingent{
                display: grid;
                grid-template-columns: repeat(auto-fill, 400px);
                justify-items: center;
                justify-content: center;
            }
            .container__dashboard__block-groups{
                .container__dashboard__block-groups__content{
                    // display: flex;
                    .container__dashboard__block-groups__content__item-left{
                        .group{
                            .group__config{
                               
                            }

                            .group__contingent{
                                display: grid;
                                grid-template-columns: repeat(auto-fill, 400px);
                            }
                        }
                    }
                }
            }   
        }
    }
}


@media screen and (max-width:1260px ){
    .container{
        .container__dashboard{
            .container__dashboard__block-groups{
                .container__dashboard__block-groups__content{
                    .container__dashboard__block-groups__content__item-right{
                        .choice-block{
                            .choice-block__content{
                                .choice-block__content__contingent__list{
                                    display: grid;
                                    grid-template-columns: repeat(auto-fill, 350px);
                                }
                            }
                        }
                    }
                    .container__dashboard__block-groups__content__item-left{
                        .group{
                            .group__subgroups{
                                .group__subgroups__block{
                                    .group__subgroups__block__content{
                                        display: grid;
                                        grid-template-columns: repeat(auto-fill, 350px);
                                        justify-content: space-between;
                                        margin-top: 1em;
                                        .group__subgroups__block__content__value{
                                            .group__subgroups__block__content__value__contingent{
                                                display: grid;
                                                grid-template-columns: repeat(auto-fill, 400px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width:800px ){
    .container{
        .container__dashboard{
            .container__dashboard__block-groups{
                .container__dashboard__block-groups__content{
                    .container__dashboard__block-groups__content__item-left{
                        .group{
                            .btn{
                                span{
                                    display: none;
                                }
                            }
                            .group__subgroups{
                                .group__subgroups__block{
                                    .group__subgroups__block__content{
                                        .group__subgroups__block__content__value{
                                            .group__subgroups__block__content__value__contingent{
                                                display: grid;
                                                grid-template-columns: repeat(auto-fill, 400px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}