@import '../layout/layout-page.scss';
@import '../base/base-class.scss';
@import '../abstracts/const-params.scss';

.container{

    .container__dashboard {

        flex-direction: column;
        // margin: 2em;

        .container__dashboard__lists {
            margin: 2em;
            width: 80%;
        }

        .container__dashboard__head {
            width: 100%;
            font-size: 1.2em;
            border-bottom-style: solid; 
            border-bottom-width:  2px;
            border-color: $font-color-title;
            //border-image: linear-gradient(to right, $font-color-title, rgba(0, 0, 0, 0));
            border-image: linear-gradient(to right, $font-color-title, rgba(0, 0, 0, 0)) 34% / 0 0 1;
            }

        .box-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            margin-top: 1em;
        }

        .box {
            display: flex;
            border: solid 1px $font-color-title;
            margin: 0 .6em .7em 0;
            border-radius: 10px;
            background-color: white;
             &:hover{
               background-color: rgba(56, 56, 68, 0.055);
            }
            box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09)
        }

        a {
            color: $font-color-title;
            width: fit-content;
            margin: 0em;
            font-size: 1em;
            text-decoration: none;
            border: none;
            display: flex;
            flex-grow: 1;
            padding: .7em;
        }

        .container__dashboard__list {
            margin-bottom: 1.5em;
        }
    }

    // .container__dashboard__grid  {
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     grid-row-gap: 1em;
    //     grid-column-gap: 1em;
    //     margin: 2em;

    //     .box {
    //         display: flex;
    //         min-height: 8em;
    //         &:hover{
    //            background-color: rgba(13, 26, 63, 0.64);
    //         }
    //         background-color: rgba(13, 26, 63, 0.74);
    //     }

    //     a {
    //         //width: fit-content;
    //         font-size: 1.1em;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         flex-grow: 1;
    //         text-decoration: none;
    //         border: none;
    //         padding: 2em;
    //         color: white;
    //     }
    // }
}