@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .4em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

html, body {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  font-size: 100%; }

.container .container__upmenu {
  font-family: 'UbuntuMedium';
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2.5px 1px #45436025;
  z-index: 2;
  padding: .2em 0 .2em 0; }
  .container .container__upmenu .container__upmenu__left {
    display: flex;
    align-items: center; }
    .container .container__upmenu .container__upmenu__left .container__upmenu__left__img {
      cursor: pointer;
      background-image: url("/images/upmenu.svg");
      background-repeat: no-repeat;
      padding: .8em;
      margin-left: .5em; }
    .container .container__upmenu .container__upmenu__left .container__upmenu__left__nav {
      margin-left: .5em; }
  .container .container__upmenu .container__upmenu__right {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container .container__upmenu .container__upmenu__right .container__upmenu__right__user {
      margin-right: 5em;
      font-size: 13px; }
      .container .container__upmenu .container__upmenu__right .container__upmenu__right__user::before {
        display: inline-block;
        content: '';
        background-image: url("/images/user.svg");
        background-repeat: no-repeat;
        width: 2em;
        height: 2em;
        background-size: 2em;
        vertical-align: middle;
        padding-right: .5em; }
    .container .container__upmenu .container__upmenu__right .container__upmenu__right__exit {
      margin-right: .5em;
      margin-left: .5em;
      cursor: pointer; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a::selection {
  background-color: transparent; }

span {
  cursor: default; }

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em; }
  .info-block::selection {
    background-color: transparent; }

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px; }
  .info-input-block::selection {
    background-color: transparent; }

.text {
  cursor: default; }
  .text::selection {
    background-color: transparent; }

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966); }

.input-block {
  font-size: 100%;
  position: relative; }
  .input-block div {
    color: #626269f3;
    margin-bottom: -3px;
    font-size: 97%;
    font-family: "UbuntuRegular"; }
  .input-block img {
    position: absolute;
    width: 1.4em;
    right: 1em;
    top: 45%; }

.invisible-block {
  visibility: hidden; }

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626269f3; }
  .input-flex span {
    padding-right: .5em; }

label::selection {
  background-color: transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes closeAnim {
  0% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
@keyframes openAnim {
  0% {
    margin-top: -100%; }
  100% {
    margin-top: 1.5em; } }
@keyframes dropAlert {
  0% {
    margin-top: -100%; }
  10% {
    margin-top: 1.5em; }
  80% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  transform: translate(-50%, 0%);
  background-color: white;
  display: flex;
  max-width: 600px;
  margin-top: -100%; }
  .alert.offline-alert {
    align-items: center; }
  .alert.open {
    animation: openAnim .7s ease  1  forwards; }
  .alert.close {
    animation: closeAnim .7s ease  1  forwards; }
  .alert.dropdownAlert {
    animation: dropAlert 4s ease  1  forwards; }
  .alert .image-close-block {
    position: absolute;
    right: .5em;
    top: .5em; }
  .alert img {
    width: 3em;
    height: auto;
    margin-right: 1em;
    animation: pulse 1s ease-in  infinite  both; }
  .alert .alert__container .alert__container__title {
    font-size: 103%;
    font-family: "UbuntuMedium";
    margin-top: 1em;
    margin-bottom: .3em; }
    .alert .alert__container .alert__container__title::selection {
      background-color: transparent; }
  .alert .alert__container .alert__container__msg {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__msg .alert__container__msg__list {
      list-style: square;
      padding-left: 1em; }
      .alert .alert__container .alert__container__msg .alert__container__msg__list span {
        display: list-item; }
  .alert .alert__container .alert__container__content {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__content > div {
      padding: .2em 0; }
      .alert .alert__container .alert__container__content > div::before {
        content: "";
        display: inline-block;
        margin-right: .3em;
        width: 7px;
        height: 7px;
        background-color: #383964;
        border-radius: 10px;
        margin-bottom: 2px; }
    .alert .alert__container .alert__container__content::selection {
      background-color: transparent; }

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39); }

.success-block {
  border: solid 3px #21a1365b;
  box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39); }

.hide-block {
  display: none !important; }

#view-year::selection {
  background-color: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.loader {
  display: none; }

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto; }

input.text-name {
  width: 45%; }

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em; }

.toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer; }
  .toggle input:hover {
    border: 1px solid #46455f7e; }
  .toggle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(135, 131, 161, 0.466);
    border-radius: 50%;
    left: 1.5px;
    top: 2px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
  .toggle input:checked::after {
    transform: translateX(calc(100% + .5px));
    background-color: #bbc1e1; }
  .toggle input:checked {
    border: 1px solid #bbc1e1; }
    .toggle input:checked:hover {
      border: 1px solid #46455f7e; }
.toggle label {
  font-size: 14px;
  padding-left: 3px; }

.container {
  background-color: rgba(225, 225, 228, 0.158);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: rgba(13, 26, 63, 0.74);
  flex: 1;
  font-family: 'UbuntuRegular'; }
  .container .container__dashboard {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100%;
    flex: 1; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a::selection {
  background-color: transparent; }

span {
  cursor: default; }

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em; }
  .info-block::selection {
    background-color: transparent; }

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px; }
  .info-input-block::selection {
    background-color: transparent; }

.text {
  cursor: default; }
  .text::selection {
    background-color: transparent; }

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966); }

.input-block {
  font-size: 100%;
  position: relative; }
  .input-block div {
    color: #626269f3;
    margin-bottom: -3px;
    font-size: 97%;
    font-family: "UbuntuRegular"; }
  .input-block img {
    position: absolute;
    width: 1.4em;
    right: 1em;
    top: 45%; }

.invisible-block {
  visibility: hidden; }

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626269f3; }
  .input-flex span {
    padding-right: .5em; }

label::selection {
  background-color: transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes closeAnim {
  0% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
@keyframes openAnim {
  0% {
    margin-top: -100%; }
  100% {
    margin-top: 1.5em; } }
@keyframes dropAlert {
  0% {
    margin-top: -100%; }
  10% {
    margin-top: 1.5em; }
  80% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  transform: translate(-50%, 0%);
  background-color: white;
  display: flex;
  max-width: 600px;
  margin-top: -100%; }
  .alert.offline-alert {
    align-items: center; }
  .alert.open {
    animation: openAnim .7s ease  1  forwards; }
  .alert.close {
    animation: closeAnim .7s ease  1  forwards; }
  .alert.dropdownAlert {
    animation: dropAlert 4s ease  1  forwards; }
  .alert .image-close-block {
    position: absolute;
    right: .5em;
    top: .5em; }
  .alert img {
    width: 3em;
    height: auto;
    margin-right: 1em;
    animation: pulse 1s ease-in  infinite  both; }
  .alert .alert__container .alert__container__title {
    font-size: 103%;
    font-family: "UbuntuMedium";
    margin-top: 1em;
    margin-bottom: .3em; }
    .alert .alert__container .alert__container__title::selection {
      background-color: transparent; }
  .alert .alert__container .alert__container__msg {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__msg .alert__container__msg__list {
      list-style: square;
      padding-left: 1em; }
      .alert .alert__container .alert__container__msg .alert__container__msg__list span {
        display: list-item; }
  .alert .alert__container .alert__container__content {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__content > div {
      padding: .2em 0; }
      .alert .alert__container .alert__container__content > div::before {
        content: "";
        display: inline-block;
        margin-right: .3em;
        width: 7px;
        height: 7px;
        background-color: #383964;
        border-radius: 10px;
        margin-bottom: 2px; }
    .alert .alert__container .alert__container__content::selection {
      background-color: transparent; }

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39); }

.success-block {
  border: solid 3px #21a1365b;
  box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39); }

.hide-block {
  display: none !important; }

#view-year::selection {
  background-color: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.loader {
  display: none; }

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto; }

input.text-name {
  width: 45%; }

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em; }

.toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer; }
  .toggle input:hover {
    border: 1px solid #46455f7e; }
  .toggle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(135, 131, 161, 0.466);
    border-radius: 50%;
    left: 1.5px;
    top: 2px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
  .toggle input:checked::after {
    transform: translateX(calc(100% + .5px));
    background-color: #bbc1e1; }
  .toggle input:checked {
    border: 1px solid #bbc1e1; }
    .toggle input:checked:hover {
      border: 1px solid #46455f7e; }
.toggle label {
  font-size: 14px;
  padding-left: 3px; }

.icon-small {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.1em 1em;
  width: 1.2em;
  height: 1.2em; }

.icon-add {
  background-image: url("/images/add.svg"); }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  width: 2em;
  height: 2em; }

.icon-refresh {
  background-image: url("/images/refresh.svg"); }

.icon-refresh-new-version {
  background-image: url("/images/refresh-new-version.svg"); }

.icon-remove {
  background-image: url("/images/remove.svg"); }

.icon-no-tweet {
  background-image: url("/images/no-tweet.svg");
  background-size: 1.3em; }

.icon-tweet {
  background-image: url("/images/tweet.svg");
  background-size: 1.3em; }

.icon-published {
  background-image: url("/images/published.svg");
  background-size: 1.3em; }

.icon-edit {
  background-image: url("/images/edit.svg"); }

.icon-remove {
  background-image: url("/images/remove.svg"); }

.icon-arrow-dropdown {
  background-image: url("/images/arrow-up-thin.svg");
  transform: rotate(0deg);
  transition: transform .5s linear; }

.icon-arrow-dropdown.rotated {
  transform: rotate(180deg);
  transition: transform .5s linear; }

.icon-arrow-list {
  background-image: url("/images/arrow-list.svg"); }

.icon-arrow-list.rotated {
  transform: rotate(90deg);
  transition: transform .5s ease; }

.icon-arrow-list {
  transform: rotate(0deg);
  transition: transform .5s ease; }

.icon-contingent {
  background-image: url("/images/contingent.svg"); }

.icon-check {
  background-image: url("/images/checkbox.svg"); }

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .4em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
.container {
  font-size: 100%; }
  .container #confirmForm .form {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding-top: 1em;
    padding-bottom: 1em; }
  .container .container__background {
    background-color: rgba(55, 60, 105, 0.158);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .container__background .container__background__dialog {
      z-index: 40;
      background-color: white;
      border-radius: 2px;
      font-size: 95%;
      box-sizing: border-box;
      min-width: 400px;
      max-width: 700px;
      max-height: 500px;
      position: relative;
      border: solid 2px rgba(62, 67, 92, 0.09);
      box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09); }
      .container .container__background .container__background__dialog .container__background__dialog__title {
        font-size: 105%;
        color: #383964;
        margin: .7em;
        text-transform: uppercase;
        font-family: "UbuntuMedium"; }
      .container .container__background .container__background__dialog .form {
        display: flex;
        font-size: 90%;
        padding: 0 .7em; }
      .container .container__background .container__background__dialog .btns {
        display: flex;
        justify-content: flex-end;
        margin: .7em; }
        .container .container__background .container__background__dialog .btns input[type="button"]:first-child {
          margin-right: 1em; }
      .container .container__background .container__background__dialog .container__background__dialog__form {
        font-size: 90%; }
        .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
          display: flex;
          position: relative;
          justify-content: flex-end;
          margin-top: 1em; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
            font-size: 90%; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
            margin-right: 1em; }

.container .container__background#tieSubjectToTeacherForm .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  flex-direction: column;
  padding-top: .7em;
  padding-bottom: .7em; }

.container .bold {
  font-weight: bolder; }
.container .right {
  padding-right: 7px !important; }
.container .btn-base {
  border-radius: 5px;
  background-color: #34335cef;
  padding: .2em .5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  margin: 10px; }
  .container .btn-base span {
    font-size: 85%;
    color: rgba(237, 237, 243, 0.897);
    cursor: pointer;
    padding: .4em .4em .4em 0;
    font-family: "UbuntuMedium";
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
.container .container__teachers {
  display: flex;
  min-height: 150px;
  background-color: #fdfdfd;
  box-shadow: 0 0 3px 0 rgba(80, 80, 119, 0.226);
  color: #54516d;
  margin-bottom: 10px;
  padding: 10px; }
  .container .container__teachers .hours {
    padding-left: 3px;
    padding-right: 3px; }
  .container .container__teachers #infoteacher {
    width: 20%;
    margin: 0 10px; }
  .container .container__teachers #hoursteacher {
    width: 20%;
    margin: 0 10px; }
    .container .container__teachers #hoursteacher .container__dashboard__right-block__stat {
      padding: .1em .4em; }
      .container .container__teachers #hoursteacher .container__dashboard__right-block__stat span {
        font-weight: bold; }
  .container .container__teachers #actions {
    width: 170px;
    margin-top: 5px;
    margin: 5px 10px 5px 10px; }
  .container .container__teachers #otherteachers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    margin: 10px; }
    .container .container__teachers #otherteachers div {
      display: flex;
      border: solid 1px #383964;
      margin: 0 .6em .7em 0;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09);
      height: 25px; }
      .container .container__teachers #otherteachers div a {
        color: #383964;
        width: fit-content;
        margin: 0em;
        text-decoration: none;
        border: none;
        display: flex;
        flex-grow: 1;
        padding: 5px; }
.container .container__dashboard {
  justify-content: space-between; }
  .container .container__dashboard .container__dashboard__right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    font-size: 92%; }
    .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__config {
      margin-top: auto;
      margin-bottom: auto; }
    .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__hours {
      background-color: #fdfdfd;
      box-shadow: 0 0 3px 0 rgba(80, 80, 119, 0.226);
      color: #54516d;
      overflow: auto;
      height: 90%;
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__hours::-webkit-scrollbar {
        width: 10px; }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__hours::-webkit-scrollbar-thumb {
        background-color: #B9ADB3; }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__hours::-webkit-scrollbar-track {
        background-color: rgba(163, 159, 161, 0.205); }
    .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__teachers .container__dashboard__right-block__teachers__item {
      display: flex;
      cursor: pointer; }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__teachers .container__dashboard__right-block__teachers__item.limit > div:nth-child(3)::before {
        content: "";
        background-image: url("/images/warning.svg");
        background-repeat: no-repeat;
        background-size: 1em;
        width: 1.8em;
        height: 1em;
        animation: pulse 1s ease-in  infinite  both; }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__teachers .container__dashboard__right-block__teachers__item:hover {
        background-color: rgba(202, 202, 206, 0.267); }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__teachers .container__dashboard__right-block__teachers__item.js-selected-teacher {
        background-color: rgba(222, 222, 228, 0.567); }
        .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__teachers .container__dashboard__right-block__teachers__item.js-selected-teacher > div:first-child {
          background-color: #9597aa6b;
          padding: 1px;
          height: auto; }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__teachers .container__dashboard__right-block__teachers__item > div:first-child {
        padding: 1px;
        height: auto;
        transition: background .5s ease; }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__teachers .container__dashboard__right-block__teachers__item > div {
        padding: .6em .4em; }
      .container .container__dashboard .container__dashboard__right-block .container__dashboard__right-block__teachers .container__dashboard__right-block__teachers__item .container__dashboard__right-block__teachers__item__hours {
        display: flex;
        align-items: center;
        margin-left: auto; }
  .container .container__dashboard .container__dashboard__left-block {
    font-size: 97%;
    height: 100%;
    width: 75%;
    overflow: auto;
    background-color: #fdfdfd;
    box-shadow: 0 0 3px 0 rgba(80, 80, 119, 0.226);
    color: #54516d;
    font-family: "UbuntuLight";
    background-color: white; }
    .container .container__dashboard .container__dashboard__left-block::-webkit-scrollbar {
      width: 10px; }
    .container .container__dashboard .container__dashboard__left-block::-webkit-scrollbar-thumb {
      background-color: #B9ADB3; }
    .container .container__dashboard .container__dashboard__left-block::-webkit-scrollbar-track {
      background-color: rgba(163, 159, 161, 0.205); }
    .container .container__dashboard .container__dashboard__left-block .table {
      font-size: 90%;
      width: 100%;
      border-collapse: collapse; }
      .container .container__dashboard .container__dashboard__left-block .table .thead {
        font-size: 95%;
        padding: 0;
        margin: 0; }
        .container .container__dashboard .container__dashboard__left-block .table .thead tr#head th {
          height: 45px; }
        .container .container__dashboard .container__dashboard__left-block .table .thead .th:nth-child(5) {
          max-width: 80px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .container .container__dashboard .container__dashboard__left-block .table .thead .th {
          font-weight: normal;
          padding: .6em 20px .6em 0.2em;
          text-align: left;
          position: relative;
          top: 0;
          background-color: white;
          z-index: 1;
          box-shadow: inside 0 0px 1px 0 rgba(96, 101, 126, 0.425);
          cursor: pointer !important; }
        .container .container__dashboard .container__dashboard__left-block .table .thead .th:hover {
          background-color: rgba(202, 202, 206, 0.167); }
        .container .container__dashboard .container__dashboard__left-block .table .thead .th:before,
        .container .container__dashboard .container__dashboard__left-block .table .thead .th:after {
          border-style: solid;
          border-width: 7px 4px;
          border-color: transparent;
          content: '';
          height: 0;
          position: absolute;
          right: 10px;
          width: 0; }
        .container .container__dashboard .container__dashboard__left-block .table .thead .th:before {
          border-bottom-color: rgba(86, 110, 177, 0.2);
          top: 13px; }
        .container .container__dashboard .container__dashboard__left-block .table .thead .th:after {
          border-top-color: rgba(86, 110, 177, 0.2);
          bottom: 13px; }
        .container .container__dashboard .container__dashboard__left-block .table .thead .desc:before {
          border-bottom-color: rgba(86, 110, 177, 0.8); }
        .container .container__dashboard .container__dashboard__left-block .table .thead .asc:after {
          border-top-color: rgba(86, 110, 177, 0.8);
          bottom: 13px; }
        .container .container__dashboard .container__dashboard__left-block .table .thead .th:first-child {
          text-align: left;
          padding-left: 2em; }
        .container .container__dashboard .container__dashboard__left-block .table .thead .name-subject {
          width: 20vw;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap; }
      .container .container__dashboard .container__dashboard__left-block .table .tbody .tr-subline {
        font-size: 93%; }
        .container .container__dashboard .container__dashboard__left-block .table .tbody .tr-subline .td:first-child {
          padding-left: 2em; }
          .container .container__dashboard .container__dashboard__left-block .table .tbody .tr-subline .td:first-child > div::before {
            content: "";
            display: inline-block;
            background-color: rgba(78, 88, 133, 0.521);
            width: 2px;
            height: 100%;
            left: 1em;
            position: absolute; }
        .container .container__dashboard .container__dashboard__left-block .table .tbody .tr-subline:hover {
          box-shadow: 0 0 0 1px rgba(96, 101, 126, 0.226);
          background-color: rgba(185, 188, 196, 0.116); }
      .container .container__dashboard .container__dashboard__left-block .table .tbody .tr-main {
        font-family: "UbuntuMedium"; }
        .container .container__dashboard .container__dashboard__left-block .table .tbody .tr-main .td:first-child {
          padding-left: .5em; }
        .container .container__dashboard .container__dashboard__left-block .table .tbody .tr-main:hover {
          box-shadow: 0 0 0 1px rgba(96, 101, 126, 0.226);
          background-color: rgba(185, 188, 196, 0.116); }
      .container .container__dashboard .container__dashboard__left-block .table .tbody .tr {
        padding: 0;
        margin: 0; }
        .container .container__dashboard .container__dashboard__left-block .table .tbody .tr.tr-distributed:not(.tr-pract) .td:last-child:hover .clear {
          display: inline-block; }
        .container .container__dashboard .container__dashboard__left-block .table .tbody .tr.js-distributed .td {
          background: rgba(86, 110, 177, 0.137); }
        .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td {
          padding: 0;
          position: relative;
          height: 10px; }
          .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td > div {
            display: flex;
            align-items: center;
            padding: .6em 0.2em;
            height: 100%; }
            .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td > div .icon-arrow-list {
              display: inline-block;
              background-image: url(/images/arrow-list.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: .7em;
              width: 1em;
              height: 1em;
              margin-right: .4em;
              cursor: pointer; }
            .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td > div.profile-name {
              display: block;
              width: 15vw;
              font-size: 80%; }
          .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td .name-subject {
            width: 18vw;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
          .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td .clear {
            display: none;
            width: .7em;
            height: .7em;
            background-size: .7em;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 3px;
            right: 3px;
            padding: 3px; }
            .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td .clear:hover {
              background-color: rgba(213, 213, 226, 0.733);
              border-radius: 2px; }
          .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td .tie {
            font-family: "UbuntuLight";
            padding: 1em 0;
            height: auto;
            color: #545977;
            display: none;
            text-align: center;
            width: 99%;
            border-left: solid 1px transparent; }
          .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td .teacher-block {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            display: block;
            border-left: solid 1px transparent;
            background: rgba(86, 110, 177, 0.06); }
        .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td:last-child:hover {
          background-color: rgba(195, 197, 211, 0.137); }
          .container .container__dashboard .container__dashboard__left-block .table .tbody .tr .td:last-child:hover .teacher-block {
            text-align: center;
            border-left: solid 1px rgba(96, 101, 126, 0.226); }

/*# sourceMappingURL=distributiont.css.map */
