@import '../layout/layout-page.scss';
@import '../base/base-class.scss';
@import '../abstracts/const-params.scss';
@import '../components/icon.scss';
@import '../components/input.scss';
@import '../components/forms/form-tieSubject.scss';

.container{

     .bold {
      font-weight: bolder;
     }

     .right {
      padding-right: 7px !important;
     }

    .btn-base {
      border-radius: 5px;
      background-color: #34335cef;
      padding: .2em .5em;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      cursor: pointer;
      margin: 10px;

      span {
          font-size: 85%;
          color: rgba(237, 237, 243, 0.897);
          cursor: pointer;
          padding: .4em .4em .4em 0;
          font-family: "UbuntuMedium";
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
      }
    }
    
    .container__teachers {

      display: flex;
      // justify-content: space-between;
      min-height: 150px;
      background-color: #fdfdfd;
      box-shadow: 0 0 3px 0 rgba(80, 80, 119, 0.226);
      color: #54516d;
      margin-bottom: 10px;
      padding: 10px;

      .hours {
        padding-left: 3px;
        padding-right:  3px;
      }

      #infoteacher {
        width: 20%;
        margin: 0 10px;
      }

      #hoursteacher {
        width: 20%;
        margin: 0 10px;
        .container__dashboard__right-block__stat {
                    padding: .1em .4em;
                    span {
                        font-weight: bold;
                    }
        }
      }

      #actions {
        width: 170px;
        margin-top: 5px;
        margin: 5px 10px 5px 10px;
      }

      #otherteachers {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        // width: 35%;
        justify-content: flex-end;
        flex-grow: 1;

        // align-items: stretch;
        margin: 10px;
        div {
          display: flex;
          border: solid 1px #383964;
          margin: 0 .6em .7em 0;
          border-radius: 10px;
          background-color: white;
          box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09);
          height: 25px;
           a {
            color: #383964;
            width: fit-content;
            margin: 0em;
            // font-size: 1em;
            text-decoration: none;
            border: none;
            display: flex;
            flex-grow: 1;
            padding: 5px;
           }
        }
      }
    }
    .container__dashboard{
        justify-content: space-between;
        .container__dashboard__right-block{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20%;
            font-size: 92%;
            .container__dashboard__right-block__config{
                margin-top: auto;
                margin-bottom: auto;
            }

            .container__dashboard__right-block__hours {
                 @include style_right_block;
                 @include scroll_customize;
                 overflow: auto;
                 height: 90%;
                 display: flex;
                 justify-content: space-between;
                 flex-direction: column;

                 
            }

            .container__dashboard__right-block__teachers{
                // @include style_right_block;
                // @include scroll_customize;
                // overflow: auto;
                // height: 90%;

                .container__dashboard__right-block__teachers__item{
                    display: flex;
                    cursor: pointer;

                    &.limit{
                        > div:nth-child(3)::before{
                            content: "";
                            background-image: url("/images/warning.svg");
                            background-repeat: no-repeat;
                            background-size: 1em;
                            width: 1.8em;
                            height: 1em;
                            animation: pulse 1s ease-in  infinite  both;
                        }
                    }
                    &:hover{
                        // background-color: rgba(68, 70, 107, 0.096);
                        background-color:  rgba(202, 202, 206, 0.267);
                    }
                    &.js-selected-teacher{
                        background-color:  rgba(222, 222, 228, 0.567);
                        > div:first-child{
                            background-color: #9597aa6b;
                            padding: 1px;
                            height: auto;
                        }
                    }
                    > div:first-child{
                        padding: 1px;
                        height: auto;
                        transition: background .5s ease;
                    }
                    > div{
                        padding: .6em .4em;
                    }
                    .container__dashboard__right-block__teachers__item__hours{
                        display: flex;
                        align-items: center;
                        margin-left: auto;
                    }
                }
            }
        }
        
        .container__dashboard__left-block{
            font-size: 97%;
            height: 100%;
            width: 75%;
            overflow: auto;
            @include style_right_block;
            @include scroll_customize;
            font-family: "UbuntuLight";
            background-color: white;
            .table{
                font-size: 90%;
                width: 100%;
                border-collapse: collapse;
                .thead{
                    font-size: 95%;
                    padding: 0;
                    margin: 0;
                    // th:nth-child(4){
                    //     display: none;
                    // }

                    tr#head th {
                       height: 45px;
                    }
                    .th:nth-child(5){
                        max-width: 80px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .th{
                        font-weight: normal;
                        padding: .6em 20px .6em 0.2em;
                        text-align: left;
                        position: relative;
                        top: 0;
                        background-color: white;
                        z-index: 1;
                        box-shadow: inside 0 0px 1px 0 rgba(96, 101, 126, 0.425);
                        cursor: pointer !important;
                    }
                    .th:hover{
                        background-color: rgba(202, 202, 206, 0.167);
                    }

                    .th:before,
                    .th:after {
                      border-style: solid;
                      border-width: 7px 4px;
                      border-color: transparent;
                      content: '';
                      height: 0;
                      position: absolute;
                      right: 10px;
                      width: 0;
                    }

                    .th:before {
                      border-bottom-color: rgba(86, 110, 177, 0.2);
                      top: 13px;
                    }

                    .th:after {
                      border-top-color: rgba(86, 110, 177, 0.2);
                      bottom: 13px;
                    }

                    .desc:before {
                      border-bottom-color: rgba(86, 110, 177, 0.8);
                    }

                    .asc:after {
                      border-top-color: rgba(86, 110, 177, 0.8);
                      bottom:13px;
                    }

                    .th:first-child{
                        text-align: left;
                        padding-left: 2em;
                    }
                    .name-subject{
                        width: 20vw;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    
                }
                .tbody{
                    // .tr-main .td:nth-child(4){
                    //     display: none;
                    // }
                    .tr-subline{
                        font-size: 93%; 
                        .td:first-child{
                            padding-left: 2em;
                            >div::before{
                                content: "";
                                display: inline-block;
                                background-color: rgba(78, 88, 133, 0.521);
                                width: 2px;
                                height: 100%;
                                left: 1em;
                                position: absolute;
                            }
                        }
                        &:hover{
                            box-shadow: 0 0 0 1px rgba(96, 101, 126, 0.226);
                            background-color: rgba(185, 188, 196, 0.116);
                        }
                    }
                    .tr-main{
                        // background-color: rgba(239, 242, 247, 0.781);
                        // background-color: rgb(173, 173, 197);
                        // background-color: rgba(178, 181, 207, 0.116);
                        font-family: "UbuntuMedium";
                        .td:first-child{
                            padding-left: .5em;
                        }
                        &:hover{
                            box-shadow: 0 0 0 1px rgba(96, 101, 126, 0.226);
                            background-color: rgba(185, 188, 196, 0.116);
                        }
                    }
                    .tr{
                        padding: 0;
                        margin: 0;
                        &.tr-distributed:not(.tr-pract){
                            .td:last-child:hover{
                                .clear{
                                    display: inline-block;
                                }
                            }
                        }
                        &.tr-distributed{
                            // .td{background: rgba(245, 234, 135, 0.973);}
                        }
                        &.js-distributed{
                            // background-color: rgb(236, 161, 161) !important;
                            .td{
                                background: rgba(86, 110, 177, 0.137);
                            }
                        }
                        
                        .td{
                            padding: 0;
                            position: relative;
                            height: 10px;
                            > div{
                                display: flex;
                                align-items: center;
                                padding: .6em 0.2em;
                                height: 100%;
                                .icon-arrow-list{
                                    display: inline-block;
                                    background-image: url(/images/arrow-list.svg);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: .7em;
                                    width: 1em;
                                    height: 1em;
                                    margin-right: .4em;
                                    cursor: pointer;
                                }

                                &.profile-name{
                                    display: block;
                                    width: 15vw;
                                    font-size: 80%;
                                    // white-space: nowrap;
                                    // overflow: hidden;
                                    // text-overflow: ellipsis;
                                }
                            }
                            .name-subject{
                                width: 18vw;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                            .clear{
                                display: none;
                                width: .7em;
                                height: .7em;
                                background-size: .7em;
                                background-repeat: no-repeat;
                                background-position: center;
                                position: absolute;
                                top: 3px;
                                right: 3px;
                                padding: 3px;
                                &:hover{
                                    background-color: rgba(213, 213, 226, 0.733);
                                    border-radius: 2px;
                                }
                            }
                            .tie{
                                font-family: "UbuntuLight";
                                padding: 1em 0;
                                height: auto;
                                color: rgb(84, 89, 119);
                                display: none;
                                text-align: center;
                                width: 99%;
                                border-left:  solid 1px transparent;
                            }
                            .teacher-block{
                                // padding: .3em 0;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                cursor: pointer;
                                display: block;
                                border-left:  solid 1px transparent;
                                background: rgba(86, 110, 177, 0.06);
                            }
                        }
                        .td:last-child{
                            // font-size: 14px;
                            &:hover{
                                background-color: rgba(195, 197, 211, 0.137);
                                // .tie{
                                //     cursor: pointer;
                                //     display: inline-block;
                                //     border-left:  solid 1px rgba(0, 0, 0, 0.226);
                                // }
                                .teacher-block{
                                    text-align: center;
                                    border-left:  solid 1px rgba(96, 101, 126, 0.226);
                                }
                            }
                        }
                        // .td:last-child{
                        //     border-left: solid 2px rgba(102, 105, 136, 0.534);
                        // }
                    }
                }
            }
        }
    }
}