@import '../layout/layout-page.scss';
@import '../components/buttons.scss';
@import '../components/input.scss';
@import '../components/icon.scss';
@import '../components/dropdown-menu.scss';
@import '../components/form.scss';
@import '../components/menu.scss';
@import '../components/forms/form-gloadSubgroup.scss';
@import '../components/forms/form-otherfaculties.scss';
@import '../base/base-class.scss';
@import '../components/forms/form-stream.scss';
@import '../components/forms/form-department.scss';
@import '../components/menu-search.scss';
@import '../components/menu-filter.scss';


$min-width-name-td: 30px;
$scroll-width: 10px;
$scroll-height: .7em;
$aside-menu-radius: 21px;
$aside-menu-item-height: 4em;

.instream {
    margin-top: .4em;
}

.js-hint-block{
    font-family: 'UbuntuRegular';
    position: absolute ;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    border-radius: 5px;
    padding: .6em;
    border: solid 2px rgb(243, 243, 250);
    box-shadow: 0 0 1px rgba(128, 128, 128, 0.219);
    font-size: .7em;
    box-sizing: border-box;
    color: rgba(13, 26, 63, 0.74);
}

// .up-td-elem{
//     z-index: 1000;
// }
span::selection{
    background-color: transparent;
}



.container{
    .context__menu.open{
        display: flex;

        &::before{
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            // background-color: rgba(95, 105, 150, 0.185);
        }
    }   
    .container__dashboard{
        .addRowTableLoad{
            display: none;
        }
      
        .container__dashboard__aside{
            display: flex;
            position: sticky;
            top: 0;
            left: 0;
            // z-index: 30;
            .container__dashboard__aside__content.close{
                display: none;
            }
            .container__dashboard__aside__content{
                display: flex;
                flex-direction: column;
                width: 20vw;

                
                .container__dashboard__aside__content__top{
                    display: flex;
                    justify-content: space-between;
                    margin: .5em .5em 0 .5em ;

                    > span{
                        font-family: "UbuntuMedium";
                        font-size: 110%;
                    }
                }
                .container__dashboard__aside__content__table{
                    @include data_block;
                    font-size: 85%;
                    flex-direction: column;
                    .table__elem{
                        .table__elem__name:hover{
                            background-color: rgba(184, 187, 207, 0.11);
                        }
                        .table__elem__name:first-child{ padding-left: .5em;}
                        .pd1{
                            .table__elem__name{
                                padding-left: 1em;
                            }
                            .pd2{ 
                                .table__elem__name{
                                    padding-left: 2em;
                                }
                                .pd3{
                                    .table__elem__name{padding-left: 3em;}
                                }
                            }
                        }
                        .table__elem__name{
                            display: flex;
                            align-items: center;
                            padding-top: .5em;
                            padding-bottom: .5em;
                            .btn{
                                width: 1.6em;
                                height: 1.6em;
                                background-size: .9em;
                            }
                            span{
                                padding-left: .3em;
                                padding-right: .5em;
                            }
                        }
                    }
                    





                    .stream-block{
                        width: 100%;
                        padding: .3em 0;
                        &:hover{
                            // background-color: rgba(171, 169, 179, 0.062);
                            // @include hover_row;
                            background-color: rgba(184, 187, 207, 0.11);
                        }
                        .stream-block__list-groups.close{
                            display: none;
                        }
                        .stream-block__list-groups{
                            .stream-block__list-groups__group{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: .4em .2em .4em 2em;
                                font-size: 93%;
                                .stream-block__list-groups__group__name{
                                    display: flex;
                                    align-items: center;
                                    width: 95%;
                                    span{
                                        margin-left: 2em;
                                        margin-right: 1em;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                                .icon{
                                    background-size: .9em;
                                    width: 1.6em;
                                    height: 1.6em;
                                    margin-right: .5em;
                                }
                            }
                        }
                        .stream-block__title{
                            display: flex;
                            justify-content: space-between;

                            .stream-block__title__info-block{
                                display: flex;
                                align-items: center;
                                width: 100%;
                                .stream-block__title__info-block__icon{
                                    background-size: .7em;
                                }
                                .stream-block__title__info-block__type{
                                    margin: 0 .7em;
                                    margin-left: auto;
                                    font-size: 85%;
                                    border-radius: 10px;
                                    padding: .2em .6em;
                                    color: rgb(85, 87, 102);
                                    &[data-type=lek]{
                                        background-color: rgba(83, 92, 216, 0.705);
                                    }
                                    &[data-type=pract]{
                                        background-color: rgba(67, 187, 87, 0.589);
                                    }
                                    &[data-type=lab]{
                                        background-color: rgba(221, 72, 92, 0.589);
                                    }
                                }
                                .stream-block__title__info-block__depart{
                                    // margin-left: auto;
                                    background-color: rgba(133, 133, 150, 0.199);
                                    font-size: 85%;
                                    padding: .2em .6em;
                                    border-radius: 15px;
                                    margin-right: 1em;
                                }
                               
                            }

                            .stream-block__title__btns{
                                display: flex;
                                align-items: center;
                                margin-right: .4em;
                                > div:first-child{
                                    margin-right: .5em;
                                }
                            }
                        }
                    }
                }
                
            }
            .container__dashboard__aside__menu{
                
                display: flex;
                // align-items: center;
                width: 2.6em;
                background-color: $primary-color;
                position: relative;
                .container__dashboard__aside__menu__items{
                    display: flex;
                    flex-direction: column;
                    .container__dashboard__aside__menu__item{
                        cursor: pointer;
                        &:not(.js-selected-item-aside-menu):hover{
                            background-color: rgba(229, 229, 239, 0.05);
                        }
                    }
                    .js-selected-item-aside-menu{
                        background-color: rgba(229, 229, 239, 0.15);
                    }
                    .icon-table{
                        background-image: url("/images/table.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 1.6em 2em;
                        height: $aside-menu-item-height;
                        width: 2.6em;
                    }
                    .icon-table.js-selected-item-aside-menu{
                        background-image: url("/images/table-hover.svg");
                    }
                    .icon-merge-group{
                        background-image: url("/images/merge-group.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 1.6em 2em;
                        height: $aside-menu-item-height;
                        width: 2.6em;
                    }
                    .icon-merge-group.js-selected-item-aside-menu{
                        background-image: url("/images/merge-group-hover.svg");
                    }
                    .icon-lines{
                        background-image: url("/images/lines.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 1.6em 2em;
                        height: $aside-menu-item-height;
                        width: 2.6em;
                    }
                    .icon-lines.js-selected-item-aside-menu{
                        background-image: url("/images/lines-hover.svg");
                    }
                    .icon-split{
                        background-image: url("/images/split.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 1.6em 2em;
                        height: $aside-menu-item-height;
                        width: 2.6em;
                    }
                    .icon-split.js-selected-item-aside-menu{
                        background-image: url("/images/split-hover.svg");
                    }
                }
            }
        }
            
                         
        .container__dashboard__content{
            font-size: .7em;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;
                    
            .container__dashboard__content__scroll{

                // max-height: 400px;
                display: flex;
                flex-direction: column;
                overflow: auto;
                height: 100%;
                flex: 1;
                box-shadow: 0 2px 2px rgba(80, 77, 77, 0.17);
                background-color: rgb(255, 255, 255);
                
                &::-webkit-scrollbar {
                    width: $scroll-width;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #B9ADB3;
                }
                &::-webkit-scrollbar-track{
                    background: transparent;
                }

                .container__config{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // background-color: rgba(182, 182, 212, 0.15);
                    background-color: $background-color;
                    padding: .5em;
                    position: sticky;
                    left: 0;
                    z-index:2;


                    .dropmenu{
                        display: none;
                    }
                   
                    .selected-block-config{
                        margin: 0 1.3em;
                        cursor: pointer;
                        padding: .2em 0;
                        font-size: 105%;
                        border-radius: .3em;
                        &:hover{
                            background-color: rgba(0,0,0,0.05);
                        }
                        .count-col{
                            display: none;
                        }
                        &.active{
                            background-color: $background-active-hide-col;
                            // .name-menu{
                            //     display: none;
                            // }
                            // .count-col{
                            //     display: inline-block;
                            // }
                            &:hover{
                                background-color: rgba(0,0,0,0.05);
                            }
                        }
                    }
                    

                    .name-config{
                        margin-left: .4em;
                        span{cursor: pointer;}
                        &::selection{
                            background-color: transparent;
                        }
                    }
                    
                    
                    .container__config__left{
                        display: flex;
                        align-items: center;
                        z-index: 2;
                        .container__config__left__block{


                            .container__config__left__block__line{
                                display: flex;
                                align-items: center;
                                padding:  0 .6em;
                                cursor: pointer;

                                .icon-hide-columns{
                                    content: "";
                                    display: inline-block;
                                    background-image: url("/images/hide-gload.svg");
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 1.6em;
                                    width: 1.6em;
                                    height: 1.6em;
                                    vertical-align: middle;
                                }
                            }

                            .icon-merge-columns{
                                content: "";
                                display: inline-block;
                                background-image: url("/images/merge.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 1.4em;
                                width: 1.6em;
                                height: 1.6em;
                                vertical-align: middle;
                            }
                            .icon-filter-columns{
                                content: "";
                                display: inline-block;
                                background-image: url("/images/filter.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 1.4em;
                                width: 1.6em;
                                height: 1.6em;
                                vertical-align: middle;
                            }  
                        }
                    }


                    .container__config__right{
                        display: flex;
                        z-index: 0;
                        
                        .container__config__right__line{
                            display: flex;
                            align-items: center;
                            padding:  0 .6em;
                            .icon-stats{
                                content: "";
                                display: inline-block;
                                background-image: url("/images/stats.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 1.4em;
                                width: 1.6em;
                                height: 1.6em;
                                vertical-align: middle;
                            }
                            
                            .icon-ecxel-download{
                                content: "";
                                display: inline-block;
                                background-image: url("/images/excel.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 1.4em;
                                width: 1.6em;
                                height: 1.6em;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
                    
                   
            .container__table{
                font-family: 'UbuntuRegular';
                border-radius: .2em;
                border-collapse: collapse;
                border-spacing: 0 !important;
                vertical-align: top;
                font-size: 120%;
                background-color: rgb(255, 255, 255);
                margin-bottom: 3em;
                z-index: 1;
                width: 100%;
                
                .cell{
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    // text-overflow: ellipsis;
                    cursor: default;
                    word-break: break-all;
                }
                .js-aside-block-scrolling{
                    border-right: solid 2px rgba(182, 182, 212, 0.4);
                    box-shadow: 4px 0 1px 0 rgba(182, 182, 212, 0.2);
                }


                thead{

                    .hide-icon{
                        display: none;
                        // display: inline-block;
                        // visibility: hidden;
                        background-image: url("/images/edit.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: .9em;
                        width: 1em;
                        height: 1em;
                    }

                    .hide-icon-show{
                        // display: inline-block;
                        // visibility: hidden;
                        display: none;
                        background-image: url("/images/circle.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: .9em;
                        width: 1em;
                        height: 1em;
                    }
                    td.testClass{
                        background-color: rgb(122, 209, 105) !important;
                    }
                    td{
                        background-color: rgb(255, 255, 255);
                        padding: 0;
                        margin: 0;
                        max-width: $min-width-name-td;
                        outline: solid 1px rgb(255, 255, 255);
                        label{
                            padding-left:.5em;
                        }

                        .parent{
                            margin-left: auto;
                            margin-right: auto;
                            text-align: center;
                        }
                    }
                    
                    .tr-top{
                        
                        td:nth-child(2){
                            position: sticky;
                            left: 0;
                            z-index: 13;
                        }

                        td:nth-child(3){
                            position: sticky;
                            z-index: 13;
                            div{
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                label{
                                    // text-overflow: ellipsis;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                    .tr-top td{
                        z-index: 12;
                        position: sticky;
                        top: 0;
                    }
                    .tr-bottom td{
                        position: sticky;
                        z-index: 12;
                    }
                }
                tbody{
                    position: relative;
                    height:  100%;
                    vertical-align: top;
                    margin: 0;
                    padding: 0;

                    .info-block{
                        font-size: 98%;
                        padding-top: 3em;
                    }
                    tr.line-info:hover{
                        
                        .line{
                            background-color: $hover-info-tr;
                            color: $font-color;
                            // > div:nth-child(2){
                            //     background-color: rgba(58, 85, 206, 0.411);
                            // }
                        }
                    }

                    tr#js-selected-row-load{
                        background-color: rgb(208, 208, 216);
                        .cell{
                            background-color: rgb(208, 208, 216);
                        }
                    }

                    .hidden-faculty{
                        display: none;
                    }

                    .hidden-form{
                        display: none;
                    }

                    .hidden-dir{
                        display: none;
                    }

                    .hidden-profile{
                        display: none;
                    }

                    .hidden-budget{
                        display: none;
                    }

                    
                    tr.show{
                        background-color: rgb(122, 209, 105) !important;
                    }
                    tr.hide{
                        background-color: rgb(233, 86, 86) !important;
                    }

                    tr.js-old-stroke{
                        // background-color: rgb(211, 83, 83);
                    }
                    tr.join-stream{
                        td:first-child{
                            background-color: rgba(84, 93, 228, 0.692);
                        }
                    }
                    tr.hideChoiceCourse{
                        color: rgba(133, 134, 138, 0.507);
                    }
                    tr{
                        height: 100%;
                        position: relative;
                        margin: auto;
                        padding: 0;

                        &:not(.info-tr):hover{
                            // background-color: rgba(234, 234, 241, 0.219);
                            // background-color: #b3b7c4;
                            background-color: rgb(210, 210, 221);
                            .cell{
                                background-color: rgb(210, 210, 221);
                            }
                        }


                        .line{
                            display: flex;
                            align-items: center;
                            padding: .3em 0;
                            cursor: pointer;
                            font-family: "UbuntuMedium";
                            // color:$font-color-gload;
                            color: rgb(234, 233, 241);
                            > div{
                                display: flex;
                                align-items: center;
                                position: sticky;
                            }
                        }

                        .td-row-direction{
                            position: sticky;
                            z-index: 10;
                        }
                       
                        .line-faculty{
                            // background-color: rgb(196, 196, 218);
                            // background-color:rgb(241, 80, 94);
                            // background-color:rgb(252, 71, 22);
                            background-color: #666481;
                            padding-left: 5px;
                            > div {left: 5px;}
                        }

                        .line-form{
                            padding-left: 10px;
                            > div{left: 10px;}
                            // background-color: rgb(213, 213, 223);
                            // background-color: rgb(207, 207, 228);
                            // background-color:rgb(228, 84, 108);
                            // background-color:rgb(252, 98, 55);
                            background-color: #76748f;
                        }

                        .line-direction{
                            padding-left: 15px;
                            > div{
                                left: 15px;
                            }
                            // background-color: #E5E5EF ;
                            // background-color: rgb(227, 227, 233);
                            // background-color: rgb(216, 216, 230);
                            // background-color:rgb(253, 115, 77);
                            background-color: #82819b;
                        }

                        .line-profile{
                            padding-left: 20px;
                            > div{ left: 20px;}
                            // background-color: rgb(238, 238, 245) ;
                            // background-color: rgb(238, 238, 238);
                            // background-color: rgb(224, 224, 233);
                            background-color: #9e9db4;

                            .add-line{
                                margin-left: auto;
                                margin-right: 1em;
                                background-size: .8em;
                                width: 1.4em;
                                height: 1.4em;
                            }
                        }

                        .line-budget{
                            padding-left: 25px;
                            > div{left: 25px;}
                            // background-color: rgb(250, 250, 250);
                            // background-color: rgb(248, 248, 248);
                            // background-color: rgb(236, 236, 241);
                            // background-color:rgb(255, 157, 130);
                            background-color: #b9b8cc;
                        }

                        td.testClass{
                            background-color: rgb(122, 209, 105) !important;
                        }



                        td:nth-child(2){
                            position: sticky;
                            left: 0;
                            z-index: 5;
                            span{
                                background-color: rgb(255, 255, 255);
                            }        
                        }
                        td:nth-child(3){
                            position: sticky;
                            z-index: 5 ;
                            
                            span{
                                background-color: rgb(255, 255, 255);
                                // margin-right: -1px;
                            }
                        }
                        td:nth-child(4){
                            span::before{
                                // content: "' ";
                                // display: none;
                            }
                        }
                        
                        td{
                            position: relative;
                            box-sizing: border-box;
                            padding: 0;
                            max-width: $min-width-name-td;
                            z-index: 1;
                            height: 100%;
                            span{
                                padding-top: .1em;
                                padding-left: .5em;
                                line-height: 1.2em;
                                position: relative;
                                height: 100%;
                            }

                            .js-open-list{
                                transform: rotate(90deg);
                            }
                            .icon-arrow-list{
                                display: inline-block;
                                background-image: url("/images/arrow-list.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: .7em;
                                width: 1em;
                                height: 1em;
                                margin-right: .4em;
                            }

                            .icon-edit{
                                // display: inline-block;
                                visibility: hidden;
                                // background-image: url("/images/edit.svg");
                                // background-repeat: no-repeat;
                                // background-position: center;
                                // background-size: .9em;
                                // width: 1em;
                                // height: 1em;
                                // vertical-align: middle;
                            }

                            .icon-show{
                                display: inline-block;
                                background-image: url("/images/circle.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: .9em;
                                width: 1em;
                                height: 1em;
                                vertical-align: middle;
                            }
                        }
                        // td:last-child div{
                        //     padding-right: 5em;
                        // }

                    }
                }
            }
        }
    }

    

}


@media (max-width: 1100px) {
    .container__config{
        // background-color: rgb(241, 166, 79);
        .name-config{
            display: none;
        }
    }
}


