@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .4em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

html, body {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  font-size: 100%; }

.container .container__upmenu {
  font-family: 'UbuntuMedium';
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2.5px 1px #45436025;
  z-index: 2;
  padding: .2em 0 .2em 0; }
  .container .container__upmenu .container__upmenu__left {
    display: flex;
    align-items: center; }
    .container .container__upmenu .container__upmenu__left .container__upmenu__left__img {
      cursor: pointer;
      background-image: url("/images/upmenu.svg");
      background-repeat: no-repeat;
      padding: .8em;
      margin-left: .5em; }
    .container .container__upmenu .container__upmenu__left .container__upmenu__left__nav {
      margin-left: .5em; }
  .container .container__upmenu .container__upmenu__right {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container .container__upmenu .container__upmenu__right .container__upmenu__right__user {
      margin-right: 5em;
      font-size: 13px; }
      .container .container__upmenu .container__upmenu__right .container__upmenu__right__user::before {
        display: inline-block;
        content: '';
        background-image: url("/images/user.svg");
        background-repeat: no-repeat;
        width: 2em;
        height: 2em;
        background-size: 2em;
        vertical-align: middle;
        padding-right: .5em; }
    .container .container__upmenu .container__upmenu__right .container__upmenu__right__exit {
      margin-right: .5em;
      margin-left: .5em;
      cursor: pointer; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a::selection {
  background-color: transparent; }

span {
  cursor: default; }

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em; }
  .info-block::selection {
    background-color: transparent; }

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px; }
  .info-input-block::selection {
    background-color: transparent; }

.text {
  cursor: default; }
  .text::selection {
    background-color: transparent; }

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966); }

.input-block {
  font-size: 100%;
  position: relative; }
  .input-block div {
    color: #626269f3;
    margin-bottom: -3px;
    font-size: 97%;
    font-family: "UbuntuRegular"; }
  .input-block img {
    position: absolute;
    width: 1.4em;
    right: 1em;
    top: 45%; }

.invisible-block {
  visibility: hidden; }

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626269f3; }
  .input-flex span {
    padding-right: .5em; }

label::selection {
  background-color: transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes closeAnim {
  0% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
@keyframes openAnim {
  0% {
    margin-top: -100%; }
  100% {
    margin-top: 1.5em; } }
@keyframes dropAlert {
  0% {
    margin-top: -100%; }
  10% {
    margin-top: 1.5em; }
  80% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  transform: translate(-50%, 0%);
  background-color: white;
  display: flex;
  max-width: 600px;
  margin-top: -100%; }
  .alert.offline-alert {
    align-items: center; }
  .alert.open {
    animation: openAnim .7s ease  1  forwards; }
  .alert.close {
    animation: closeAnim .7s ease  1  forwards; }
  .alert.dropdownAlert {
    animation: dropAlert 4s ease  1  forwards; }
  .alert .image-close-block {
    position: absolute;
    right: .5em;
    top: .5em; }
  .alert img {
    width: 3em;
    height: auto;
    margin-right: 1em;
    animation: pulse 1s ease-in  infinite  both; }
  .alert .alert__container .alert__container__title {
    font-size: 103%;
    font-family: "UbuntuMedium";
    margin-top: 1em;
    margin-bottom: .3em; }
    .alert .alert__container .alert__container__title::selection {
      background-color: transparent; }
  .alert .alert__container .alert__container__msg {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__msg .alert__container__msg__list {
      list-style: square;
      padding-left: 1em; }
      .alert .alert__container .alert__container__msg .alert__container__msg__list span {
        display: list-item; }
  .alert .alert__container .alert__container__content {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__content > div {
      padding: .2em 0; }
      .alert .alert__container .alert__container__content > div::before {
        content: "";
        display: inline-block;
        margin-right: .3em;
        width: 7px;
        height: 7px;
        background-color: #383964;
        border-radius: 10px;
        margin-bottom: 2px; }
    .alert .alert__container .alert__container__content::selection {
      background-color: transparent; }

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39); }

.success-block {
  border: solid 3px #21a1365b;
  box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39); }

.hide-block {
  display: none !important; }

#view-year::selection {
  background-color: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.loader {
  display: none; }

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto; }

input.text-name {
  width: 45%; }

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em; }

.toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer; }
  .toggle input:hover {
    border: 1px solid #46455f7e; }
  .toggle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(135, 131, 161, 0.466);
    border-radius: 50%;
    left: 1.5px;
    top: 2px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
  .toggle input:checked::after {
    transform: translateX(calc(100% + .5px));
    background-color: #bbc1e1; }
  .toggle input:checked {
    border: 1px solid #bbc1e1; }
    .toggle input:checked:hover {
      border: 1px solid #46455f7e; }
.toggle label {
  font-size: 14px;
  padding-left: 3px; }

.container {
  background-color: rgba(225, 225, 228, 0.158);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: rgba(13, 26, 63, 0.74);
  flex: 1;
  font-family: 'UbuntuRegular'; }
  .container .container__dashboard {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100%;
    flex: 1; }

.btn {
  cursor: pointer !important;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 13px; }
  .btn span {
    padding-right: .5em;
    font-size: 95%;
    color: #76788c;
    width: max-content;
    cursor: default;
    font-family: "UbuntuMedium"; }
    .btn span::selection {
      background-color: transparent; }
  .btn:hover {
    background-color: rgba(56, 56, 68, 0.055); }
  .btn:active {
    transform: scale(0.95); }

.btn-base {
  border-radius: 5px;
  background-color: #34335cef;
  padding: .2em .5em;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer !important; }
  .btn-base span {
    font-size: 95%;
    color: rgba(237, 237, 243, 0.897);
    cursor: pointer !important;
    padding: .4em .4em .4em 0;
    font-family: "UbuntuMedium";
    width: max-content; }
    .btn-base span::selection {
      background-color: transparent; }

.btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: .8em;
  width: 2em;
  height: 1.6em;
  cursor: pointer; }
  .btn-icon:active {
    transform: scale(0.9); }

.btn-upload-file {
  cursor: default;
  border-radius: 3px; }
  .btn-upload-file:hover {
    background-color: rgba(73, 73, 126, 0.103); }

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .4em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

.icon-small {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.1em 1em;
  width: 1.2em;
  height: 1.2em; }

.icon-add {
  background-image: url("/images/add.svg"); }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  width: 2em;
  height: 2em; }

.icon-refresh {
  background-image: url("/images/refresh.svg"); }

.icon-refresh-new-version {
  background-image: url("/images/refresh-new-version.svg"); }

.icon-remove {
  background-image: url("/images/remove.svg"); }

.icon-no-tweet {
  background-image: url("/images/no-tweet.svg");
  background-size: 1.3em; }

.icon-tweet {
  background-image: url("/images/tweet.svg");
  background-size: 1.3em; }

.icon-published {
  background-image: url("/images/published.svg");
  background-size: 1.3em; }

.icon-edit {
  background-image: url("/images/edit.svg"); }

.icon-remove {
  background-image: url("/images/remove.svg"); }

.icon-arrow-dropdown {
  background-image: url("/images/arrow-up-thin.svg");
  transform: rotate(0deg);
  transition: transform .5s linear; }

.icon-arrow-dropdown.rotated {
  transform: rotate(180deg);
  transition: transform .5s linear; }

.icon-arrow-list {
  background-image: url("/images/arrow-list.svg"); }

.icon-arrow-list.rotated {
  transform: rotate(90deg);
  transition: transform .5s ease; }

.icon-arrow-list {
  transform: rotate(0deg);
  transition: transform .5s ease; }

.icon-contingent {
  background-image: url("/images/contingent.svg"); }

.icon-check {
  background-image: url("/images/checkbox.svg"); }

.dropdown-menu {
  position: relative;
  width: 100%;
  font-size: 100%; }
  .dropdown-menu .dropdown-menu__block-view {
    display: flex;
    flex-direction: column; }
    .dropdown-menu .dropdown-menu__block-view div:first-child {
      color: #626269f3;
      font-size: 97%;
      margin-bottom: -2px; }
      .dropdown-menu .dropdown-menu__block-view div:first-child::selection {
        background-color: transparent; }
    .dropdown-menu .dropdown-menu__block-view .dropdown-menu__block-view__current-element {
      margin-top: .2em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 3px;
      padding: .2em .4em;
      border: solid 1px rgba(0, 0, 0, 0.1);
      font-size: 13px;
      color: #626269f3;
      font-size: 100%;
      cursor: pointer; }
      .dropdown-menu .dropdown-menu__block-view .dropdown-menu__block-view__current-element:hover {
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1); }
      .dropdown-menu .dropdown-menu__block-view .dropdown-menu__block-view__current-element span {
        white-space: nowrap;
        max-width: 90%;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer; }
  .dropdown-menu .dropdown-menu__down-menu.open {
    display: block; }
    .dropdown-menu .dropdown-menu__down-menu.open::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1; }
  .dropdown-menu .dropdown-menu__down-menu {
    display: none;
    box-sizing: border-box;
    list-style: none;
    z-index: 1;
    border-radius: 3px;
    background-color: white;
    font-size: 95%;
    padding: 0;
    margin: .2em 0;
    position: fixed;
    color: #494c63;
    box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
    max-height: 110px;
    overflow: auto; }
    .dropdown-menu .dropdown-menu__down-menu::-webkit-scrollbar {
      width: 8px; }
    .dropdown-menu .dropdown-menu__down-menu::-webkit-scrollbar-thumb {
      background-color: rgba(185, 173, 179, 0.4);
      border-radius: 20px;
      border: solid .12em white; }
    .dropdown-menu .dropdown-menu__down-menu::-webkit-scrollbar-track {
      background: transparent; }
    .dropdown-menu .dropdown-menu__down-menu li {
      padding: .3em .6em; }
      .dropdown-menu .dropdown-menu__down-menu li:hover {
        background-color: rgba(236, 236, 241, 0.356); }
    .dropdown-menu .dropdown-menu__down-menu li[data-selected="true"]::before {
      content: "";
      display: inline-block;
      width: .5em;
      height: .5em;
      background-color: rgba(84, 85, 134, 0.897);
      margin-right: .3em;
      border-radius: 5px;
      margin-bottom: .1em; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
.container {
  font-size: 100%; }
  .container #confirmForm .form {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding-top: 1em;
    padding-bottom: 1em; }
  .container .container__background {
    background-color: rgba(55, 60, 105, 0.158);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .container__background .container__background__dialog {
      z-index: 40;
      background-color: white;
      border-radius: 2px;
      font-size: 95%;
      box-sizing: border-box;
      min-width: 400px;
      max-width: 700px;
      max-height: 500px;
      position: relative;
      border: solid 2px rgba(62, 67, 92, 0.09);
      box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09); }
      .container .container__background .container__background__dialog .container__background__dialog__title {
        font-size: 105%;
        color: #383964;
        margin: .7em;
        text-transform: uppercase;
        font-family: "UbuntuMedium"; }
      .container .container__background .container__background__dialog .form {
        display: flex;
        font-size: 90%;
        padding: 0 .7em; }
      .container .container__background .container__background__dialog .btns {
        display: flex;
        justify-content: flex-end;
        margin: .7em; }
        .container .container__background .container__background__dialog .btns input[type="button"]:first-child {
          margin-right: 1em; }
      .container .container__background .container__background__dialog .container__background__dialog__form {
        font-size: 90%; }
        .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
          display: flex;
          position: relative;
          justify-content: flex-end;
          margin-top: 1em; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
            font-size: 90%; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
            margin-right: 1em; }

.js-menu.inactive span:first-child {
  opacity: .4; }
  .js-menu.inactive span:first-child:hover {
    background-color: transparent; }
.js-menu.inactive span:nth-child(2) {
  opacity: .4; }
  .js-menu.inactive span:nth-child(2):hover {
    background-color: transparent; }

.js-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 10px;
  background-color: white;
  z-index: 400;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09);
  font-family: "UbuntuMedium";
  width: fit-content; }
  .js-menu span:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
  .js-menu span:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }
  .js-menu span {
    padding: .4em .8em;
    cursor: default;
    color: #626269f3;
    font-size: 12px;
    z-index: 2; }
    .js-menu span:hover {
      background-color: rgba(170, 170, 177, 0.158); }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
.container {
  font-size: 100%; }
  .container #confirmForm .form {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding-top: 1em;
    padding-bottom: 1em; }
  .container .container__background {
    background-color: rgba(55, 60, 105, 0.158);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .container__background .container__background__dialog {
      z-index: 40;
      background-color: white;
      border-radius: 2px;
      font-size: 95%;
      box-sizing: border-box;
      min-width: 400px;
      max-width: 700px;
      max-height: 500px;
      position: relative;
      border: solid 2px rgba(62, 67, 92, 0.09);
      box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09); }
      .container .container__background .container__background__dialog .container__background__dialog__title {
        font-size: 105%;
        color: #383964;
        margin: .7em;
        text-transform: uppercase;
        font-family: "UbuntuMedium"; }
      .container .container__background .container__background__dialog .form {
        display: flex;
        font-size: 90%;
        padding: 0 .7em; }
      .container .container__background .container__background__dialog .btns {
        display: flex;
        justify-content: flex-end;
        margin: .7em; }
        .container .container__background .container__background__dialog .btns input[type="button"]:first-child {
          margin-right: 1em; }
      .container .container__background .container__background__dialog .container__background__dialog__form {
        font-size: 90%; }
        .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
          display: flex;
          position: relative;
          justify-content: flex-end;
          margin-top: 1em; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
            font-size: 90%; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
            margin-right: 1em; }

.container .container__background#tieSubgroup .container__background__dialog .container__background__dialog__title > div:nth-child(2) {
  text-transform: none;
  font-family: "UbuntuRegular";
  color: #626269f3; }
.container .container__background#tieSubgroup .container__background__dialog .form {
  padding: .5em 1em 0 1em;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  flex-direction: column;
  max-height: 55vh;
  overflow: auto; }
  .container .container__background#tieSubgroup .container__background__dialog .form::-webkit-scrollbar {
    width: 10px; }
  .container .container__background#tieSubgroup .container__background__dialog .form::-webkit-scrollbar-thumb {
    background-color: #B9ADB3; }
  .container .container__background#tieSubgroup .container__background__dialog .form::-webkit-scrollbar-track {
    background-color: rgba(163, 159, 161, 0.205); }
  .container .container__background#tieSubgroup .container__background__dialog .form .form__group-block {
    color: #626269f3;
    width: 100%;
    margin: .4em 0; }
    .container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__title {
      display: flex;
      justify-content: space-between;
      margin-bottom: .2em; }
    .container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__name {
      font-family: "UbuntuMedium";
      background-color: #3b4164c9;
      border-radius: 10px;
      margin-bottom: .2em;
      width: max-content;
      padding: .2em .5em;
      color: white; }
    .container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__type-object {
      display: flex;
      flex-direction: column; }
    .container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__sgroups.openSubgroup {
      display: block; }
    .container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__sgroups {
      width: 100%;
      display: none; }
      .container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__sgroups .form__group-block__sgroups__department {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .2em .1em; }
        .container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__sgroups .form__group-block__sgroups__department .dropdown-menu {
          width: 60%; }

.container .container__background#formAddOtherFacultyLine .container__background__dialog, .container .container__background#formEditOtherFacultyLine .container__background__dialog {
  display: flex;
  flex-direction: column;
  height: 500px; }
  .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages > div, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages > div {
      width: 100%; }
    .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form {
      flex-direction: column;
      border-top: solid 2px rgba(62, 67, 92, 0.09);
      border-bottom: solid 2px rgba(62, 67, 92, 0.09);
      padding-top: .5em;
      padding-bottom: .5em;
      overflow: auto;
      height: 100%;
      position: relative; }
      .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar {
        width: 10px; }
      .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar-thumb, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar-thumb {
        background-color: #B9ADB3; }
      .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar-track, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar-track {
        background-color: rgba(163, 159, 161, 0.205); }
      .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form .dropdown-menu, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form .dropdown-menu {
        padding: .2em 0; }
      .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form .input-flex, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form .input-flex {
        padding: .2em 0; }
    .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .first-form, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .first-form {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%; }
    .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form, .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form {
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column; }
      .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .form__fval:first-child, .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .form__fval:first-child, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .form__fval:first-child, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .form__fval:first-child {
        margin-bottom: 1em; }
      .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .btns input:first-child, .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .btns input:first-child, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .btns input:first-child, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .btns input:first-child {
        margin-right: auto; }
      .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .btns input:nth-child(2), .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .btns input:nth-child(2), .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .btns input:nth-child(2), .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .btns input:nth-child(2) {
        margin-right: 1em; }
.container .container__background#formEditFactOtherFacultyLine .container__background__dialog {
  display: flex;
  flex-direction: column; }
  .container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form {
    flex-direction: column;
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding-top: .5em;
    padding-bottom: .5em;
    overflow: auto;
    height: 100%;
    position: relative; }
    .container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form::-webkit-scrollbar {
      width: 10px; }
    .container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form::-webkit-scrollbar-thumb {
      background-color: #B9ADB3; }
    .container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form::-webkit-scrollbar-track {
      background-color: rgba(163, 159, 161, 0.205); }
    .container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form .dropdown-menu {
      padding: .2em 0; }
    .container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form .input-flex {
      padding: .2em 0; }
    .container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form .form__fval:first-child {
      margin-bottom: .5em; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a::selection {
  background-color: transparent; }

span {
  cursor: default; }

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em; }
  .info-block::selection {
    background-color: transparent; }

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px; }
  .info-input-block::selection {
    background-color: transparent; }

.text {
  cursor: default; }
  .text::selection {
    background-color: transparent; }

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966); }

.input-block {
  font-size: 100%;
  position: relative; }
  .input-block div {
    color: #626269f3;
    margin-bottom: -3px;
    font-size: 97%;
    font-family: "UbuntuRegular"; }
  .input-block img {
    position: absolute;
    width: 1.4em;
    right: 1em;
    top: 45%; }

.invisible-block {
  visibility: hidden; }

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626269f3; }
  .input-flex span {
    padding-right: .5em; }

label::selection {
  background-color: transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes closeAnim {
  0% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
@keyframes openAnim {
  0% {
    margin-top: -100%; }
  100% {
    margin-top: 1.5em; } }
@keyframes dropAlert {
  0% {
    margin-top: -100%; }
  10% {
    margin-top: 1.5em; }
  80% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  transform: translate(-50%, 0%);
  background-color: white;
  display: flex;
  max-width: 600px;
  margin-top: -100%; }
  .alert.offline-alert {
    align-items: center; }
  .alert.open {
    animation: openAnim .7s ease  1  forwards; }
  .alert.close {
    animation: closeAnim .7s ease  1  forwards; }
  .alert.dropdownAlert {
    animation: dropAlert 4s ease  1  forwards; }
  .alert .image-close-block {
    position: absolute;
    right: .5em;
    top: .5em; }
  .alert img {
    width: 3em;
    height: auto;
    margin-right: 1em;
    animation: pulse 1s ease-in  infinite  both; }
  .alert .alert__container .alert__container__title {
    font-size: 103%;
    font-family: "UbuntuMedium";
    margin-top: 1em;
    margin-bottom: .3em; }
    .alert .alert__container .alert__container__title::selection {
      background-color: transparent; }
  .alert .alert__container .alert__container__msg {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__msg .alert__container__msg__list {
      list-style: square;
      padding-left: 1em; }
      .alert .alert__container .alert__container__msg .alert__container__msg__list span {
        display: list-item; }
  .alert .alert__container .alert__container__content {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__content > div {
      padding: .2em 0; }
      .alert .alert__container .alert__container__content > div::before {
        content: "";
        display: inline-block;
        margin-right: .3em;
        width: 7px;
        height: 7px;
        background-color: #383964;
        border-radius: 10px;
        margin-bottom: 2px; }
    .alert .alert__container .alert__container__content::selection {
      background-color: transparent; }

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39); }

.success-block {
  border: solid 3px #21a1365b;
  box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39); }

.hide-block {
  display: none !important; }

#view-year::selection {
  background-color: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.loader {
  display: none; }

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto; }

input.text-name {
  width: 45%; }

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em; }

.toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer; }
  .toggle input:hover {
    border: 1px solid #46455f7e; }
  .toggle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(135, 131, 161, 0.466);
    border-radius: 50%;
    left: 1.5px;
    top: 2px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
  .toggle input:checked::after {
    transform: translateX(calc(100% + .5px));
    background-color: #bbc1e1; }
  .toggle input:checked {
    border: 1px solid #bbc1e1; }
    .toggle input:checked:hover {
      border: 1px solid #46455f7e; }
.toggle label {
  font-size: 14px;
  padding-left: 3px; }

.container .container__background#createStream .container__background__dialog .container__background__dialog__title > div:nth-child(2) {
  text-transform: none;
  font-family: "UbuntuRegular";
  color: #626269f3; }
.container .container__background#createStream .container__background__dialog .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  flex-direction: column;
  padding-top: .5em;
  padding-bottom: .5em; }
  .container .container__background#createStream .container__background__dialog .form .instream {
    margin-top: .4em; }
  .container .container__background#createStream .container__background__dialog .form > div {
    margin: .3em 0; }
  .container .container__background#createStream .container__background__dialog .form .form__types {
    display: flex;
    justify-content: space-between; }
.container .container__background#editStream .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: .5em;
  padding-bottom: .5em;
  flex-direction: column; }
  .container .container__background#editStream .form .input-block {
    margin-bottom: 1em; }
.container .container__background#addGroupStream .container__background__dialog__title > div:nth-child(2) {
  text-transform: none;
  font-family: "UbuntuRegular";
  color: #626269f3; }
.container .container__background#addGroupStream .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: .5em;
  padding-bottom: .5em;
  flex-direction: column; }
  .container .container__background#addGroupStream .form .form__groups {
    margin-top: .5em; }
    .container .container__background#addGroupStream .form .form__groups .form__groups__title {
      font-family: "UbuntuRegular";
      color: #626269f3;
      font-size: 95%; }
    .container .container__background#addGroupStream .form .form__groups > div {
      margin: .5em 0; }

.container .container__background#formDepartment .container__background__dialog .container__background__dialog__title, .container .container__background#formAddLine .container__background__dialog .container__background__dialog__title, .container .container__background#formEditLine .container__background__dialog .container__background__dialog__title {
  display: flex;
  flex-direction: column; }
  .container .container__background#formDepartment .container__background__dialog .container__background__dialog__title > span:nth-child(2), .container .container__background#formAddLine .container__background__dialog .container__background__dialog__title > span:nth-child(2), .container .container__background#formEditLine .container__background__dialog .container__background__dialog__title > span:nth-child(2) {
    text-transform: none;
    font-family: "UbuntuRegular";
    color: #626269f3; }
.container .container__background#formDepartment .container__background__dialog .form, .container .container__background#formAddLine .container__background__dialog .form, .container .container__background#formEditLine .container__background__dialog .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  flex-direction: column;
  padding-top: .5em;
  padding-bottom: .5em; }
.container .container__background#formAddLine .form .dropdown-menu {
  margin: .4em 0; }
.container .container__background#formAddLine .form .input-flex {
  margin-bottom: .5em; }
  .container .container__background#formAddLine .form .input-flex input {
    width: 50%; }
.container .container__background#formEditLine .form .info-block {
  font-size: 95%;
  margin-left: auto;
  margin-right: auto;
  margin: 0; }
.container .container__background#formEditLine .form .input-flex {
  margin-bottom: .5em; }
  .container .container__background#formEditLine .form .input-flex input {
    width: 50%; }
.container .container__background#formStatisctic .container__background__dialog .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  flex-direction: column;
  padding: 0; }
  .container .container__background#formStatisctic .container__background__dialog .form table {
    border-collapse: collapse;
    width: 100%; }
    .container .container__background#formStatisctic .container__background__dialog .form table thead {
      color: #383964; }
      .container .container__background#formStatisctic .container__background__dialog .form table thead tr td {
        padding: .4em .7em; }
    .container .container__background#formStatisctic .container__background__dialog .form table tbody {
      color: #3b4164c9; }
      .container .container__background#formStatisctic .container__background__dialog .form table tbody tr td {
        padding: .4em .7em; }
      .container .container__background#formStatisctic .container__background__dialog .form table tbody tr:nth-child(2n+1) {
        background-color: rgba(227, 231, 238, 0.3); }
.container .container__background#formStatisctic .container__background__dialog .btns input[type="button"]:first-child {
  margin-right: 0; }

.menu-search {
  position: absolute;
  background-color: white;
  color: #626269f3;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
  font-size: 120%;
  border: solid 2px rgba(62, 67, 92, 0.09);
  box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
  margin-top: .3em;
  max-height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .menu-search::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .menu-search .menu-search__search-block {
    border-bottom: solid 1px rgba(62, 67, 92, 0.09);
    z-index: 2; }
    .menu-search .menu-search__search-block input {
      padding: .4em .4em;
      border: none;
      color: #626269f3;
      width: 100%; }
      .menu-search .menu-search__search-block input:hover {
        border: none; }
      .menu-search .menu-search__search-block input:active {
        outline: none; }
      .menu-search .menu-search__search-block input:focus {
        outline: none; }
  .menu-search .menu-search__content {
    z-index: 2;
    overflow: auto;
    background-color: white; }
    .menu-search .menu-search__content::-webkit-scrollbar {
      width: 8px; }
    .menu-search .menu-search__content::-webkit-scrollbar-thumb {
      background-color: rgba(185, 173, 179, 0.4);
      border-radius: 20px;
      border: solid .12em white; }
    .menu-search .menu-search__content::-webkit-scrollbar-track {
      background: transparent; }
    .menu-search .menu-search__content .menu-search__content__elem {
      padding: .2em .4em;
      cursor: default; }
      .menu-search .menu-search__content .menu-search__content__elem .menu-search__content__elem__sublist {
        padding: 0 1.2em; }
      .menu-search .menu-search__content .menu-search__content__elem label {
        width: 100%; }
      .menu-search .menu-search__content .menu-search__content__elem .checkbox label::before {
        width: .8em;
        height: .8em;
        top: .1em; }
      .menu-search .menu-search__content .menu-search__content__elem:hover {
        background-color: #fafbfc; }

.menu-filter {
  position: absolute;
  background-color: white;
  color: #626269f3;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 rgba(53, 51, 82, 0.281);
  font-size: 120%;
  border: solid 2px rgba(62, 67, 92, 0.09);
  box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
  margin-top: .3em;
  max-height: 300px;
  min-width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  .menu-filter::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .menu-filter .menu-filter__item {
    display: flex;
    align-items: center;
    padding: .4em;
    z-index: 1; }
    .menu-filter .menu-filter__item .dropdown-menu__down-menu {
      position: fixed;
      width: 190px; }

.instream {
  margin-top: .4em; }

.js-hint-block {
  font-family: 'UbuntuRegular';
  position: absolute;
  background-color: white;
  z-index: 100;
  border-radius: 5px;
  padding: .6em;
  border: solid 2px #f3f3fa;
  box-shadow: 0 0 1px rgba(128, 128, 128, 0.219);
  font-size: .7em;
  box-sizing: border-box;
  color: rgba(13, 26, 63, 0.74); }

span::selection {
  background-color: transparent; }

.container .context__menu.open {
  display: flex; }
  .container .context__menu.open::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
.container .container__dashboard .addRowTableLoad {
  display: none; }
.container .container__dashboard .container__dashboard__aside {
  display: flex;
  position: sticky;
  top: 0;
  left: 0; }
  .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content.close {
    display: none; }
  .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content {
    display: flex;
    flex-direction: column;
    width: 20vw; }
    .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__top {
      display: flex;
      justify-content: space-between;
      margin: 0.5em 0.5em 0 0.5em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__top > span {
        font-family: "UbuntuMedium";
        font-size: 110%; }
    .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table {
      display: flex;
      flex: 1;
      margin: .7em;
      border-radius: 3px;
      box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09);
      background-color: white;
      font-size: 85%;
      flex-direction: column; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .table__elem .table__elem__name:hover {
        background-color: rgba(184, 187, 207, 0.11); }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .table__elem .table__elem__name:first-child {
        padding-left: .5em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .table__elem .pd1 .table__elem__name {
        padding-left: 1em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .table__elem .pd1 .pd2 .table__elem__name {
        padding-left: 2em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .table__elem .pd1 .pd2 .pd3 .table__elem__name {
        padding-left: 3em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .table__elem .table__elem__name {
        display: flex;
        align-items: center;
        padding-top: .5em;
        padding-bottom: .5em; }
        .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .table__elem .table__elem__name .btn {
          width: 1.6em;
          height: 1.6em;
          background-size: .9em; }
        .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .table__elem .table__elem__name span {
          padding-left: .3em;
          padding-right: .5em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block {
        width: 100%;
        padding: .3em 0; }
        .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block:hover {
          background-color: rgba(184, 187, 207, 0.11); }
        .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__list-groups.close {
          display: none; }
        .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__list-groups .stream-block__list-groups__group {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: .4em .2em .4em 2em;
          font-size: 93%; }
          .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__list-groups .stream-block__list-groups__group .stream-block__list-groups__group__name {
            display: flex;
            align-items: center;
            width: 95%; }
            .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__list-groups .stream-block__list-groups__group .stream-block__list-groups__group__name span {
              margin-left: 2em;
              margin-right: 1em;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap; }
          .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__list-groups .stream-block__list-groups__group .icon {
            background-size: .9em;
            width: 1.6em;
            height: 1.6em;
            margin-right: .5em; }
        .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title {
          display: flex;
          justify-content: space-between; }
          .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__info-block {
            display: flex;
            align-items: center;
            width: 100%; }
            .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__info-block .stream-block__title__info-block__icon {
              background-size: .7em; }
            .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__info-block .stream-block__title__info-block__type {
              margin: 0 .7em;
              margin-left: auto;
              font-size: 85%;
              border-radius: 10px;
              padding: .2em .6em;
              color: #555766; }
              .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__info-block .stream-block__title__info-block__type[data-type=lek] {
                background-color: rgba(83, 92, 216, 0.705); }
              .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__info-block .stream-block__title__info-block__type[data-type=pract] {
                background-color: rgba(67, 187, 87, 0.589); }
              .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__info-block .stream-block__title__info-block__type[data-type=lab] {
                background-color: rgba(221, 72, 92, 0.589); }
            .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__info-block .stream-block__title__info-block__depart {
              background-color: rgba(133, 133, 150, 0.199);
              font-size: 85%;
              padding: .2em .6em;
              border-radius: 15px;
              margin-right: 1em; }
          .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__btns {
            display: flex;
            align-items: center;
            margin-right: .4em; }
            .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__content .container__dashboard__aside__content__table .stream-block .stream-block__title .stream-block__title__btns > div:first-child {
              margin-right: .5em; }
  .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu {
    display: flex;
    width: 2.6em;
    background-color: #454360;
    position: relative; }
    .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items {
      display: flex;
      flex-direction: column; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .container__dashboard__aside__menu__item {
        cursor: pointer; }
        .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .container__dashboard__aside__menu__item:not(.js-selected-item-aside-menu):hover {
          background-color: rgba(229, 229, 239, 0.05); }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .js-selected-item-aside-menu {
        background-color: rgba(229, 229, 239, 0.15); }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .icon-table {
        background-image: url("/images/table.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.6em 2em;
        height: 4em;
        width: 2.6em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .icon-table.js-selected-item-aside-menu {
        background-image: url("/images/table-hover.svg"); }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .icon-merge-group {
        background-image: url("/images/merge-group.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.6em 2em;
        height: 4em;
        width: 2.6em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .icon-merge-group.js-selected-item-aside-menu {
        background-image: url("/images/merge-group-hover.svg"); }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .icon-lines {
        background-image: url("/images/lines.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.6em 2em;
        height: 4em;
        width: 2.6em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .icon-lines.js-selected-item-aside-menu {
        background-image: url("/images/lines-hover.svg"); }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .icon-split {
        background-image: url("/images/split.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.6em 2em;
        height: 4em;
        width: 2.6em; }
      .container .container__dashboard .container__dashboard__aside .container__dashboard__aside__menu .container__dashboard__aside__menu__items .icon-split.js-selected-item-aside-menu {
        background-image: url("/images/split-hover.svg"); }
.container .container__dashboard .container__dashboard__content {
  font-size: .7em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden; }
  .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    flex: 1;
    box-shadow: 0 2px 2px rgba(80, 77, 77, 0.17);
    background-color: white; }
    .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll::-webkit-scrollbar {
      width: 10px; }
    .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll::-webkit-scrollbar-thumb {
      background-color: #B9ADB3; }
    .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll::-webkit-scrollbar-track {
      background: transparent; }
    .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(225, 225, 228, 0.158);
      padding: .5em;
      position: sticky;
      left: 0;
      z-index: 2; }
      .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .dropmenu {
        display: none; }
      .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .selected-block-config {
        margin: 0 1.3em;
        cursor: pointer;
        padding: .2em 0;
        font-size: 105%;
        border-radius: .3em; }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .selected-block-config:hover {
          background-color: rgba(0, 0, 0, 0.05); }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .selected-block-config .count-col {
          display: none; }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .selected-block-config.active {
          background-color: #3f457744; }
          .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .selected-block-config.active:hover {
            background-color: rgba(0, 0, 0, 0.05); }
      .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .name-config {
        margin-left: .4em; }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .name-config span {
          cursor: pointer; }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .name-config::selection {
          background-color: transparent; }
      .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__left {
        display: flex;
        align-items: center;
        z-index: 2; }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__left .container__config__left__block .container__config__left__block__line {
          display: flex;
          align-items: center;
          padding: 0 .6em;
          cursor: pointer; }
          .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__left .container__config__left__block .container__config__left__block__line .icon-hide-columns {
            content: "";
            display: inline-block;
            background-image: url("/images/hide-gload.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.6em;
            width: 1.6em;
            height: 1.6em;
            vertical-align: middle; }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__left .container__config__left__block .icon-merge-columns {
          content: "";
          display: inline-block;
          background-image: url("/images/merge.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1.4em;
          width: 1.6em;
          height: 1.6em;
          vertical-align: middle; }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__left .container__config__left__block .icon-filter-columns {
          content: "";
          display: inline-block;
          background-image: url("/images/filter.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1.4em;
          width: 1.6em;
          height: 1.6em;
          vertical-align: middle; }
      .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__right {
        display: flex;
        z-index: 0; }
        .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__right .container__config__right__line {
          display: flex;
          align-items: center;
          padding: 0 .6em; }
          .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__right .container__config__right__line .icon-stats {
            content: "";
            display: inline-block;
            background-image: url("/images/stats.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.4em;
            width: 1.6em;
            height: 1.6em;
            vertical-align: middle; }
          .container .container__dashboard .container__dashboard__content .container__dashboard__content__scroll .container__config .container__config__right .container__config__right__line .icon-ecxel-download {
            content: "";
            display: inline-block;
            background-image: url("/images/excel.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.4em;
            width: 1.6em;
            height: 1.6em;
            vertical-align: middle; }
  .container .container__dashboard .container__dashboard__content .container__table {
    font-family: 'UbuntuRegular';
    border-radius: .2em;
    border-collapse: collapse;
    border-spacing: 0 !important;
    vertical-align: top;
    font-size: 120%;
    background-color: white;
    margin-bottom: 3em;
    z-index: 1;
    width: 100%; }
    .container .container__dashboard .container__dashboard__content .container__table .cell {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      cursor: default;
      word-break: break-all; }
    .container .container__dashboard .container__dashboard__content .container__table .js-aside-block-scrolling {
      border-right: solid 2px rgba(182, 182, 212, 0.4);
      box-shadow: 4px 0 1px 0 rgba(182, 182, 212, 0.2); }
    .container .container__dashboard .container__dashboard__content .container__table thead .hide-icon {
      display: none;
      background-image: url("/images/edit.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: .9em;
      width: 1em;
      height: 1em; }
    .container .container__dashboard .container__dashboard__content .container__table thead .hide-icon-show {
      display: none;
      background-image: url("/images/circle.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: .9em;
      width: 1em;
      height: 1em; }
    .container .container__dashboard .container__dashboard__content .container__table thead td.testClass {
      background-color: #7ad169 !important; }
    .container .container__dashboard .container__dashboard__content .container__table thead td {
      background-color: white;
      padding: 0;
      margin: 0;
      max-width: 30px;
      outline: solid 1px white; }
      .container .container__dashboard .container__dashboard__content .container__table thead td label {
        padding-left: .5em; }
      .container .container__dashboard .container__dashboard__content .container__table thead td .parent {
        margin-left: auto;
        margin-right: auto;
        text-align: center; }
    .container .container__dashboard .container__dashboard__content .container__table thead .tr-top td:nth-child(2) {
      position: sticky;
      left: 0;
      z-index: 13; }
    .container .container__dashboard .container__dashboard__content .container__table thead .tr-top td:nth-child(3) {
      position: sticky;
      z-index: 13; }
      .container .container__dashboard .container__dashboard__content .container__table thead .tr-top td:nth-child(3) div {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        width: 100%; }
        .container .container__dashboard .container__dashboard__content .container__table thead .tr-top td:nth-child(3) div label {
          overflow: hidden; }
    .container .container__dashboard .container__dashboard__content .container__table thead .tr-top td {
      z-index: 12;
      position: sticky;
      top: 0; }
    .container .container__dashboard .container__dashboard__content .container__table thead .tr-bottom td {
      position: sticky;
      z-index: 12; }
    .container .container__dashboard .container__dashboard__content .container__table tbody {
      position: relative;
      height: 100%;
      vertical-align: top;
      margin: 0;
      padding: 0; }
      .container .container__dashboard .container__dashboard__content .container__table tbody .info-block {
        font-size: 98%;
        padding-top: 3em; }
      .container .container__dashboard .container__dashboard__content .container__table tbody tr.line-info:hover .line {
        background-color: #ffcdbe;
        color: #626269f3; }
      .container .container__dashboard .container__dashboard__content .container__table tbody tr#js-selected-row-load {
        background-color: #d0d0d8; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr#js-selected-row-load .cell {
          background-color: #d0d0d8; }
      .container .container__dashboard .container__dashboard__content .container__table tbody .hidden-faculty {
        display: none; }
      .container .container__dashboard .container__dashboard__content .container__table tbody .hidden-form {
        display: none; }
      .container .container__dashboard .container__dashboard__content .container__table tbody .hidden-dir {
        display: none; }
      .container .container__dashboard .container__dashboard__content .container__table tbody .hidden-profile {
        display: none; }
      .container .container__dashboard .container__dashboard__content .container__table tbody .hidden-budget {
        display: none; }
      .container .container__dashboard .container__dashboard__content .container__table tbody tr.show {
        background-color: #7ad169 !important; }
      .container .container__dashboard .container__dashboard__content .container__table tbody tr.hide {
        background-color: #e95656 !important; }
      .container .container__dashboard .container__dashboard__content .container__table tbody tr.join-stream td:first-child {
        background-color: rgba(84, 93, 228, 0.692); }
      .container .container__dashboard .container__dashboard__content .container__table tbody tr.hideChoiceCourse {
        color: rgba(133, 134, 138, 0.507); }
      .container .container__dashboard .container__dashboard__content .container__table tbody tr {
        height: 100%;
        position: relative;
        margin: auto;
        padding: 0; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr:not(.info-tr):hover {
          background-color: #d2d2dd; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr:not(.info-tr):hover .cell {
            background-color: #d2d2dd; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr .line {
          display: flex;
          align-items: center;
          padding: .3em 0;
          cursor: pointer;
          font-family: "UbuntuMedium";
          color: #eae9f1; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr .line > div {
            display: flex;
            align-items: center;
            position: sticky; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr .td-row-direction {
          position: sticky;
          z-index: 10; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-faculty {
          background-color: #666481;
          padding-left: 5px; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-faculty > div {
            left: 5px; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-form {
          padding-left: 10px;
          background-color: #76748f; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-form > div {
            left: 10px; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-direction {
          padding-left: 15px;
          background-color: #82819b; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-direction > div {
            left: 15px; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-profile {
          padding-left: 20px;
          background-color: #9e9db4; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-profile > div {
            left: 20px; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-profile .add-line {
            margin-left: auto;
            margin-right: 1em;
            background-size: .8em;
            width: 1.4em;
            height: 1.4em; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-budget {
          padding-left: 25px;
          background-color: #b9b8cc; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr .line-budget > div {
            left: 25px; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr td.testClass {
          background-color: #7ad169 !important; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr td:nth-child(2) {
          position: sticky;
          left: 0;
          z-index: 5; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr td:nth-child(2) span {
            background-color: white; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr td:nth-child(3) {
          position: sticky;
          z-index: 5; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr td:nth-child(3) span {
            background-color: white; }
        .container .container__dashboard .container__dashboard__content .container__table tbody tr td {
          position: relative;
          box-sizing: border-box;
          padding: 0;
          max-width: 30px;
          z-index: 1;
          height: 100%; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr td span {
            padding-top: .1em;
            padding-left: .5em;
            line-height: 1.2em;
            position: relative;
            height: 100%; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr td .js-open-list {
            transform: rotate(90deg); }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr td .icon-arrow-list {
            display: inline-block;
            background-image: url("/images/arrow-list.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: .7em;
            width: 1em;
            height: 1em;
            margin-right: .4em; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr td .icon-edit {
            visibility: hidden; }
          .container .container__dashboard .container__dashboard__content .container__table tbody tr td .icon-show {
            display: inline-block;
            background-image: url("/images/circle.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: .9em;
            width: 1em;
            height: 1em;
            vertical-align: middle; }

@media (max-width: 1100px) {
  .container__config .name-config {
    display: none; } }

/*# sourceMappingURL=gload.css.map */
