// @import 'vendors/fonts';
// @import 'upMenu';
// @import 'form-update-load';
@import '../layout/layout-page.scss';
@import '../components/buttons.scss';
@import '../components/input.scss';
@import '../components/icon.scss';
@import '../components/forms/form-load.scss';
@import '../base/base-class.scss';

.container{

    .container__dashboard{
        flex-direction: column;

        .container__dashboard__top-block{
            display: flex;
            margin: 0 .5em;

            a{
                font-size: 90%;
                text-transform: uppercase;
            }

            .container__dashboard__top-block__left{
                padding-top: .5em;
                font-size: 80%;
                flex: 1;
            }
            .container__dashboard__top-block__right{
                padding-top: .5em;
                flex: 1;
                text-align: right;
                a{
                    vertical-align: sub;
                }
            }

            // .container__dashboard__config__left{
            //     .btn-add-load{
            //         display: flex;
            //         padding: .2em .6em;
            //         align-items: center;
            //         color: rgba(137, 133, 161, 0.87);
            //         border: dashed 2px rgba(137, 133, 161, 0.63);
            //         cursor: pointer;
            //         border-radius: 3px;
            //         &:hover{
            //             color: rgba(101, 96, 121, 0.89);
            //             border: dashed 2px rgba(71, 68, 88, 0.753);
            //         }
            //     }
            // }
            .container__dashboard__top-block__center-calendar{
                @include calendar;
            }
        }

        .container__dashboard__table{
            display: flex;
            flex-direction: column;
            background-color: $block-color;
            overflow-y: auto;
            height: 100%;
            flex: 1;
            border-radius: 5px;
            margin: .5em;
            @include shadow;
            @include scroll_customize_raduis;
            
            table{
                border-collapse: collapse;
                border-spacing: 0;
                width: 100%;
                thead tr{
                    padding: 0;
                    font-size: 94%;
                    td{
                        position: sticky;
                        top: 0;
                        padding: 0;
                        z-index: 10;
                        > div{
                            padding: .6em;
                            z-index: 11;
                            background-color: white;
                            border-bottom: solid 2px $color-border-form;
                        }
                    }
                    td:first-child{
                        width: 140px;
                        div{
                            white-space: nowrap; 
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    td:nth-child(2){
                        width: 140px;
                        div{
                            white-space: nowrap; 
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    td:last-child div div{
                        visibility: hidden;
                    }
                }
                tbody tr{
                    font-size: 90%;
                    width: 100%;
                    &:nth-child(2n+1) td:first-child div{
                        margin-left: 45%;
                    }
                    td{
                        padding-left: .6em;
                        padding-top: .3em;
                        padding-bottom: .3em;

                        a{
                            display: inline-flex;
                            overflow: hidden;
                            white-space: nowrap;
                            max-width: 300px;
                        }
                    }
                    td.info-block{
                        padding: 3em 0;
                    }
                }
            }
            

            .js-adding-load-row{ 
                .block-name{
                    z-index: 1;
                    #js-input-name{
                        position: relative;
                        z-index: 101;
                        background-color: white;
                        word-break: break-all;
                        overflow: hidden;
                        margin: 1em 0;
                        // max-width: 150px;
                        white-space: nowrap;
                    }  

                    &::before{
                        content: "";
                        background-color: rgba(39, 43, 77, 0.158);
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 100;
                    }
                }
            }
            .container__dashboard__table__row{
                z-index: 1;

                div[contenteditable='true']{
                    max-width: 300px;
                }
                &.published-load{
                    .btn:nth-child(2n+2){
                        opacity: .6;
                        &:hover{
                            background-color: transparent;
                        }
                        &:active{
                            transform:  none;
                        }
                    }
                }
                .icon-star{
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    background-size: 1em;
                    vertical-align: text-top;
                }
                .icon-check{
                    margin-left: 40%;
                    background-size: 1.5em 1em;
                    height: 1em;
                }
                &:nth-child(4n+2 ){
                    background-color: $color-background-tr;
                }
                &:nth-child(4n+1){
                    background-color: $color-background-tr;
                }             

                .container__dashboard__table__row__btns-action{
                    display: flex;
                    justify-content: flex-end;
                    font-size: 80%;
                    .btn{
                        margin-right: 1.5em;
                    }
                }
            }
        }
    }
}












@media (max-width: 1050px) {
    .container__dashboard__table__row__btns-action{
        .btn{
            span{
                display: none;
            }
        }
    }
}