@import '../abstracts/const-params.scss';
@import '../abstracts/puple-interface.scss';
@import '../layout/layout-page.scss';
@import '../vendors/fonts.scss';
@import '../components/input.scss';

.container{
    background-color: rgba(163, 185, 233, 0.205);
    .container__form{
        @include form;
        display: flex;
        flex-direction: column;
        background-color: $block-color;
        overflow: hidden;
        height: 100%;
        flex: 1;
        border-radius: 5px;
        margin: 20vmin auto;
        justify-content: center;
        width: 70vmin;

        .container__form__top-block{
            margin-bottom: 3em;
            margin-left: auto;
            margin-right: auto;
            .container__form__top-block__title{
                font-family: "MontserratMedium";
                font-size: 140%;
                color: $font-color-title;
            }
        }



        .container__form__content{
            margin-right: auto;
            margin-left: auto;
            input{
                width: 200px;
                padding: .2em .4em;
                margin: .2em 0;
            }

            form{
                display: flex;
                flex-direction: column;
            }

            input[type='button']{
                margin-top: 2em;
            }
        }
    }
}