@import '../layout/layout-page.scss';
@import '../base/base-class.scss';
@import '../abstracts/const-params.scss';

.container{
    .container__dashboard {
        flex-direction: column;
        a{
            width: fit-content;
            margin: 1em;
            text-decoration: none;
            color: $font-color;
            border-bottom: solid 2px transparent;
            &:hover{
                border-bottom: solid 2px $font-color-title;
                color: $font-color-title;
            }
        }
    }

    .container__dashboard__grid  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        margin: 2em;

        .box {
            display: flex;
            min-height: 8em;
            &:hover{
               background-color: rgba(13, 26, 63, 0.64);
            }
            background-color: rgba(13, 26, 63, 0.74);
        }

        a {
            //width: fit-content;
            font-size: 1.1em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            text-decoration: none;
            border: none;
            padding: 2em;
            color: white;
        }
    }
}