@import '../layout/layout-page.scss';
@import '../components/buttons.scss';
@import '../components/input.scss';
@import '../components/icon.scss';
@import '../components/dropdown-menu.scss';
@import '../components/forms/form-plan.scss';
@import '../base/base-class.scss';



.container{
    .container__dashboard{
        flex-direction: column;
        .container__dashboard__top-block{
            display: flex;
            > div:first-child{ 
                flex: 1;
                padding: .6em .5em 0 .5em;
            }
            > div:last-child{ flex: 1;}
            .container__dashboard__top-block__center-calendar{
                @include calendar;
            }
        }

        .container__dashboard__list{
            @include data_block;
            display: flex;
            flex-direction: column;
            font-size: 90%;
            overflow: auto;
            @include scroll_customize_raduis;
            color: $font-color;
            .container__dashboard__list__item{
                display: flex;
                padding: .5em .5em .5em .5em;
                &:hover{
                    @include hover_row;
                }
                align-items: center;
                .container__dashboard__list__item__form{
                    padding: .1em .5em;
                    border-radius: 15px;
                    font-size: 90%;
                    color: $font-color-title;
                    margin-right: .5em;
                    height: fit-content;
                    
                }
                .form1{
                    background-color: rgba(86, 95, 228, 0.274);
                }
                // .form2{
                //     background-color: rgba(84, 216, 67, 0.795);
                // }
                // .form3{
                //     background-color: rgba(216, 67, 79, 0.795);
                // }
                .form2{
                    background-color: rgba(86, 95, 228, 0.474);
                }
                .form3{
                    background-color: rgba(86, 95, 228, 0.674);
                }
                .qual1{
                    background-color: rgba(56, 128, 54, 0.274)
                }
                .qual2{
                    background-color: rgba(56, 128, 54, 0.474)
                }
                .qual3{
                    background-color: rgba(56, 128, 54, 0.674)
                }
                .container__dashboard__list__item__course{
                    background-color: rgba(205, 205, 212, 0.562);
                    padding: .1em .6em;
                    border-radius: 15px;
                    margin-left: auto;
                    height: fit-content;
                }

                .container__dashboard__list__item__del{
                    margin: 0.1em 0.6em;
                    padding: 0.2em 0.2em;
                    border-radius: 15px;
                }
                .container__dashboard__list__item__del:hover {
                  background-color: rgba(205, 205, 212, 0.562);
                }
            }
        }
    }
}