// @import 'fonts';
// @import 'upMenu';
@import '../layout/layout-page.scss';
@import '../components/buttons.scss';
@import '../components/input.scss';
@import '../components/icon.scss';
@import '../components/menu.scss';
@import '../base/base-class.scss';
@import '../components/forms/form-formula.scss';
@import '../components/forms/form-column.scss';

.container{
    .container__dashboard{
        .container__dashboard__left{
            display: flex;
            flex: 1;
            background-color: $block-color;
            margin: .7em;
            border-radius: 3px;
            flex-direction: column;
            overflow: auto;
            min-width: 500px;
            @include shadow;
            @include scroll_customize_raduis;

            .container__dashboard__left__head{
                display: flex;
                align-items: center;
                padding: .5em;
                justify-content: space-between;
                position: sticky;
                top: 0;
                margin-bottom: .2em;
                background-color: $block-color;

                .container__dashboard__left__head-title{
                    color: rgba(67, 70, 97, 0.76);
                    margin-left: .5em;
                    text-transform: uppercase;
                    
                }
            }

            .container__dashboard__left__body{
                font-size: 75%;
                .container__dashboard__left__body__row{
                    display: flex;
                    padding: .8em 1.3em;
                    margin-bottom: .3em;
                    justify-content: space-between;
                    &:hover{
                        @include hover_row;
                    }
                    
                    .container__dashboard__left__body__row-formula{
                        border-radius: 10px;
                        // font-family: MontserratRegular;
                        font-family: MontserratMedium;
                        min-width: 300px;
                        word-wrap: break-word;
                        cursor: default; 
                        margin-right: 1em;   
                    }

                    .container__dashboard__left__body__row__params{
                        label{
                            border-radius: 10px;
                            color: rgba(33, 33, 65, 0.904);
                            display: inline-block;
                            margin: 0 .5em .3em 0;
                            padding: .3em .8em;        
                        }

                        label[data-type="object_type"]{
                            background-color: rgba(68, 86, 248, 0.747);
                        }
                        label[data-type="forma"]{
                            background-color: rgba(224, 91, 91, 0.856);
                        }
                        label[data-type="qualification"]{
                            background-color: rgba(56, 128, 54, 0.575);
                        }
                    }

                    .container__dashboard__left__body__row__actions{
                        display: flex;
                        
                        .icon-edit{
                            margin-right: 1em;
                        }
                        .icon-remove{
                            margin-right: 1em;
                        }
                    }
                }
            }
            
        }

        .container__dashboard__right{
            max-width: 400px;
            min-width: 200px;
            height: 100%;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            flex: 1;
            width: 100%;
            position: relative;
            @include style_right_block;

            .container__dashboard__right__calendar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:.4em;
                .icon-arrow-left{
                    background-image: url("/images/arrow-thin-left.svg");
                }
                .icon-arrow-right{
                    background-image: url("/images/arrow-thin-right.svg");
                }
            }
            

            .container__dashboard__right__cols{
                display: flex;
                flex-direction: column;
                overflow: auto;
                padding-bottom: 25px;
                height: 100%;
                color: rgba(45, 42, 70, 0.925);
                font-size: 88%;
                @include scroll_customize;
                .info-block{
                    padding: 0 10px;
                }
                .col{
                    padding: 8px 10px;
                    position: relative;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    height: 1.6em;
                    border-left: solid 2px transparent;
                    &:hover{
                        background-color:  rgba(202, 202, 206, 0.137);
                        .icon-dots{
                            display: inline;
                        }
                    }

                    .col-name{
                        width: 80%;
                    }
                    .icon-visible{
                        background-image: url("/images/open.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 16px;
                        height: 16px;
                        margin: 0 10px;
                    }
                    .icon-invisible{
                        background-image: url("/images/hide.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 16px;
                        height: 16px;
                        margin: 0 10px;
                    }
                    .icon-invisible + .col-name{
                        color: rgb(168, 167, 177);
                    }
                    .icon-dots{
                        display: none;
                        background-image: url("/images/dots.svg");
                        background-position: center;
                        background-repeat: no-repeat;
                        width: 1.8vw;
                        height: 100%;
                        margin-left: auto;
                    }
                }
                .js-selected-column{
                    background-color: rgba(202, 202, 206, 0.137);
                    border-left: solid 2px #32304b42;
                }
                .list-children{
                    .child-col{
                        padding-left: 3em;
                    }
                }
            }


            .container__dashboard__right__btn{
                position: absolute;
                padding: .2em .4em;
                height: 25px;
                width: 100%;
                justify-content: center;
                box-sizing: border-box;
                bottom: 0;
                border-radius: 0;
                color: #ccccdb;
                background-color: rgb(107, 110, 139);
                background-position: center;
                transition: background .8s;
                font-size: 80%;
                .icon-add{
                    background-image: url("/images/add-light.svg");
                }
                &:hover{
                    background: rgb(81, 82, 110) radial-gradient(circle, transparent 1%, rgb(79, 80, 110) 1%) center/150000%;
                }
                &:active{
                    background-color: rgb(98, 98, 121);
                    background-size: 100%;
                    transition: background 0s;
                }
            }

            .container__dashboard__right__btn__center{
                padding: .2em .4em;
                margin: 1em auto;
                height: 25px;
                justify-content: center;
                box-sizing: border-box;
            }
        }
    }
}