@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

html, body {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  font-size: 100%; }

.container .container__upmenu {
  font-family: 'UbuntuMedium';
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2.5px 1px #45436025;
  z-index: 2;
  padding: .2em 0 .2em 0; }
  .container .container__upmenu .container__upmenu__left {
    display: flex;
    align-items: center; }
    .container .container__upmenu .container__upmenu__left .container__upmenu__left__img {
      cursor: pointer;
      background-image: url("/images/upmenu.svg");
      background-repeat: no-repeat;
      padding: .8em;
      margin-left: .5em; }
    .container .container__upmenu .container__upmenu__left .container__upmenu__left__nav {
      margin-left: .5em; }
  .container .container__upmenu .container__upmenu__right {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container .container__upmenu .container__upmenu__right .container__upmenu__right__user {
      margin-right: 5em;
      font-size: 13px; }
      .container .container__upmenu .container__upmenu__right .container__upmenu__right__user::before {
        display: inline-block;
        content: '';
        background-image: url("/images/user.svg");
        background-repeat: no-repeat;
        width: 2em;
        height: 2em;
        background-size: 2em;
        vertical-align: middle;
        padding-right: .5em; }
    .container .container__upmenu .container__upmenu__right .container__upmenu__right__exit {
      margin-right: .5em;
      margin-left: .5em;
      cursor: pointer; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a::selection {
  background-color: transparent; }

span {
  cursor: default; }

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em; }
  .info-block::selection {
    background-color: transparent; }

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px; }
  .info-input-block::selection {
    background-color: transparent; }

.text {
  cursor: default; }
  .text::selection {
    background-color: transparent; }

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966); }

.input-block {
  font-size: 100%;
  position: relative; }
  .input-block div {
    color: #626269f3;
    margin-bottom: -3px;
    font-size: 97%;
    font-family: "UbuntuRegular"; }
  .input-block img {
    position: absolute;
    width: 1.4em;
    right: 1em;
    top: 45%; }

.invisible-block {
  visibility: hidden; }

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626269f3; }
  .input-flex span {
    padding-right: .5em; }

label::selection {
  background-color: transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes closeAnim {
  0% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
@keyframes openAnim {
  0% {
    margin-top: -100%; }
  100% {
    margin-top: 1.5em; } }
@keyframes dropAlert {
  0% {
    margin-top: -100%; }
  10% {
    margin-top: 1.5em; }
  80% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  transform: translate(-50%, 0%);
  background-color: white;
  display: flex;
  max-width: 600px;
  margin-top: -100%; }
  .alert.offline-alert {
    align-items: center; }
  .alert.open {
    animation: openAnim .7s ease  1  forwards; }
  .alert.close {
    animation: closeAnim .7s ease  1  forwards; }
  .alert.dropdownAlert {
    animation: dropAlert 4s ease  1  forwards; }
  .alert .image-close-block {
    position: absolute;
    right: .5em;
    top: .5em; }
  .alert img {
    width: 3em;
    height: auto;
    margin-right: 1em;
    animation: pulse 1s ease-in  infinite  both; }
  .alert .alert__container .alert__container__title {
    font-size: 103%;
    font-family: "UbuntuMedium";
    margin-top: 1em;
    margin-bottom: .3em; }
    .alert .alert__container .alert__container__title::selection {
      background-color: transparent; }
  .alert .alert__container .alert__container__msg {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__msg .alert__container__msg__list {
      list-style: square;
      padding-left: 1em; }
      .alert .alert__container .alert__container__msg .alert__container__msg__list span {
        display: list-item; }
  .alert .alert__container .alert__container__content {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__content > div {
      padding: .2em 0; }
      .alert .alert__container .alert__container__content > div::before {
        content: "";
        display: inline-block;
        margin-right: .3em;
        width: 7px;
        height: 7px;
        background-color: #383964;
        border-radius: 10px;
        margin-bottom: 2px; }
    .alert .alert__container .alert__container__content::selection {
      background-color: transparent; }

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39); }

.success-block {
  border: solid 3px #21a1365b;
  box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39); }

.hide-block {
  display: none !important; }

#view-year::selection {
  background-color: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.loader {
  display: none; }

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto; }

input.text-name {
  width: 45%; }

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em; }

.toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer; }
  .toggle input:hover {
    border: 1px solid #46455f7e; }
  .toggle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(135, 131, 161, 0.466);
    border-radius: 50%;
    left: 1.5px;
    top: 2px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
  .toggle input:checked::after {
    transform: translateX(calc(100% + .5px));
    background-color: #bbc1e1; }
  .toggle input:checked {
    border: 1px solid #bbc1e1; }
    .toggle input:checked:hover {
      border: 1px solid #46455f7e; }
.toggle label {
  font-size: 14px;
  padding-left: 3px; }

.container {
  background-color: rgba(225, 225, 228, 0.158);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: rgba(13, 26, 63, 0.74);
  flex: 1;
  font-family: 'UbuntuRegular'; }
  .container .container__dashboard {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100%;
    flex: 1; }

.btn {
  cursor: default;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 13px; }
  .btn span {
    padding-right: .5em;
    font-size: 95%;
    color: #76788c;
    width: max-content;
    cursor: default;
    font-family: "UbuntuMedium"; }
    .btn span::selection {
      background-color: transparent; }
  .btn:hover {
    background-color: rgba(56, 56, 68, 0.055); }
  .btn:active {
    transform: scale(0.95); }

.btn-base {
  border-radius: 5px;
  background-color: #34335cef;
  padding: .2em .5em;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: default; }
  .btn-base span {
    font-size: 95%;
    color: rgba(237, 237, 243, 0.897);
    cursor: default;
    padding: .4em .4em .4em 0;
    font-family: "UbuntuMedium";
    width: max-content; }
    .btn-base span::selection {
      background-color: transparent; }

.btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: .8em;
  width: 2em;
  height: 1.6em;
  cursor: pointer; }
  .btn-icon:active {
    transform: scale(0.9); }

.btn-upload-file {
  cursor: default;
  border-radius: 3px; }
  .btn-upload-file:hover {
    background-color: rgba(73, 73, 126, 0.103); }

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

.icon-small {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.1em 1em;
  width: 1.2em;
  height: 1.2em; }

.icon-add {
  background-image: url("/images/add.svg"); }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  width: 2em;
  height: 2em; }

.icon-refresh {
  background-image: url("/images/refresh.svg"); }

.icon-refresh-new-version {
  background-image: url("/images/refresh-new-version.svg"); }

.icon-remove {
  background-image: url("/images/remove.svg"); }

.icon-no-tweet {
  background-image: url("/images/no-tweet.svg");
  background-size: 1.3em; }

.icon-tweet {
  background-image: url("/images/tweet.svg");
  background-size: 1.3em; }

.icon-published {
  background-image: url("/images/published.svg");
  background-size: 1.3em; }

.icon-edit {
  background-image: url("/images/edit.svg"); }

.icon-remove {
  background-image: url("/images/remove.svg"); }

.icon-arrow-dropdown {
  background-image: url("/images/arrow-up-thin.svg");
  transform: rotate(0deg);
  transition: transform .5s linear; }

.icon-arrow-dropdown.rotated {
  transform: rotate(180deg);
  transition: transform .5s linear; }

.icon-arrow-list {
  background-image: url("/images/arrow-list.svg"); }

.icon-arrow-list.rotated {
  transform: rotate(90deg);
  transition: transform .5s ease; }

.icon-arrow-list {
  transform: rotate(0deg);
  transition: transform .5s ease; }

.icon-contingent {
  background-image: url("/images/contingent.svg"); }

.icon-check {
  background-image: url("/images/checkbox.svg"); }

.js-menu.inactive span:first-child {
  opacity: .4; }
  .js-menu.inactive span:first-child:hover {
    background-color: transparent; }
.js-menu.inactive span:nth-child(2) {
  opacity: .4; }
  .js-menu.inactive span:nth-child(2):hover {
    background-color: transparent; }

.js-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 10px;
  background-color: white;
  z-index: 400;
  border-radius: 2px;
  font-size: 12px;
  box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09);
  font-family: "UbuntuMedium";
  width: fit-content; }
  .js-menu span:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px; }
  .js-menu span:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }
  .js-menu span {
    padding: .4em .8em;
    cursor: default;
    color: #626269f3;
    font-size: 12px;
    z-index: 2; }
    .js-menu span:hover {
      background-color: rgba(170, 170, 177, 0.158); }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a::selection {
  background-color: transparent; }

span {
  cursor: default; }

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em; }
  .info-block::selection {
    background-color: transparent; }

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px; }
  .info-input-block::selection {
    background-color: transparent; }

.text {
  cursor: default; }
  .text::selection {
    background-color: transparent; }

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966); }

.input-block {
  font-size: 100%;
  position: relative; }
  .input-block div {
    color: #626269f3;
    margin-bottom: -3px;
    font-size: 97%;
    font-family: "UbuntuRegular"; }
  .input-block img {
    position: absolute;
    width: 1.4em;
    right: 1em;
    top: 45%; }

.invisible-block {
  visibility: hidden; }

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626269f3; }
  .input-flex span {
    padding-right: .5em; }

label::selection {
  background-color: transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes closeAnim {
  0% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
@keyframes openAnim {
  0% {
    margin-top: -100%; }
  100% {
    margin-top: 1.5em; } }
@keyframes dropAlert {
  0% {
    margin-top: -100%; }
  10% {
    margin-top: 1.5em; }
  80% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  transform: translate(-50%, 0%);
  background-color: white;
  display: flex;
  max-width: 600px;
  margin-top: -100%; }
  .alert.offline-alert {
    align-items: center; }
  .alert.open {
    animation: openAnim .7s ease  1  forwards; }
  .alert.close {
    animation: closeAnim .7s ease  1  forwards; }
  .alert.dropdownAlert {
    animation: dropAlert 4s ease  1  forwards; }
  .alert .image-close-block {
    position: absolute;
    right: .5em;
    top: .5em; }
  .alert img {
    width: 3em;
    height: auto;
    margin-right: 1em;
    animation: pulse 1s ease-in  infinite  both; }
  .alert .alert__container .alert__container__title {
    font-size: 103%;
    font-family: "UbuntuMedium";
    margin-top: 1em;
    margin-bottom: .3em; }
    .alert .alert__container .alert__container__title::selection {
      background-color: transparent; }
  .alert .alert__container .alert__container__msg {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__msg .alert__container__msg__list {
      list-style: square;
      padding-left: 1em; }
      .alert .alert__container .alert__container__msg .alert__container__msg__list span {
        display: list-item; }
  .alert .alert__container .alert__container__content {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__content > div {
      padding: .2em 0; }
      .alert .alert__container .alert__container__content > div::before {
        content: "";
        display: inline-block;
        margin-right: .3em;
        width: 7px;
        height: 7px;
        background-color: #383964;
        border-radius: 10px;
        margin-bottom: 2px; }
    .alert .alert__container .alert__container__content::selection {
      background-color: transparent; }

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39); }

.success-block {
  border: solid 3px #21a1365b;
  box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39); }

.hide-block {
  display: none !important; }

#view-year::selection {
  background-color: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.loader {
  display: none; }

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto; }

input.text-name {
  width: 45%; }

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em; }

.toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer; }
  .toggle input:hover {
    border: 1px solid #46455f7e; }
  .toggle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(135, 131, 161, 0.466);
    border-radius: 50%;
    left: 1.5px;
    top: 2px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
  .toggle input:checked::after {
    transform: translateX(calc(100% + .5px));
    background-color: #bbc1e1; }
  .toggle input:checked {
    border: 1px solid #bbc1e1; }
    .toggle input:checked:hover {
      border: 1px solid #46455f7e; }
.toggle label {
  font-size: 14px;
  padding-left: 3px; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
.container {
  font-size: 100%; }
  .container #confirmForm .form {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding-top: 1em;
    padding-bottom: 1em; }
  .container .container__background {
    background-color: rgba(55, 60, 105, 0.158);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .container__background .container__background__dialog {
      z-index: 40;
      background-color: white;
      border-radius: 2px;
      font-size: 95%;
      box-sizing: border-box;
      min-width: 400px;
      max-width: 700px;
      max-height: 500px;
      position: relative;
      border: solid 2px rgba(62, 67, 92, 0.09);
      box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09); }
      .container .container__background .container__background__dialog .container__background__dialog__title {
        font-size: 105%;
        color: #383964;
        margin: .7em;
        text-transform: uppercase;
        font-family: "UbuntuMedium"; }
      .container .container__background .container__background__dialog .form {
        display: flex;
        font-size: 90%;
        padding: 0 .7em; }
      .container .container__background .container__background__dialog .btns {
        display: flex;
        justify-content: flex-end;
        margin: .7em; }
        .container .container__background .container__background__dialog .btns input[type="button"]:first-child {
          margin-right: 1em; }
      .container .container__background .container__background__dialog .container__background__dialog__form {
        font-size: 90%; }
        .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
          display: flex;
          position: relative;
          justify-content: flex-end;
          margin-top: 1em; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
            font-size: 90%; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
            margin-right: 1em; }

.container {
  position: relative; }
  .container .container__background.addFormulaForm {
    display: none; }
    .container .container__background.addFormulaForm .open {
      display: flex; }
    .container .container__background.addFormulaForm .container__background__dialog {
      padding: 0;
      min-width: 860px; }
      .container .container__background.addFormulaForm .container__background__dialog .container__background__dialog__title {
        margin: 0;
        padding: .5em; }
      .container .container__background.addFormulaForm .container__background__dialog .form {
        padding: 0;
        border-top: none; }
        .container .container__background.addFormulaForm .container__background__dialog .form .btns {
          border-top: none; }
      .container .container__background.addFormulaForm .container__background__dialog .form__content {
        display: flex;
        border-top: solid 2px rgba(62, 67, 92, 0.09);
        border-bottom: solid 2px rgba(62, 67, 92, 0.09); }
        .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block {
          border-right: solid 2px rgba(62, 67, 92, 0.09);
          padding: .5em;
          width: 60%;
          min-width: 600px; }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula {
            margin-bottom: .3em;
            padding: 0.5em 0.2em 0.5em 0.5em;
            box-sizing: border-box;
            width: 100%;
            min-height: 60px;
            border: solid 1px rgba(88, 88, 121, 0.8);
            border-radius: 2px;
            max-height: 60px;
            overflow: auto; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula::-webkit-scrollbar {
              width: 8px; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula::-webkit-scrollbar-thumb {
              background-color: rgba(185, 173, 179, 0.4);
              border-radius: 20px;
              border: solid .12em white; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula::-webkit-scrollbar-track {
              background: transparent; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block {
              display: inline-block;
              margin-right: .3em;
              margin-bottom: .2em;
              font-size: 88%;
              cursor: pointer; }
              .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block .js-formula-remove {
                visibility: hidden;
                display: inline-block;
                margin-left: .5em;
                padding-top: .2em; }
              .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block:hover .js-formula-remove {
                visibility: visible; }
              .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block .js-formula-remove {
                background-image: url("/images/close.svg");
                background-position: bottom;
                background-repeat: no-repeat;
                width: .8em;
                height: .8em; }
                .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block .js-formula-remove:active {
                  transform: scale(0.9); }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block[data-type='js-col-name'] {
              border: solid 1px rgba(52, 83, 177, 0.63);
              border-radius: 6px;
              padding: .1em .4em; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block[data-type='js-operation'] {
              border: solid 1px rgba(52, 83, 177, 0.63);
              border-radius: 6px;
              padding: .1em .4em; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block[data-type='js-const'] {
              border: solid 1px rgba(52, 83, 177, 0.63);
              border-radius: 6px;
              padding: .1em .4em; }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties span:hover {
            box-shadow: 0 0 2px 0 rgba(69, 68, 122, 0.644); }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: .5em; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__left .properties__top__left__list {
              display: flex;
              flex-wrap: wrap; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right {
              position: relative;
              height: 100%; }
              .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .properties__top__right__input {
                display: flex;
                position: relative; }
              .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right input {
                margin: 0; }
              .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .js-const {
                position: absolute;
                background-color: rgba(88, 88, 121, 0.9);
                border-radius: 5px;
                right: 1px;
                width: 15%;
                top: 0;
                bottom: 0;
                height: auto;
                background-image: url("/images/add-const.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: .7em;
                cursor: default; }
                .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .js-const::selection {
                  background-color: transparent; }
                .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .js-const:active {
                  transform: scale(0.97); }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__bottom .properties__bottom__list {
            display: flex;
            flex-wrap: wrap;
            font-size: 87%; }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .name-property-block {
            padding: .1em 0;
            margin-bottom: .3em; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .name-property-block::selection {
              background-color: transparent; }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties span {
            background-color: rgba(74, 76, 92, 0.089);
            border-radius: 5px;
            padding: .2em .8em;
            margin: .1em .3em .5em 0;
            cursor: default; }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .container__background__dialog__content__properties__btn {
            display: flex;
            flex-direction: column;
            width: 100px; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .container__background__dialog__content__properties__btn .btn-add-const {
              cursor: default;
              margin-top: .5em; }
        .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block {
          padding-left: .5em;
          font-size: 94%; }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog-item {
            text-transform: uppercase;
            color: #383964;
            margin-top: .5em; }
          .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting {
            display: flex;
            flex-direction: column;
            color: #626269f3; }
            .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block {
              margin: .5em 0; }
              .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block .container__background__dialog__content__setting__block__list {
                display: grid;
                grid-template-columns: repeat(auto-fill, 230px);
                margin-left: .5em; }
                .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block .container__background__dialog__content__setting__block__list .js-property {
                  display: flex; }
                  .container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block .container__background__dialog__content__setting__block__list .js-property label::selection {
                    background-color: transparent; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
.container {
  font-size: 100%; }
  .container #confirmForm .form {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding-top: 1em;
    padding-bottom: 1em; }
  .container .container__background {
    background-color: rgba(55, 60, 105, 0.158);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .container__background .container__background__dialog {
      z-index: 40;
      background-color: white;
      border-radius: 2px;
      font-size: 95%;
      box-sizing: border-box;
      min-width: 400px;
      max-width: 700px;
      max-height: 500px;
      position: relative;
      border: solid 2px rgba(62, 67, 92, 0.09);
      box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09); }
      .container .container__background .container__background__dialog .container__background__dialog__title {
        font-size: 105%;
        color: #383964;
        margin: .7em;
        text-transform: uppercase;
        font-family: "UbuntuMedium"; }
      .container .container__background .container__background__dialog .form {
        display: flex;
        font-size: 90%;
        padding: 0 .7em; }
      .container .container__background .container__background__dialog .btns {
        display: flex;
        justify-content: flex-end;
        margin: .7em; }
        .container .container__background .container__background__dialog .btns input[type="button"]:first-child {
          margin-right: 1em; }
      .container .container__background .container__background__dialog .container__background__dialog__form {
        font-size: 90%; }
        .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
          display: flex;
          position: relative;
          justify-content: flex-end;
          margin-top: 1em; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
            font-size: 90%; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
            margin-right: 1em; }

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

.container .addColumnForm .container__background__dialog {
  min-height: auto; }
.container .container__background.open {
  display: flex; }
.container .close {
  display: none; }
.container .container__background .container__background__dialog .form {
  flex-direction: column;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  padding: 0; }
  .container .container__background .container__background__dialog .form input[type='text'] {
    margin: .7em .7em;
    width: auto; }
  .container .container__background .container__background__dialog .form .btns {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    padding: .7em;
    margin: 0; }
.container .container__background .container__background__dialog .container__background__dialog__form {
  margin: .5em 2em 2em 2em;
  display: flex;
  flex-direction: column; }
  .container .container__background .container__background__dialog .container__background__dialog__form input[type="text"]:first-child {
    margin-top: 1em; }
  .container .container__background .container__background__dialog .container__background__dialog__form input[type="text"]:nth-child(2) {
    margin-bottom: 1em; }
  .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
    display: flex;
    position: relative;
    justify-content: space-between; }
    .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
      width: 47%; }

.container .container__dashboard .container__dashboard__left {
  display: flex;
  flex: 1;
  background-color: white;
  margin: .7em;
  border-radius: 3px;
  flex-direction: column;
  overflow: auto;
  min-width: 500px;
  box-shadow: 0 0 0 2px rgba(62, 67, 92, 0.09); }
  .container .container__dashboard .container__dashboard__left::-webkit-scrollbar {
    width: 8px; }
  .container .container__dashboard .container__dashboard__left::-webkit-scrollbar-thumb {
    background-color: rgba(185, 173, 179, 0.4);
    border-radius: 20px;
    border: solid .12em white; }
  .container .container__dashboard .container__dashboard__left::-webkit-scrollbar-track {
    background: transparent; }
  .container .container__dashboard .container__dashboard__left .container__dashboard__left__head {
    display: flex;
    align-items: center;
    padding: .5em;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-bottom: .2em;
    background-color: white; }
    .container .container__dashboard .container__dashboard__left .container__dashboard__left__head .container__dashboard__left__head-title {
      color: rgba(67, 70, 97, 0.76);
      margin-left: .5em;
      text-transform: uppercase; }
  .container .container__dashboard .container__dashboard__left .container__dashboard__left__body {
    font-size: 75%; }
    .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row {
      display: flex;
      padding: .8em 1.3em;
      margin-bottom: .3em;
      justify-content: space-between; }
      .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row:hover {
        box-shadow: 0 0 0px 2px rgba(96, 99, 133, 0.158); }
      .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row .container__dashboard__left__body__row-formula {
        border-radius: 10px;
        font-family: MontserratMedium;
        min-width: 300px;
        word-wrap: break-word;
        cursor: default;
        margin-right: 1em; }
      .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row .container__dashboard__left__body__row__params label {
        border-radius: 10px;
        color: rgba(33, 33, 65, 0.904);
        display: inline-block;
        margin: 0 .5em .3em 0;
        padding: .3em .8em; }
      .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row .container__dashboard__left__body__row__params label[data-type="object_type"] {
        background-color: rgba(68, 86, 248, 0.747); }
      .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row .container__dashboard__left__body__row__params label[data-type="forma"] {
        background-color: rgba(224, 91, 91, 0.856); }
      .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row .container__dashboard__left__body__row__params label[data-type="qualification"] {
        background-color: rgba(56, 128, 54, 0.575); }
      .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row .container__dashboard__left__body__row__actions {
        display: flex; }
        .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row .container__dashboard__left__body__row__actions .icon-edit {
          margin-right: 1em; }
        .container .container__dashboard .container__dashboard__left .container__dashboard__left__body .container__dashboard__left__body__row .container__dashboard__left__body__row__actions .icon-remove {
          margin-right: 1em; }
.container .container__dashboard .container__dashboard__right {
  max-width: 400px;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  width: 100%;
  position: relative;
  background-color: #fdfdfd;
  box-shadow: 0 0 3px 0 rgba(80, 80, 119, 0.226);
  color: #54516d; }
  .container .container__dashboard .container__dashboard__right .container__dashboard__right__calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4em; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__calendar .icon-arrow-left {
      background-image: url("/images/arrow-thin-left.svg"); }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__calendar .icon-arrow-right {
      background-image: url("/images/arrow-thin-right.svg"); }
  .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 25px;
    height: 100%;
    color: rgba(45, 42, 70, 0.925);
    font-size: 88%; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols::-webkit-scrollbar {
      width: 10px; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols::-webkit-scrollbar-thumb {
      background-color: #B9ADB3; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols::-webkit-scrollbar-track {
      background-color: rgba(163, 159, 161, 0.205); }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .info-block {
      padding: 0 10px; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .col {
      padding: 8px 10px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 1.6em;
      border-left: solid 2px transparent; }
      .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .col:hover {
        background-color: rgba(202, 202, 206, 0.137); }
        .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .col:hover .icon-dots {
          display: inline; }
      .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .col .col-name {
        width: 80%; }
      .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .col .icon-visible {
        background-image: url("/images/open.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin: 0 10px; }
      .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .col .icon-invisible {
        background-image: url("/images/hide.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        margin: 0 10px; }
      .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .col .icon-invisible + .col-name {
        color: #a8a7b1; }
      .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .col .icon-dots {
        display: none;
        background-image: url("/images/dots.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 1.8vw;
        height: 100%;
        margin-left: auto; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .js-selected-column {
      background-color: rgba(202, 202, 206, 0.137);
      border-left: solid 2px #32304b42; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__cols .list-children .child-col {
      padding-left: 3em; }
  .container .container__dashboard .container__dashboard__right .container__dashboard__right__btn {
    position: absolute;
    padding: .2em .4em;
    height: 25px;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    bottom: 0;
    border-radius: 0;
    color: #ccccdb;
    background-color: #6b6e8b;
    background-position: center;
    transition: background .8s;
    font-size: 80%; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__btn .icon-add {
      background-image: url("/images/add-light.svg"); }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__btn:hover {
      background: #51526e radial-gradient(circle, transparent 1%, #4f506e 1%) center/150000%; }
    .container .container__dashboard .container__dashboard__right .container__dashboard__right__btn:active {
      background-color: #626279;
      background-size: 100%;
      transition: background 0s; }
  .container .container__dashboard .container__dashboard__right .container__dashboard__right__btn__center {
    padding: .2em .4em;
    margin: 1em auto;
    height: 25px;
    justify-content: center;
    box-sizing: border-box; }

/*# sourceMappingURL=table-columns.css.map */
