@import '../layout/layout-page.scss';
@import '../base/base-class.scss';
@import '../abstracts/const-params.scss';
@import '../components/buttons.scss';
@import '../components/icon.scss';
@import '../components/input.scss';
@import '../components/forms/form-admin.scss';

.m-t-10 {
  margin-top: 10px;
}

.form {
  @supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #7D90B2;
    --active-inner: #fff;
    --focus: 2px rgba(125, 144, 178, 0.3);
    --border: #7D90B2;
    --border-hover: #7D90B2;
    --background: #fff;
    --disabled: #CCCCCC;
    --disabled-inner: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 17px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 17px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      line-height: 17px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-right:  10px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}
}


input.text-name, .input-block {
    width: 100% !important;
    margin-top: 10px !important;
} 

.container{
    .container__dashboard{
        flex-direction: column;
        .container__dashboard__top-block{
            display: flex;
            justify-content: space-between;
            font-size: 80%;
           .btn-base{
               margin-top: .5em;
           }
        }
        .container__dashboard__table{
            table{
                thead tr{
                    td:nth-child(2){
                        width: 300px !important;
                    }
                }
                tbody tr{
                    &:nth-child(2n+1) td:first-child div{
                        margin-left: 0% !important;
                    }
                }
                .container__dashboard__table__row{
                    &:nth-child(4n+2 ){
                        background-color: transparent;
                    }
                    &:nth-child(4n+1){
                        background-color: transparent;
                    } 
                    &:nth-child(2n+1){
                        background-color: $color-background-tr;
                    }
                }
            }
        }
    }

    
}

$spinkit-size: 4em !default;
$spinkit-spinner-color: #34335cef !default;



.loading {

    .loader {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.2);
    top: 0;
    left: 0;
    display: block;
    z-index: 999;
    }

.sk-wandering-cubes {
  $animationDuration: 1.8s;

  width: $spinkit-size;
  height: $spinkit-size;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  //margin: auto;

  .sk-cube {
    background-color: $spinkit-spinner-color;
    width: ($spinkit-size / 4);
    height: ($spinkit-size / 4);
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-wandering-cubes $animationDuration ease-in-out #{-$animationDuration} infinite both;
  }

  .sk-cube-2 {
    animation-delay: (-$animationDuration / 2);
  }
}

@keyframes sk-wandering-cubes {
  $cubeDistance: ($spinkit-size / 2);
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: translateX($cubeDistance) rotate(-90deg) scale(0.5);
  }
  50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-179deg);
  }
  50.1% {
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-180deg);
  }
  75% {
    transform: translateX(0) translateY($cubeDistance) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}

}
