@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .4em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

html, body {
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  font-size: 100%; }

.container .container__upmenu {
  font-family: 'UbuntuMedium';
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2.5px 1px #45436025;
  z-index: 2;
  padding: .2em 0 .2em 0; }
  .container .container__upmenu .container__upmenu__left {
    display: flex;
    align-items: center; }
    .container .container__upmenu .container__upmenu__left .container__upmenu__left__img {
      cursor: pointer;
      background-image: url("/images/upmenu.svg");
      background-repeat: no-repeat;
      padding: .8em;
      margin-left: .5em; }
    .container .container__upmenu .container__upmenu__left .container__upmenu__left__nav {
      margin-left: .5em; }
  .container .container__upmenu .container__upmenu__right {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .container .container__upmenu .container__upmenu__right .container__upmenu__right__user {
      margin-right: 5em;
      font-size: 13px; }
      .container .container__upmenu .container__upmenu__right .container__upmenu__right__user::before {
        display: inline-block;
        content: '';
        background-image: url("/images/user.svg");
        background-repeat: no-repeat;
        width: 2em;
        height: 2em;
        background-size: 2em;
        vertical-align: middle;
        padding-right: .5em; }
    .container .container__upmenu .container__upmenu__right .container__upmenu__right__exit {
      margin-right: .5em;
      margin-left: .5em;
      cursor: pointer; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a::selection {
  background-color: transparent; }

span {
  cursor: default; }

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em; }
  .info-block::selection {
    background-color: transparent; }

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px; }
  .info-input-block::selection {
    background-color: transparent; }

.text {
  cursor: default; }
  .text::selection {
    background-color: transparent; }

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966); }

.input-block {
  font-size: 100%;
  position: relative; }
  .input-block div {
    color: #626269f3;
    margin-bottom: -3px;
    font-size: 97%;
    font-family: "UbuntuRegular"; }
  .input-block img {
    position: absolute;
    width: 1.4em;
    right: 1em;
    top: 45%; }

.invisible-block {
  visibility: hidden; }

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626269f3; }
  .input-flex span {
    padding-right: .5em; }

label::selection {
  background-color: transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes closeAnim {
  0% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
@keyframes openAnim {
  0% {
    margin-top: -100%; }
  100% {
    margin-top: 1.5em; } }
@keyframes dropAlert {
  0% {
    margin-top: -100%; }
  10% {
    margin-top: 1.5em; }
  80% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  transform: translate(-50%, 0%);
  background-color: white;
  display: flex;
  max-width: 600px;
  margin-top: -100%; }
  .alert.offline-alert {
    align-items: center; }
  .alert.open {
    animation: openAnim .7s ease  1  forwards; }
  .alert.close {
    animation: closeAnim .7s ease  1  forwards; }
  .alert.dropdownAlert {
    animation: dropAlert 4s ease  1  forwards; }
  .alert .image-close-block {
    position: absolute;
    right: .5em;
    top: .5em; }
  .alert img {
    width: 3em;
    height: auto;
    margin-right: 1em;
    animation: pulse 1s ease-in  infinite  both; }
  .alert .alert__container .alert__container__title {
    font-size: 103%;
    font-family: "UbuntuMedium";
    margin-top: 1em;
    margin-bottom: .3em; }
    .alert .alert__container .alert__container__title::selection {
      background-color: transparent; }
  .alert .alert__container .alert__container__msg {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__msg .alert__container__msg__list {
      list-style: square;
      padding-left: 1em; }
      .alert .alert__container .alert__container__msg .alert__container__msg__list span {
        display: list-item; }
  .alert .alert__container .alert__container__content {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__content > div {
      padding: .2em 0; }
      .alert .alert__container .alert__container__content > div::before {
        content: "";
        display: inline-block;
        margin-right: .3em;
        width: 7px;
        height: 7px;
        background-color: #383964;
        border-radius: 10px;
        margin-bottom: 2px; }
    .alert .alert__container .alert__container__content::selection {
      background-color: transparent; }

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39); }

.success-block {
  border: solid 3px #21a1365b;
  box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39); }

.hide-block {
  display: none !important; }

#view-year::selection {
  background-color: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.loader {
  display: none; }

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto; }

input.text-name {
  width: 45%; }

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em; }

.toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer; }
  .toggle input:hover {
    border: 1px solid #46455f7e; }
  .toggle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(135, 131, 161, 0.466);
    border-radius: 50%;
    left: 1.5px;
    top: 2px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
  .toggle input:checked::after {
    transform: translateX(calc(100% + .5px));
    background-color: #bbc1e1; }
  .toggle input:checked {
    border: 1px solid #bbc1e1; }
    .toggle input:checked:hover {
      border: 1px solid #46455f7e; }
.toggle label {
  font-size: 14px;
  padding-left: 3px; }

.container {
  background-color: rgba(225, 225, 228, 0.158);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: rgba(13, 26, 63, 0.74);
  flex: 1;
  font-family: 'UbuntuRegular'; }
  .container .container__dashboard {
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 100%;
    flex: 1; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
a::selection {
  background-color: transparent; }

span {
  cursor: default; }

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em; }
  .info-block::selection {
    background-color: transparent; }

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px; }
  .info-input-block::selection {
    background-color: transparent; }

.text {
  cursor: default; }
  .text::selection {
    background-color: transparent; }

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966); }

.input-block {
  font-size: 100%;
  position: relative; }
  .input-block div {
    color: #626269f3;
    margin-bottom: -3px;
    font-size: 97%;
    font-family: "UbuntuRegular"; }
  .input-block img {
    position: absolute;
    width: 1.4em;
    right: 1em;
    top: 45%; }

.invisible-block {
  visibility: hidden; }

.input-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #626269f3; }
  .input-flex span {
    padding-right: .5em; }

label::selection {
  background-color: transparent; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes closeAnim {
  0% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
@keyframes openAnim {
  0% {
    margin-top: -100%; }
  100% {
    margin-top: 1.5em; } }
@keyframes dropAlert {
  0% {
    margin-top: -100%; }
  10% {
    margin-top: 1.5em; }
  80% {
    margin-top: 1.5em; }
  100% {
    margin-top: -100%; } }
.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  transform: translate(-50%, 0%);
  background-color: white;
  display: flex;
  max-width: 600px;
  margin-top: -100%; }
  .alert.offline-alert {
    align-items: center; }
  .alert.open {
    animation: openAnim .7s ease  1  forwards; }
  .alert.close {
    animation: closeAnim .7s ease  1  forwards; }
  .alert.dropdownAlert {
    animation: dropAlert 4s ease  1  forwards; }
  .alert .image-close-block {
    position: absolute;
    right: .5em;
    top: .5em; }
  .alert img {
    width: 3em;
    height: auto;
    margin-right: 1em;
    animation: pulse 1s ease-in  infinite  both; }
  .alert .alert__container .alert__container__title {
    font-size: 103%;
    font-family: "UbuntuMedium";
    margin-top: 1em;
    margin-bottom: .3em; }
    .alert .alert__container .alert__container__title::selection {
      background-color: transparent; }
  .alert .alert__container .alert__container__msg {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__msg .alert__container__msg__list {
      list-style: square;
      padding-left: 1em; }
      .alert .alert__container .alert__container__msg .alert__container__msg__list span {
        display: list-item; }
  .alert .alert__container .alert__container__content {
    font-size: 88%;
    font-family: "UbuntuRegular";
    color: #626269f3; }
    .alert .alert__container .alert__container__content > div {
      padding: .2em 0; }
      .alert .alert__container .alert__container__content > div::before {
        content: "";
        display: inline-block;
        margin-right: .3em;
        width: 7px;
        height: 7px;
        background-color: #383964;
        border-radius: 10px;
        margin-bottom: 2px; }
    .alert .alert__container .alert__container__content::selection {
      background-color: transparent; }

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39); }

.success-block {
  border: solid 3px #21a1365b;
  box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39); }

.hide-block {
  display: none !important; }

#view-year::selection {
  background-color: transparent; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
.loader {
  display: none; }

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto; }

input.text-name {
  width: 45%; }

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em; }

.toggle input {
  appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer; }
  .toggle input:hover {
    border: 1px solid #46455f7e; }
  .toggle input::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgba(135, 131, 161, 0.466);
    border-radius: 50%;
    left: 1.5px;
    top: 2px;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
  .toggle input:checked::after {
    transform: translateX(calc(100% + .5px));
    background-color: #bbc1e1; }
  .toggle input:checked {
    border: 1px solid #bbc1e1; }
    .toggle input:checked:hover {
      border: 1px solid #46455f7e; }
.toggle label {
  font-size: 14px;
  padding-left: 3px; }

.btn {
  cursor: pointer !important;
  border-radius: 3px;
  display: flex;
  align-items: center;
  font-size: 13px; }
  .btn span {
    padding-right: .5em;
    font-size: 95%;
    color: #76788c;
    width: max-content;
    cursor: default;
    font-family: "UbuntuMedium"; }
    .btn span::selection {
      background-color: transparent; }
  .btn:hover {
    background-color: rgba(56, 56, 68, 0.055); }
  .btn:active {
    transform: scale(0.95); }

.btn-base {
  border-radius: 5px;
  background-color: #34335cef;
  padding: .2em .5em;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer !important; }
  .btn-base span {
    font-size: 95%;
    color: rgba(237, 237, 243, 0.897);
    cursor: pointer !important;
    padding: .4em .4em .4em 0;
    font-family: "UbuntuMedium";
    width: max-content; }
    .btn-base span::selection {
      background-color: transparent; }

.btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: .8em;
  width: 2em;
  height: 1.6em;
  cursor: pointer; }
  .btn-icon:active {
    transform: scale(0.9); }

.btn-upload-file {
  cursor: default;
  border-radius: 3px; }
  .btn-upload-file:hover {
    background-color: rgba(73, 73, 126, 0.103); }

.icon-small {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.1em 1em;
  width: 1.2em;
  height: 1.2em; }

.icon-add {
  background-image: url("/images/add.svg"); }

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  width: 2em;
  height: 2em; }

.icon-refresh {
  background-image: url("/images/refresh.svg"); }

.icon-refresh-new-version {
  background-image: url("/images/refresh-new-version.svg"); }

.icon-remove {
  background-image: url("/images/remove.svg"); }

.icon-no-tweet {
  background-image: url("/images/no-tweet.svg");
  background-size: 1.3em; }

.icon-tweet {
  background-image: url("/images/tweet.svg");
  background-size: 1.3em; }

.icon-published {
  background-image: url("/images/published.svg");
  background-size: 1.3em; }

.icon-edit {
  background-image: url("/images/edit.svg"); }

.icon-remove {
  background-image: url("/images/remove.svg"); }

.icon-arrow-dropdown {
  background-image: url("/images/arrow-up-thin.svg");
  transform: rotate(0deg);
  transition: transform .5s linear; }

.icon-arrow-dropdown.rotated {
  transform: rotate(180deg);
  transition: transform .5s linear; }

.icon-arrow-list {
  background-image: url("/images/arrow-list.svg"); }

.icon-arrow-list.rotated {
  transform: rotate(90deg);
  transition: transform .5s ease; }

.icon-arrow-list {
  transform: rotate(0deg);
  transition: transform .5s ease; }

.icon-contingent {
  background-image: url("/images/contingent.svg"); }

.icon-check {
  background-image: url("/images/checkbox.svg"); }

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .4em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
.container {
  font-size: 100%; }
  .container #confirmForm .form {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding-top: 1em;
    padding-bottom: 1em; }
  .container .container__background {
    background-color: rgba(55, 60, 105, 0.158);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .container__background .container__background__dialog {
      z-index: 40;
      background-color: white;
      border-radius: 2px;
      font-size: 95%;
      box-sizing: border-box;
      min-width: 400px;
      max-width: 700px;
      max-height: 500px;
      position: relative;
      border: solid 2px rgba(62, 67, 92, 0.09);
      box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09); }
      .container .container__background .container__background__dialog .container__background__dialog__title {
        font-size: 105%;
        color: #383964;
        margin: .7em;
        text-transform: uppercase;
        font-family: "UbuntuMedium"; }
      .container .container__background .container__background__dialog .form {
        display: flex;
        font-size: 90%;
        padding: 0 .7em; }
      .container .container__background .container__background__dialog .btns {
        display: flex;
        justify-content: flex-end;
        margin: .7em; }
        .container .container__background .container__background__dialog .btns input[type="button"]:first-child {
          margin-right: 1em; }
      .container .container__background .container__background__dialog .container__background__dialog__form {
        font-size: 90%; }
        .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
          display: flex;
          position: relative;
          justify-content: flex-end;
          margin-top: 1em; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
            font-size: 90%; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
            margin-right: 1em; }

.container .container__background#createType .container__background__dialog, .container .container__background#editType .container__background__dialog, .container .container__background#createUser .container__background__dialog {
  min-width: 350px; }
  .container .container__background#createType .container__background__dialog .form, .container .container__background#editType .container__background__dialog .form, .container .container__background#createUser .container__background__dialog .form {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding: .7em;
    flex-direction: column; }
    .container .container__background#createType .container__background__dialog .form > div, .container .container__background#editType .container__background__dialog .form > div, .container .container__background#createUser .container__background__dialog .form > div {
      padding: .1em 0; }
    .container .container__background#createType .container__background__dialog .form input.text-name, .container .container__background#editType .container__background__dialog .form input.text-name, .container .container__background#createUser .container__background__dialog .form input.text-name {
      width: 100%;
      margin: .2em 0; }

.m-t-10 {
  margin-top: 10px; }

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .form input[type='checkbox'],
  .form input[type='radio'] {
    --active: #7D90B2;
    --active-inner: #fff;
    --focus: 2px rgba(125, 144, 178, 0.3);
    --border: #7D90B2;
    --border-hover: #7D90B2;
    --background: #fff;
    --disabled: #CCCCCC;
    --disabled-inner: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 17px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s; }
    .form input[type='checkbox']:after,
    .form input[type='radio']:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s); }
    .form input[type='checkbox']:checked,
    .form input[type='radio']:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2); }
    .form input[type='checkbox']:disabled,
    .form input[type='radio']:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9; }
      .form input[type='checkbox']:disabled:checked,
      .form input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border); }
      .form input[type='checkbox']:disabled + label,
      .form input[type='radio']:disabled + label {
        cursor: not-allowed; }
    .form input[type='checkbox']:hover:not(:checked):not(:disabled),
    .form input[type='radio']:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover); }
    .form input[type='checkbox']:focus,
    .form input[type='radio']:focus {
      box-shadow: 0 0 0 var(--focus); }
    .form input[type='checkbox']:not(.switch),
    .form input[type='radio']:not(.switch) {
      width: 17px; }
      .form input[type='checkbox']:not(.switch):after,
      .form input[type='radio']:not(.switch):after {
        opacity: var(--o, 0); }
      .form input[type='checkbox']:not(.switch):checked,
      .form input[type='radio']:not(.switch):checked {
        --o: 1; }
    .form input[type='checkbox'] + label,
    .form input[type='radio'] + label {
      line-height: 17px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-right: 4px; }
  .form input[type='checkbox']:not(.switch) {
    border-radius: 7px; }
    .form input[type='checkbox']:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg)); }
    .form input[type='checkbox']:not(.switch):checked {
      --r: 43deg; }
  .form input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px; }
    .form input[type='checkbox'].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0)); }
    .form input[type='checkbox'].switch:checked {
      --ab: var(--active-inner);
      --x: 17px; }
    .form input[type='checkbox'].switch:disabled:not(:checked):after {
      opacity: .6; }
  .form input[type='radio'] {
    border-radius: 50%; }
    .form input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7)); }
    .form input[type='radio']:checked {
      --s: .5; } }

input.text-name, .input-block {
  width: 100% !important;
  margin-top: 10px !important; }

.container .container__dashboard {
  flex-direction: column; }
  .container .container__dashboard .container__dashboard__top-block {
    display: flex;
    justify-content: space-between;
    font-size: 80%; }
    .container .container__dashboard .container__dashboard__top-block .btn-base {
      margin-top: .5em; }
  .container .container__dashboard .container__dashboard__table table thead tr td:nth-child(2) {
    width: 300px !important; }
  .container .container__dashboard .container__dashboard__table table tbody tr:nth-child(2n+1) td:first-child div {
    margin-left: 0% !important; }
  .container .container__dashboard .container__dashboard__table table .container__dashboard__table__row:nth-child(4n+2) {
    background-color: transparent; }
  .container .container__dashboard .container__dashboard__table table .container__dashboard__table__row:nth-child(4n+1) {
    background-color: transparent; }
  .container .container__dashboard .container__dashboard__table table .container__dashboard__table__row:nth-child(2n+1) {
    background-color: #fafbfc; }

.loading .loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(100, 100, 100, 0.2);
  top: 0;
  left: 0;
  display: block;
  z-index: 999; }
.loading .sk-wandering-cubes {
  width: 4em;
  height: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1000; }
  .loading .sk-wandering-cubes .sk-cube {
    background-color: #34335cef;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    animation: sk-wandering-cubes 1.8s ease-in-out -1.8s infinite both; }
  .loading .sk-wandering-cubes .sk-cube-2 {
    animation-delay: -0.9s; }
@keyframes sk-wandering-cubes {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: translateX(2em) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX(2em) translateY(2em) rotate(-179deg); }
  50.1% {
    transform: translateX(2em) translateY(2em) rotate(-180deg); }
  75% {
    transform: translateX(0) translateY(2em) rotate(-270deg) scale(0.5); }
  100% {
    transform: rotate(-360deg); } }

/*# sourceMappingURL=types.css.map */
