@import '../layout/layout-page.scss';
@import '../components/buttons.scss';
@import '../components/input.scss';
@import '../components/icon.scss';
@import '../base/base-class.scss';

.container{

    .container__dashboard{
        flex-direction: column;
        
        .container__dashboard__config{
            font-size: 80%;
            margin: .6em .4em;
        }

        .container__dashboard__list{
            font-size: 85%;
            display: flex;
            flex: 1;
            background-color: white;
            flex-direction: column;
            font-size: 90%;
            overflow: auto;
            @include data_block;
            @include scroll_customize_raduis;
            color: $font-color;            

            .container__dashboard__list__item{
                width: 100%;
                .pd1{
                    .container__dashboard__list__item__name{padding-left: 2em;}
                    .pd2{
                        .container__dashboard__list__item__name{padding-left: 3.5em;}
                        .pd3{
                            .container__dashboard__list__item__name{padding-left: 5em;}
                        }
                    }
                }

                > .container__dashboard__list__item__name{ padding-left:  .7em;}
                
                .container__dashboard__list__item__name{
                    display: flex;
                    align-items: center;
                    padding-top: .7em;
                    padding-bottom: .7em;
                    &:hover{
                        @include hover_row;
                    }
                    
                    .container__dashboard__list__item__name__left{
                        display: flex;
                        align-items: center;
                        
                    }
                    .container__dashboard__list__item__name__right{
                        margin-left: auto;

                        .container__dashboard__list__item__name__right__block{
                            display: flex;
                            align-items: center;
                        }

                        .link{
                            cursor: pointer;
                            margin: 0 3vw;
                            &:hover{
                                .icon-contingent{
                                    background-image: url("/images/contingent-hover.svg");
                                }
                            }
                        }
                    }

                    span{
                        cursor: default;
                        padding: 0 .5em;
                    }

                    &:hover{
                        color: $font-color-title;
                        @include hover_row;
                    }
                }
            }
        }

    }
    
}