@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover, .exit-link:hover {
  color: rgba(26, 30, 59, 0.76);
  border-bottom: 1px solid rgba(26, 30, 59, 0.76);
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em;
}

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em;
}

input:invalid {
  -webkit-box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479);
          box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479);
}

input[type="text"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="password"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=number]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.count-students {
  width: 30px;
  padding: .2em .3em;
}

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849);
}

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0;
}

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  -webkit-transition: background .4s;
  transition: background .4s;
}

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
}

div[contenteditable="true"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 2px transparent;
          box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent;
}

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkbox {
  position: relative;
  margin: .2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
  width: 0;
  margin: 0;
  padding: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

.checkbox input[type="checkbox"]:checked + label::before {
  content: url("/images/checkbox.svg");
}

.checkbox input[type="checkbox"]:not(:checked) + label::before {
  content: "";
}

.checkbox input[type="radio"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

.checkbox input[type="radio"]:checked + label::before {
  content: url("/images/checkbox.svg");
}

.checkbox input[type="radio"]:not(:checked) + label::before {
  content: "";
}

.checkbox input[type="radio"] + label::before {
  border-radius: 12px;
}

.checkbox input[type="checkbox"] + label::before {
  border-radius: 2px;
  top: -2px;
}

.checkbox label {
  cursor: pointer;
  padding-left: 1.5em;
}

.checkbox label::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #f8f8fa;
  border: solid 1px rgba(88, 88, 121, 0.829);
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  left: 0;
  top: 0;
}

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
}

textarea:focus {
  outline-color: transparent;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
  outline-width: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 100%;
}

.container .container__upmenu {
  font-family: 'UbuntuMedium';
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2.5px 1px #45436025;
          box-shadow: 0 0 2.5px 1px #45436025;
  z-index: 2;
  padding: .2em 0 .2em 0;
}

.container .container__upmenu .container__upmenu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container__upmenu .container__upmenu__left .container__upmenu__left__img {
  cursor: pointer;
  background-image: url("/images/upmenu.svg");
  background-repeat: no-repeat;
  padding: .8em;
  margin-left: .5em;
}

.container .container__upmenu .container__upmenu__left .container__upmenu__left__nav {
  margin-left: .5em;
}

.container .container__upmenu .container__upmenu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container__upmenu .container__upmenu__right .container__upmenu__right__user {
  margin-right: 5em;
  font-size: 13px;
}

.container .container__upmenu .container__upmenu__right .container__upmenu__right__user::before {
  display: inline-block;
  content: '';
  background-image: url("/images/user.svg");
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  background-size: 2em;
  vertical-align: middle;
  padding-right: .5em;
}

.container .container__upmenu .container__upmenu__right .container__upmenu__right__exit {
  margin-right: .5em;
  margin-left: .5em;
  cursor: pointer;
}

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

a::-moz-selection {
  background-color: transparent;
}

a::selection {
  background-color: transparent;
}

span {
  cursor: default;
}

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em;
}

.info-block::-moz-selection {
  background-color: transparent;
}

.info-block::selection {
  background-color: transparent;
}

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px;
}

.info-input-block::-moz-selection {
  background-color: transparent;
}

.info-input-block::selection {
  background-color: transparent;
}

.text {
  cursor: default;
}

.text::-moz-selection {
  background-color: transparent;
}

.text::selection {
  background-color: transparent;
}

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966);
}

.input-block {
  font-size: 100%;
  position: relative;
}

.input-block div {
  color: #626269f3;
  margin-bottom: -3px;
  font-size: 97%;
  font-family: "UbuntuRegular";
}

.input-block img {
  position: absolute;
  width: 1.4em;
  right: 1em;
  top: 45%;
}

.invisible-block {
  visibility: hidden;
}

.input-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #626269f3;
}

.input-flex span {
  padding-right: .5em;
}

label::-moz-selection {
  background-color: transparent;
}

label::selection {
  background-color: transparent;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes closeAnim {
  0% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes closeAnim {
  0% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes openAnim {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 1.5em;
  }
}

@keyframes openAnim {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 1.5em;
  }
}

@-webkit-keyframes dropAlert {
  0% {
    margin-top: -100%;
  }
  10% {
    margin-top: 1.5em;
  }
  80% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes dropAlert {
  0% {
    margin-top: -100%;
  }
  10% {
    margin-top: 1.5em;
  }
  80% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin-top: -100%;
}

.alert.offline-alert {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert.open {
  -webkit-animation: openAnim .7s ease  1  forwards;
          animation: openAnim .7s ease  1  forwards;
}

.alert.close {
  -webkit-animation: closeAnim .7s ease  1  forwards;
          animation: closeAnim .7s ease  1  forwards;
}

.alert.dropdownAlert {
  -webkit-animation: dropAlert 4s ease  1  forwards;
          animation: dropAlert 4s ease  1  forwards;
}

.alert .image-close-block {
  position: absolute;
  right: .5em;
  top: .5em;
}

.alert img {
  width: 3em;
  height: auto;
  margin-right: 1em;
  -webkit-animation: pulse 1s ease-in  infinite  both;
          animation: pulse 1s ease-in  infinite  both;
}

.alert .alert__container .alert__container__title {
  font-size: 103%;
  font-family: "UbuntuMedium";
  margin-top: 1em;
  margin-bottom: .3em;
}

.alert .alert__container .alert__container__title::-moz-selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__title::selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__msg {
  font-size: 88%;
  font-family: "UbuntuRegular";
  color: #626269f3;
}

.alert .alert__container .alert__container__msg .alert__container__msg__list {
  list-style: square;
  padding-left: 1em;
}

.alert .alert__container .alert__container__msg .alert__container__msg__list span {
  display: list-item;
}

.alert .alert__container .alert__container__content {
  font-size: 88%;
  font-family: "UbuntuRegular";
  color: #626269f3;
}

.alert .alert__container .alert__container__content > div {
  padding: .2em 0;
}

.alert .alert__container .alert__container__content > div::before {
  content: "";
  display: inline-block;
  margin-right: .3em;
  width: 7px;
  height: 7px;
  background-color: #383964;
  border-radius: 10px;
  margin-bottom: 2px;
}

.alert .alert__container .alert__container__content::-moz-selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__content::selection {
  background-color: transparent;
}

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  -webkit-box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39);
          box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39);
}

.success-block {
  border: solid 3px #21a1365b;
  -webkit-box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39);
          box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39);
}

.hide-block {
  display: none !important;
}

#view-year::-moz-selection {
  background-color: transparent;
}

#view-year::selection {
  background-color: transparent;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  display: none;
}

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  -webkit-animation: loading 2s linear infinite forwards;
          animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto;
}

input.text-name {
  width: 45%;
}

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em;
}

.toggle input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.toggle input:hover {
  border: 1px solid #46455f7e;
}

.toggle input::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(135, 131, 161, 0.466);
  border-radius: 50%;
  left: 1.5px;
  top: 2px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle input:checked::after {
  -webkit-transform: translateX(calc(100% + .5px));
          transform: translateX(calc(100% + .5px));
  background-color: #bbc1e1;
}

.toggle input:checked {
  border: 1px solid #bbc1e1;
}

.toggle input:checked:hover {
  border: 1px solid #46455f7e;
}

.toggle label {
  font-size: 14px;
  padding-left: 3px;
}

.container {
  background-color: rgba(225, 225, 228, 0.158);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  color: rgba(13, 26, 63, 0.74);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: 'UbuntuRegular';
}

.container .container__dashboard {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

a::-moz-selection {
  background-color: transparent;
}

a::selection {
  background-color: transparent;
}

span {
  cursor: default;
}

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em;
}

.info-block::-moz-selection {
  background-color: transparent;
}

.info-block::selection {
  background-color: transparent;
}

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px;
}

.info-input-block::-moz-selection {
  background-color: transparent;
}

.info-input-block::selection {
  background-color: transparent;
}

.text {
  cursor: default;
}

.text::-moz-selection {
  background-color: transparent;
}

.text::selection {
  background-color: transparent;
}

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966);
}

.input-block {
  font-size: 100%;
  position: relative;
}

.input-block div {
  color: #626269f3;
  margin-bottom: -3px;
  font-size: 97%;
  font-family: "UbuntuRegular";
}

.input-block img {
  position: absolute;
  width: 1.4em;
  right: 1em;
  top: 45%;
}

.invisible-block {
  visibility: hidden;
}

.input-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #626269f3;
}

.input-flex span {
  padding-right: .5em;
}

label::-moz-selection {
  background-color: transparent;
}

label::selection {
  background-color: transparent;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes closeAnim {
  0% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes openAnim {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 1.5em;
  }
}

@keyframes dropAlert {
  0% {
    margin-top: -100%;
  }
  10% {
    margin-top: 1.5em;
  }
  80% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin-top: -100%;
}

.alert.offline-alert {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert.open {
  -webkit-animation: openAnim .7s ease  1  forwards;
          animation: openAnim .7s ease  1  forwards;
}

.alert.close {
  -webkit-animation: closeAnim .7s ease  1  forwards;
          animation: closeAnim .7s ease  1  forwards;
}

.alert.dropdownAlert {
  -webkit-animation: dropAlert 4s ease  1  forwards;
          animation: dropAlert 4s ease  1  forwards;
}

.alert .image-close-block {
  position: absolute;
  right: .5em;
  top: .5em;
}

.alert img {
  width: 3em;
  height: auto;
  margin-right: 1em;
  -webkit-animation: pulse 1s ease-in  infinite  both;
          animation: pulse 1s ease-in  infinite  both;
}

.alert .alert__container .alert__container__title {
  font-size: 103%;
  font-family: "UbuntuMedium";
  margin-top: 1em;
  margin-bottom: .3em;
}

.alert .alert__container .alert__container__title::-moz-selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__title::selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__msg {
  font-size: 88%;
  font-family: "UbuntuRegular";
  color: #626269f3;
}

.alert .alert__container .alert__container__msg .alert__container__msg__list {
  list-style: square;
  padding-left: 1em;
}

.alert .alert__container .alert__container__msg .alert__container__msg__list span {
  display: list-item;
}

.alert .alert__container .alert__container__content {
  font-size: 88%;
  font-family: "UbuntuRegular";
  color: #626269f3;
}

.alert .alert__container .alert__container__content > div {
  padding: .2em 0;
}

.alert .alert__container .alert__container__content > div::before {
  content: "";
  display: inline-block;
  margin-right: .3em;
  width: 7px;
  height: 7px;
  background-color: #383964;
  border-radius: 10px;
  margin-bottom: 2px;
}

.alert .alert__container .alert__container__content::-moz-selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__content::selection {
  background-color: transparent;
}

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  -webkit-box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39);
          box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39);
}

.success-block {
  border: solid 3px #21a1365b;
  -webkit-box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39);
          box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39);
}

.hide-block {
  display: none !important;
}

#view-year::-moz-selection {
  background-color: transparent;
}

#view-year::selection {
  background-color: transparent;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  display: none;
}

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  -webkit-animation: loading 2s linear infinite forwards;
          animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto;
}

input.text-name {
  width: 45%;
}

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em;
}

.toggle input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.toggle input:hover {
  border: 1px solid #46455f7e;
}

.toggle input::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(135, 131, 161, 0.466);
  border-radius: 50%;
  left: 1.5px;
  top: 2px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle input:checked::after {
  -webkit-transform: translateX(calc(100% + .5px));
          transform: translateX(calc(100% + .5px));
  background-color: #bbc1e1;
}

.toggle input:checked {
  border: 1px solid #bbc1e1;
}

.toggle input:checked:hover {
  border: 1px solid #46455f7e;
}

.toggle label {
  font-size: 14px;
  padding-left: 3px;
}

.btn {
  cursor: default;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

.btn span {
  padding-right: .5em;
  font-size: 95%;
  color: #76788c;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: default;
  font-family: "UbuntuMedium";
}

.btn span::-moz-selection {
  background-color: transparent;
}

.btn span::selection {
  background-color: transparent;
}

.btn:hover {
  background-color: rgba(56, 56, 68, 0.055);
}

.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-base {
  border-radius: 5px;
  background-color: #34335cef;
  padding: .2em .5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.btn-base span {
  font-size: 95%;
  color: rgba(237, 237, 243, 0.897);
  cursor: default;
  padding: .4em .4em .4em 0;
  font-family: "UbuntuMedium";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btn-base span::-moz-selection {
  background-color: transparent;
}

.btn-base span::selection {
  background-color: transparent;
}

.btn-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: .8em;
  width: 2em;
  height: 1.6em;
  cursor: pointer;
}

.btn-icon:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-upload-file {
  cursor: default;
  border-radius: 3px;
}

.btn-upload-file:hover {
  background-color: rgba(73, 73, 126, 0.103);
}

.icon-small {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1.1em 1em;
  width: 1.2em;
  height: 1.2em;
}

.icon-add {
  background-image: url("/images/add.svg");
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  width: 2em;
  height: 2em;
}

.icon-refresh {
  background-image: url("/images/refresh.svg");
}

.icon-refresh-new-version {
  background-image: url("/images/refresh-new-version.svg");
}

.icon-remove {
  background-image: url("/images/remove.svg");
}

.icon-no-tweet {
  background-image: url("/images/no-tweet.svg");
  background-size: 1.3em;
}

.icon-tweet {
  background-image: url("/images/tweet.svg");
  background-size: 1.3em;
}

.icon-published {
  background-image: url("/images/published.svg");
  background-size: 1.3em;
}

.icon-edit {
  background-image: url("/images/edit.svg");
}

.icon-remove {
  background-image: url("/images/remove.svg");
}

.icon-arrow-dropdown {
  background-image: url("/images/arrow-up-thin.svg");
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
}

.icon-arrow-dropdown.rotated {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform .5s linear;
  transition: -webkit-transform .5s linear;
  transition: transform .5s linear;
  transition: transform .5s linear, -webkit-transform .5s linear;
}

.icon-arrow-list {
  background-image: url("/images/arrow-list.svg");
}

.icon-arrow-list.rotated {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.icon-arrow-list {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.icon-contingent {
  background-image: url("/images/contingent.svg");
}

.icon-check {
  background-image: url("/images/checkbox.svg");
}

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover, .exit-link:hover {
  color: rgba(26, 30, 59, 0.76);
  border-bottom: 1px solid rgba(26, 30, 59, 0.76);
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em;
}

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em;
}

input:invalid {
  -webkit-box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479);
          box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479);
}

input[type="text"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="password"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=number]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.count-students {
  width: 30px;
  padding: .2em .3em;
}

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849);
}

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0;
}

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  -webkit-transition: background .4s;
  transition: background .4s;
}

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
}

div[contenteditable="true"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 2px transparent;
          box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent;
}

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkbox {
  position: relative;
  margin: .2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
  width: 0;
  margin: 0;
  padding: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

.checkbox input[type="checkbox"]:checked + label::before {
  content: url("/images/checkbox.svg");
}

.checkbox input[type="checkbox"]:not(:checked) + label::before {
  content: "";
}

.checkbox input[type="radio"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

.checkbox input[type="radio"]:checked + label::before {
  content: url("/images/checkbox.svg");
}

.checkbox input[type="radio"]:not(:checked) + label::before {
  content: "";
}

.checkbox input[type="radio"] + label::before {
  border-radius: 12px;
}

.checkbox input[type="checkbox"] + label::before {
  border-radius: 2px;
  top: -2px;
}

.checkbox label {
  cursor: pointer;
  padding-left: 1.5em;
}

.checkbox label::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #f8f8fa;
  border: solid 1px rgba(88, 88, 121, 0.829);
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  left: 0;
  top: 0;
}

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
}

textarea:focus {
  outline-color: transparent;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
  outline-width: 0;
}

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

.container {
  font-size: 100%;
}

.container #confirmForm .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: 1em;
  padding-bottom: 1em;
}

.container .container__background {
  background-color: rgba(55, 60, 105, 0.158);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container__background .container__background__dialog {
  z-index: 40;
  background-color: white;
  border-radius: 2px;
  font-size: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 400px;
  max-width: 700px;
  max-height: 500px;
  position: relative;
  border: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
          box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
}

.container .container__background .container__background__dialog .container__background__dialog__title {
  font-size: 105%;
  color: #383964;
  margin: .7em;
  text-transform: uppercase;
  font-family: "UbuntuMedium";
}

.container .container__background .container__background__dialog .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 90%;
  padding: 0 .7em;
}

.container .container__background .container__background__dialog .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: .7em;
}

.container .container__background .container__background__dialog .btns input[type="button"]:first-child {
  margin-right: 1em;
}

.container .container__background .container__background__dialog .container__background__dialog__form {
  font-size: 90%;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
  font-size: 90%;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
  margin-right: 1em;
}

.container .container__background#createType .container__background__dialog, .container .container__background#editType .container__background__dialog, .container .container__background#createUser .container__background__dialog {
  min-width: 350px;
}

.container .container__background#createType .container__background__dialog .form, .container .container__background#editType .container__background__dialog .form, .container .container__background#createUser .container__background__dialog .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding: .7em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__background#createType .container__background__dialog .form > div, .container .container__background#editType .container__background__dialog .form > div, .container .container__background#createUser .container__background__dialog .form > div {
  padding: .1em 0;
}

.container .container__background#createType .container__background__dialog .form input.text-name, .container .container__background#editType .container__background__dialog .form input.text-name, .container .container__background#createUser .container__background__dialog .form input.text-name {
  width: 100%;
  margin: .2em 0;
}

.container .container__dashboard {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__dashboard .container__dashboard__top-block {
  font-size: 80%;
}

.container .container__dashboard .container__dashboard__top-block .btn-base {
  margin-top: .5em;
}

.container .container__dashboard .container__dashboard__table table thead tr td:nth-child(2) {
  width: 300px !important;
}

.container .container__dashboard .container__dashboard__table table tbody tr:nth-child(2n+1) td:first-child div {
  margin-left: 0 !important;
}

.container .container__dashboard .container__dashboard__table table .container__dashboard__table__row:nth-child(4n+2) {
  background-color: transparent;
}

.container .container__dashboard .container__dashboard__table table .container__dashboard__table__row:nth-child(4n+1) {
  background-color: transparent;
}

.container .container__dashboard .container__dashboard__table table .container__dashboard__table__row:nth-child(2n+1) {
  background-color: #fafbfc;
}
/*# sourceMappingURL=users.css.map */