@import '../layout/layout-page.scss';
@import '../base/base-class.scss';
@import '../abstracts/const-params.scss';
@import '../components/buttons.scss';
@import '../components/icon.scss';
@import '../components/input.scss';
@import '../components/forms/form-admin.scss';

.container{
    .container__dashboard{
        flex-direction: column;
        .container__dashboard__top-block{
           font-size: 80%;
           .btn-base{
               margin-top: .5em;
           }
        }
        .container__dashboard__table{
            table{
                thead tr{
                    td:nth-child(2){
                        width: 300px !important;
                    }
                }
                tbody tr{
                    &:nth-child(2n+1) td:first-child div{
                        margin-left: 0 !important;
                        
                    }
                }
                .container__dashboard__table__row{
                    &:nth-child(4n+2 ){
                        background-color: transparent;
                    }
                    &:nth-child(4n+1){
                        background-color: transparent;
                    } 
                    &:nth-child(2n+1){
                        background-color: $color-background-tr;
                    }
                }
            }
        }
    }
}