@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

a::-moz-selection {
  background-color: transparent;
}

a::selection {
  background-color: transparent;
}

span {
  cursor: default;
}

.info-block {
  text-align: center;
  font-size: 15px;
  color: rgba(97, 98, 126, 0.767);
  margin-top: 5em;
}

.info-block::-moz-selection {
  background-color: transparent;
}

.info-block::selection {
  background-color: transparent;
}

.info-input-block {
  color: rgba(190, 87, 87, 0.877);
  cursor: default;
  font-size: 90%;
  padding: .2em;
  margin-top: -6px;
  padding: 0 .7em .7em .7em;
  border-radius: 5px;
}

.info-input-block::-moz-selection {
  background-color: transparent;
}

.info-input-block::selection {
  background-color: transparent;
}

.text {
  cursor: default;
}

.text::-moz-selection {
  background-color: transparent;
}

.text::selection {
  background-color: transparent;
}

.text-background {
  padding: .2em .6em;
  border-radius: 10px;
  font-size: 95%;
  background-color: rgba(190, 190, 211, 0.192);
  color: rgba(64, 66, 107, 0.966);
}

.input-block {
  font-size: 100%;
  position: relative;
}

.input-block div {
  color: #626269f3;
  margin-bottom: -3px;
  font-size: 97%;
  font-family: "UbuntuRegular";
}

.input-block img {
  position: absolute;
  width: 1.4em;
  right: 1em;
  top: 45%;
}

.invisible-block {
  visibility: hidden;
}

.input-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #626269f3;
}

.input-flex span {
  padding-right: .5em;
}

label::-moz-selection {
  background-color: transparent;
}

label::selection {
  background-color: transparent;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes closeAnim {
  0% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes closeAnim {
  0% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes openAnim {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 1.5em;
  }
}

@keyframes openAnim {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 1.5em;
  }
}

@-webkit-keyframes dropAlert {
  0% {
    margin-top: -100%;
  }
  10% {
    margin-top: 1.5em;
  }
  80% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes dropAlert {
  0% {
    margin-top: -100%;
  }
  10% {
    margin-top: 1.5em;
  }
  80% {
    margin-top: 1.5em;
  }
  100% {
    margin-top: -100%;
  }
}

.alert {
  position: absolute;
  z-index: 200;
  left: 50%;
  padding: 1.5em 1em;
  border-radius: 5px;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin-top: -100%;
}

.alert.offline-alert {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert.open {
  -webkit-animation: openAnim .7s ease  1  forwards;
          animation: openAnim .7s ease  1  forwards;
}

.alert.close {
  -webkit-animation: closeAnim .7s ease  1  forwards;
          animation: closeAnim .7s ease  1  forwards;
}

.alert.dropdownAlert {
  -webkit-animation: dropAlert 4s ease  1  forwards;
          animation: dropAlert 4s ease  1  forwards;
}

.alert .image-close-block {
  position: absolute;
  right: .5em;
  top: .5em;
}

.alert img {
  width: 3em;
  height: auto;
  margin-right: 1em;
  -webkit-animation: pulse 1s ease-in  infinite  both;
          animation: pulse 1s ease-in  infinite  both;
}

.alert .alert__container .alert__container__title {
  font-size: 103%;
  font-family: "UbuntuMedium";
  margin-top: 1em;
  margin-bottom: .3em;
}

.alert .alert__container .alert__container__title::-moz-selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__title::selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__msg {
  font-size: 88%;
  font-family: "UbuntuRegular";
  color: #626269f3;
}

.alert .alert__container .alert__container__msg .alert__container__msg__list {
  list-style: square;
  padding-left: 1em;
}

.alert .alert__container .alert__container__msg .alert__container__msg__list span {
  display: list-item;
}

.alert .alert__container .alert__container__content {
  font-size: 88%;
  font-family: "UbuntuRegular";
  color: #626269f3;
}

.alert .alert__container .alert__container__content > div {
  padding: .2em 0;
}

.alert .alert__container .alert__container__content > div::before {
  content: "";
  display: inline-block;
  margin-right: .3em;
  width: 7px;
  height: 7px;
  background-color: #383964;
  border-radius: 10px;
  margin-bottom: 2px;
}

.alert .alert__container .alert__container__content::-moz-selection {
  background-color: transparent;
}

.alert .alert__container .alert__container__content::selection {
  background-color: transparent;
}

.warning-block {
  border: solid 3px rgba(206, 33, 33, 0.39);
  -webkit-box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39);
          box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39);
}

.success-block {
  border: solid 3px #21a1365b;
  -webkit-box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39);
          box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39);
}

.hide-block {
  display: none !important;
}

#view-year::-moz-selection {
  background-color: transparent;
}

#view-year::selection {
  background-color: transparent;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loader {
  display: none;
}

.loading + .loader {
  display: block;
  background-image: url("/images/loader.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.3em;
  width: 20%;
  height: 20%;
  -webkit-animation: loading 2s linear infinite forwards;
          animation: loading 2s linear infinite forwards;
  margin-left: auto;
  margin-right: auto;
}

input.text-name {
  width: 45%;
}

.label-text {
  font-size: 80%;
  color: #626269f3;
  padding-left: .5em;
}

.toggle input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin: 0;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid #adaeaf7e;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.toggle input:hover {
  border: 1px solid #46455f7e;
}

.toggle input::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: rgba(135, 131, 161, 0.466);
  border-radius: 50%;
  left: 1.5px;
  top: 2px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle input:checked::after {
  -webkit-transform: translateX(calc(100% + .5px));
          transform: translateX(calc(100% + .5px));
  background-color: #bbc1e1;
}

.toggle input:checked {
  border: 1px solid #bbc1e1;
}

.toggle input:checked:hover {
  border: 1px solid #46455f7e;
}

.toggle label {
  font-size: 14px;
  padding-left: 3px;
}
/*# sourceMappingURL=base-class.css.map */