@import "../abstracts/const-params.scss";
@import "../vendors/fonts.scss";

a{
    &::selection{
        background-color: transparent;
    }
}
span{
    cursor: default;
}

.info-block{
    text-align: center;
    font-size: 15px;
    color: rgba(97, 98, 126, 0.767);
    margin-top: 5em;
    &::selection{
        background-color: transparent;
    }
}
.info-input-block{
    color: rgba(190, 87, 87, 0.877);
    cursor: default;
    font-size: 90%;
    padding: .2em;
    margin-top: -6px;
    padding: 0 .7em .7em .7em;
    // background-color: rgba(201, 110, 110, 0.192);
    // border: solid 1px rgba(218, 111, 111, 0.63);
    border-radius: 5px;
    &::selection{
        background-color: transparent;
    }
}

.text{
    cursor: default;
    &::selection{
        background-color: transparent;
    }
}


.text-background{
    padding: .2em .6em;
    border-radius: 10px;
    font-size: 95%;
    background-color: rgba(190, 190, 211, 0.192);
    color: rgba(64, 66, 107, 0.966);
}

.input-block{
    font-size: 100%;
    position: relative;
    div{
        color: $font-color;
        margin-bottom: -3px;
        font-size: 97%;
        font-family: "UbuntuRegular";
    }

    img{
        position: absolute;
        width: 1.4em;
        right: 1em;
        top: 45%;
    }
}


.invisible-block{
    visibility: hidden;
}

.input-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $font-color;

    span{
        padding-right: .5em;
    }
}

label{
    &::selection{
        background-color: transparent;
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}









@keyframes closeAnim {
    0%{
        margin-top: 1.5em;
    }
    100%{
        margin-top: -100%;
    }
}
@keyframes openAnim {
    0%{
        margin-top: -100%;
    }
    100%{
        margin-top: 1.5em;
    }
}

@keyframes dropAlert {
    0%{
        margin-top: -100%;
    }
    10%{
        margin-top: 1.5em;
    }
    80%{
        margin-top: 1.5em;
    }
    100%{
        margin-top: -100%;
    }
}

.alert{
    position: absolute;
    z-index: 200;
    left: 50%;
    padding: 1.5em 1em;
    border-radius: 5px;
    // margin-top: 1.5em;
    transform: translate(-50%, 0%);
    background-color: white;
    display: flex;
    max-width: 600px;
    margin-top: -100%;

    &.offline-alert{
        align-items: center;
    }

    &.open{
        animation: openAnim .7s ease  1  forwards;
    }

    &.close{
        animation: closeAnim .7s ease  1  forwards;
    }

    &.dropdownAlert{
        animation: dropAlert 4s ease  1  forwards;
    }

    .image-close-block{
        position: absolute;
        right: .5em;
        top: .5em;
    }

    img{
        width: 3em;
        height: auto;
        margin-right: 1em;
        animation: pulse 1s ease-in  infinite  both;
    }
    .alert__container{
        
        .alert__container__title{
            font-size: 103%;
            font-family: "UbuntuMedium";
            margin-top: 1em;
            margin-bottom: .3em;
            &::selection{
                background-color: transparent;
            }
        }
        .alert__container__msg{
            font-size: 88%;
            font-family: "UbuntuRegular";
            color: $font-color;
            .alert__container__msg__list{
                list-style: square;
                padding-left: 1em;
                span{
                    display: list-item;
                }
            }
        }
        .alert__container__content{
            font-size: 88%;
            font-family: "UbuntuRegular";
            color: $font-color;
            
            > div {
                padding: .2em 0;
                &::before{
                    content: "";
                    display: inline-block;
                    margin-right: .3em;
                    width: 7px;
                    height: 7px;
                    background-color: $font-color-title;
                    border-radius: 10px;
                    margin-bottom: 2px;
                }
            }
            &::selection{
                background-color: transparent;
            }
        }
    }
}

.warning-block{
    border: solid 3px rgba(206, 33, 33, 0.39);
    box-shadow: 0 0 4px 0 rgba(52, 49, 105, 0.39);
}

.success-block{
    border: solid 3px #21a1365b;
    box-shadow: 0 0 4px 0 rgba(41, 167, 79, 0.39);
}


.hide-block{
    display: none !important;
}

#view-year{
    &::selection{
        background-color: transparent;
    }
}




@keyframes loading{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.loader{
    display: none;
}
.loading + .loader{
    display: block;
    background-image: url("/images/loader.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.3em;
    width: 20%;
    height: 20%;
    animation: loading 2s linear infinite forwards;
    margin-left: auto;
    margin-right: auto;
}


input.text-name{
    width:45%;
}


.label-text{
    font-size: 80%;
    color: $font-color;
    padding-left: .5em;
}












.toggle{
    input{
        appearance: none;
        position: relative;
        display: inline-block;
        width: 35px;
        height: 20px;
        margin: 0;
        vertical-align: top;
        background: #ffffff;
        border: 1px solid #adaeaf7e;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        &:hover{
            border: 1px solid #46455f7e;
        }
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: rgba(135, 131, 161, 0.466);
            border-radius: 50%;
            left: 1.5px;
            top: 2px;
            transform: translateX(0);
            transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
        }
        &:checked::after{
            transform: translateX(calc(100% + .5px));
            background-color: #bbc1e1;
        }
        &:checked{
            border: 1px solid #bbc1e1;
            &:hover{
                border: 1px solid #46455f7e;
            }
        }
    }
    label{
        font-size: 14px;
        padding-left: 3px;
    }
}