.container .container__background#editChoiceCourse .container__background__dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.container .container__background#editChoiceCourse .container__background__dialog .container__background__dialog__title {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container__background#editChoiceCourse .container__background__dialog .container__background__dialog__title .js-selected-choice-course {
  color: #383964;
  font-family: "UbuntuMedium";
  background-color: rgba(230, 229, 238, 0.3);
}

.container .container__background#editChoiceCourse .container__background__dialog .container__background__dialog__title > div:not(.js-selected-choice-course):hover {
  background-color: rgba(230, 229, 238, 0.2);
  cursor: pointer;
}

.container .container__background#editChoiceCourse .container__background__dialog .container__background__dialog__title > div:first-child {
  border-right: solid 2px rgba(62, 67, 92, 0.09);
}

.container .container__background#editChoiceCourse .container__background__dialog .container__background__dialog__title > div {
  font-size: 90%;
  font-family: "UbuntuRegular";
  padding: .8em;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.container .container__background#editChoiceCourse .container__background__dialog .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  overflow: auto;
  padding: .2em 1em;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
}

.container .container__background#editChoiceCourse .container__background__dialog .form::-webkit-scrollbar {
  width: 10px;
}

.container .container__background#editChoiceCourse .container__background__dialog .form::-webkit-scrollbar-thumb {
  background-color: #B9ADB3;
}

.container .container__background#editChoiceCourse .container__background__dialog .form::-webkit-scrollbar-track {
  background-color: rgba(163, 159, 161, 0.205);
}

.container .container__background#editChoiceCourse .container__background__dialog .form .form__btn-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: .2em;
}

.container .container__background#editChoiceCourse .container__background__dialog .form .form__left.close {
  display: none;
}

.container .container__background#editChoiceCourse .container__background__dialog .form .form__right.close {
  display: none;
}

.container .container__background#editChoiceCourse .container__background__dialog .form .form__group-choice.js-remove-group-choice {
  display: none;
}

.container .container__background#editChoiceCourse .container__background__dialog .form .form__group-choice {
  margin-bottom: .5em;
}

.container .container__background#editChoiceCourse .container__background__dialog .form .form__group-choice .form__group-choice__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container__background#editChoiceCourse .container__background__dialog .form .form__group-choice .form__group-choice__name span {
  font-family: "UbuntuRegular";
}

.container .container__background#editChoiceCourse .container__background__dialog .form .form__group-choice .form__left__group-choice__contingent {
  margin-right: 18em;
}
/*# sourceMappingURL=form-choice.css.map */