@import "../../abstracts/const-params.scss";

.container{
    .container__background#editChoiceCourse{
        .container__background__dialog{
            display: flex;
            flex-direction: column;
            padding: 0;

            .container__background__dialog__title{
                margin: 0;
                display: flex;
                justify-content: space-between;

                .js-selected-choice-course{
                    color: $font-color-title;
                    font-family: "UbuntuMedium";
                    background-color: rgba(230, 229, 238, 0.3);
                }

                > div:not(.js-selected-choice-course):hover{
                    background-color: rgba(230, 229, 238, 0.2);
                    cursor: pointer;
                }

                > div:first-child{
                    border-right: solid 2px rgba(62, 67, 92, 0.09);
                }

                > div {
                    font-size: 90%;
                    font-family: "UbuntuRegular";
                    padding: .8em;
                    width: 300px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-align: center;
                }
            }
            .form{

                display: flex;
                height: 100%;
                position: relative;
                overflow: auto;
                padding: .2em 1em;
                @include scroll_customize;
                border-top: solid 2px rgba(62, 67, 92, 0.09);
                border-bottom: solid 2px rgba(62, 67, 92, 0.09);

                .form__btn-add{
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: .2em ;
                }

                .form__left.close{
                    display: none;
                }
                .form__right.close{
                    display: none;
                }

                .form__group-choice.js-remove-group-choice{
                    display: none;
                }
                
                .form__group-choice{
                    margin-bottom: .5em;
                    .form__group-choice__name{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            span{
                                font-family: "UbuntuRegular";
                            }
                    }
                    .form__left__group-choice__contingent{
                            margin-right: 18em;
                    }
                }
            }

            .btns{
                // padding: 0 1em 1em 0;
            }
        }
    }
}