@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

.container {
  font-size: 100%;
}

.container #confirmForm .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: 1em;
  padding-bottom: 1em;
}

.container .container__background {
  background-color: rgba(55, 60, 105, 0.158);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container__background .container__background__dialog {
  z-index: 40;
  background-color: white;
  border-radius: 2px;
  font-size: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 400px;
  max-width: 700px;
  max-height: 500px;
  position: relative;
  border: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
          box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
}

.container .container__background .container__background__dialog .container__background__dialog__title {
  font-size: 105%;
  color: #383964;
  margin: .7em;
  text-transform: uppercase;
  font-family: "UbuntuMedium";
}

.container .container__background .container__background__dialog .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 90%;
  padding: 0 .7em;
}

.container .container__background .container__background__dialog .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: .7em;
}

.container .container__background .container__background__dialog .btns input[type="button"]:first-child {
  margin-right: 1em;
}

.container .container__background .container__background__dialog .container__background__dialog__form {
  font-size: 90%;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
  font-size: 90%;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
  margin-right: 1em;
}

.container .container__background#tieSubgroup .container__background__dialog .container__background__dialog__title > div:nth-child(2) {
  text-transform: none;
  font-family: "UbuntuRegular";
  color: #626269f3;
}

.container .container__background#tieSubgroup .container__background__dialog .form {
  padding: .5em 1em 0 1em;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 55vh;
  overflow: auto;
}

.container .container__background#tieSubgroup .container__background__dialog .form::-webkit-scrollbar {
  width: 10px;
}

.container .container__background#tieSubgroup .container__background__dialog .form::-webkit-scrollbar-thumb {
  background-color: #B9ADB3;
}

.container .container__background#tieSubgroup .container__background__dialog .form::-webkit-scrollbar-track {
  background-color: rgba(163, 159, 161, 0.205);
}

.container .container__background#tieSubgroup .container__background__dialog .form .form__group-block {
  color: #626269f3;
  width: 100%;
  margin: .4em 0;
}

.container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .2em;
}

.container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__name {
  font-family: "UbuntuMedium";
  background-color: #3b4164c9;
  border-radius: 10px;
  margin-bottom: .2em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .2em .5em;
  color: white;
}

.container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__type-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__sgroups.openSubgroup {
  display: block;
}

.container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__sgroups {
  width: 100%;
  display: none;
}

.container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__sgroups .form__group-block__sgroups__department {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .2em .1em;
}

.container .container__background#tieSubgroup .container__background__dialog .form .form__group-block .form__group-block__sgroups .form__group-block__sgroups__department .dropdown-menu {
  width: 60%;
}
/*# sourceMappingURL=form-gloadSubgroup.css.map */