@import '../form.scss';

.container{
    .container__background#publishedLoad{
        .container__background__dialog{
            .form{
                border-top: solid 2px $color-border-form;
                border-bottom: solid 2px $color-border-form;
                padding: .7em;
                flex-direction: column;
                color: $font-color;

                .label-text{
                    font-size: 85%;
                }

                .form__load{
                    display: flex;
                    margin: .5em 0;
                    .form__load__name{
                        margin-right: 2em;
                    }
                    .checkbox{
                        margin-left: auto;
                    }
                }
                textarea{margin-top: 1em;}
            }
        }
    }
}