@import "../form.scss";
@import "../../abstracts/const-params.scss";

.container{
    .container__background#tieSubgroup{
        .container__background__dialog{

            .container__background__dialog__title{
                > div:nth-child(2){
                    text-transform: none;
                    font-family: "UbuntuRegular";
                    color: $font-color;
                }
            }

            .form{
                padding: .5em 1em 0 1em;
                border-top: solid 2px rgba(62, 67, 92, 0.09);
                border-bottom: solid 2px rgba(62, 67, 92, 0.09);
                flex-direction: column;
                max-height: 55vh;
                overflow: auto;
                // max-height: 50vh;
                // overflow: auto;
                @include scroll_customize;

                .form__group-block{
                    color: $font-color;
                    width: 100%;
                    margin: .4em 0;

                    .form__group-block__title{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: .2em;
                    }
                    .form__group-block__name{
                        font-family: "UbuntuMedium";
                        background-color: $font-color-gload;
                        border-radius: 10px;
                        margin-bottom: .2em;
                        width: max-content;
                        padding: .2em .5em;
                        color: white;
                    }
                    .form__group-block__type-object{
                        display: flex;
                        flex-direction: column;
                    }
                    .form__group-block__sgroups.openSubgroup{
                        display: block;
                    }
                    .form__group-block__sgroups{
                        width: 100%;
                        display: none;
                        .form__group-block__sgroups__department{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin: .2em .1em;
                            .dropdown-menu{
                                width: 60%;
                            }
                        }
                    }
                }
            }
        }
    }
}