@import '../form';


.container{
    .container__background#createType, .container__background#editType, .container__background#createUser{
        .container__background__dialog{
            min-width: 350px;
            .form{
                border-top: solid 2px $color-border-form;
                border-bottom: solid 2px $color-border-form;
                padding: .7em;
                flex-direction: column;
                > div{
                    padding: .1em 0;
                }
                input.text-name {
                    width: 100%; 
                    margin: .2em 0;
                }
            }
        }
    }
}