@import '../form.scss';
@import "../../abstracts/const-params.scss";
.container{
    position: relative;
    
    .container__background.addFormulaForm{
        display: none;
        .open{
            display: flex;
        }

        .container__background__dialog{
            padding: 0;
            min-width: 860px;

            .container__background__dialog__title{
                margin: 0;
                padding: .5em;
            }
            .form{
                padding: 0;
                border-top: none;

                .btns{
                    border-top: none;
                }
            }
            .form__content{
                display: flex;
                border-top: solid 2px rgba(62, 67, 92, 0.09);
                border-bottom: solid 2px rgba(62, 67, 92, 0.09);

                .form__content__left-block{
                    border-right: solid 2px rgba(62, 67, 92, 0.09);
                    padding: .5em;
                    width: 60%;
                    min-width: 600px;

                    .container__background__dialog__content-formula{
                        margin-bottom: .3em;
                        padding: .5em .2em .5em  .5em ;
                        box-sizing: border-box;
                        width: 100%;
                        min-height: 60px;
                        border: solid 1px rgba(88, 88, 121, 0.8);
                        // box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
                        border-radius: 2px;
                        max-height: 60px;
                        overflow: auto;
    
                        @include scroll_customize_raduis;

                        .row-formula-block{
                            display: inline-block;
                            margin-right: .3em;
                            margin-bottom: .2em;
                            font-size: 88%;
                            cursor: pointer;
                            // span{
                            //     font-family: "MontserratRegular";
                            // }
                            .js-formula-remove{
                                visibility: hidden;
                                display: inline-block;
                                margin-left: .5em;
                                padding-top: .2em;
                            }
                            &:hover{
                                .js-formula-remove{
                                    visibility: visible;
                                }
                            }
                            .js-formula-remove{
                                background-image: url("/images/close.svg");
                                background-position: bottom;
                                background-repeat: no-repeat;
                                width: .8em;
                                height: .8em;
                                &:active{
                                    transform: scale(.9);
                                }
                            }
                        }
                        .row-formula-block[data-type='js-col-name']{
                            border: solid 1px rgba(52, 83, 177, 0.63);
                            border-radius: 6px;
                            padding: .1em .4em;
                        }
                        .row-formula-block[data-type='js-operation']{
                            border: solid 1px rgba(52, 83, 177, 0.63);
                            border-radius: 6px;
                            padding: .1em .4em;
                        }
                        .row-formula-block[data-type='js-const']{
                            border: solid 1px rgba(52, 83, 177, 0.63);
                            border-radius: 6px;
                            padding: .1em .4em;
                        }
                        
                    }


                    .container__background__dialog__content__properties{
                        //background-color: rgba(74, 76, 92, 0.089);
                        
                        span{
                            // &:active{ transform: scale(.9); }
                            &:hover{ box-shadow: 0 0 2px 0 rgba(69, 68, 122, 0.644);}
                        }
                        .properties__top{
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: .5em;
    
                            .properties__top__left{
                                .properties__top__left__list{
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                            }
                            .properties__top__right{
                                position: relative;
                                height: 100%;
                                .properties__top__right__input{
                                    display: flex;
                                    position: relative;
                                }
                                input{
                                    margin: 0;
                                }
                                .js-const{
                                    position: absolute;
                                    background-color: rgba(88, 88, 121, 0.9);
                                    border-radius: 5px;
                                    right: 1px;
                                    width: 15%;
                                    top: 0;
                                    bottom: 0;
                                    height: auto;
                                    background-image: url("/images/add-const.svg");
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: .7em;
                                    cursor: default;
                                    &::selection{
                                        background-color: transparent;
                                    }
                                    &:active{
                                        transform: scale(.97);
                                    }
                                }
                            }
                        }
                        .properties__bottom{
                            // margin-bottom: 2em;
    
                            .properties__bottom__list{
                                display: flex;
                                flex-wrap: wrap;
                                font-size: 87%;
                            }
                        }
                        .name-property-block{
                            padding: .1em 0;
                            margin-bottom: .3em;
                            &::selection{
                                background-color: transparent;
                            }
                        }
                        span{
                            background-color: rgba(74, 76, 92, 0.089);
                            border-radius: 5px;
                            padding: .2em .8em;
                            margin: .1em .3em .5em 0;
                            cursor: default;
                        }
    
                        .container__background__dialog__content__properties__btn{
                            display: flex;
                            flex-direction: column;
                            width: 100px;
    
                            .btn-add-const{
                                cursor: default;
                                margin-top: .5em;
                            }
                        }
                    }
                }

                .form__content__right-block{
                    padding-left: .5em;
                    font-size: 94%;
                    

                    .container__background__dialog-item{
                        text-transform: uppercase;
                        color: $font-color-title;
                        margin-top: .5em;
                    }

                    .container__background__dialog__content__setting{
                        display: flex;
                        flex-direction: column;
                        color: $font-color;
                        .container__background__dialog__content__setting__block{
                            margin: .5em 0;
    
                            .container__background__dialog__content__setting__block__list{
                                // display: flex;
                                // align-items: center;
                                display: grid;
                                grid-template-columns: repeat(auto-fill, 230px);
                                margin-left: .5em;
    
                                .js-property{
                                    display: flex;
                                    // align-items: center;
                                    // margin-right: 1em;
    
                                    label::selection{
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}