@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

.container {
  font-size: 100%;
}

.container #confirmForm .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: 1em;
  padding-bottom: 1em;
}

.container .container__background {
  background-color: rgba(55, 60, 105, 0.158);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container__background .container__background__dialog {
  z-index: 40;
  background-color: white;
  border-radius: 2px;
  font-size: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 400px;
  max-width: 700px;
  max-height: 500px;
  position: relative;
  border: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
          box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
}

.container .container__background .container__background__dialog .container__background__dialog__title {
  font-size: 105%;
  color: #383964;
  margin: .7em;
  text-transform: uppercase;
  font-family: "UbuntuMedium";
}

.container .container__background .container__background__dialog .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 90%;
  padding: 0 .7em;
}

.container .container__background .container__background__dialog .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: .7em;
}

.container .container__background .container__background__dialog .btns input[type="button"]:first-child {
  margin-right: 1em;
}

.container .container__background .container__background__dialog .container__background__dialog__form {
  font-size: 90%;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
  font-size: 90%;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
  margin-right: 1em;
}

.container {
  position: relative;
}

.container .container__background.addFormulaForm {
  display: none;
}

.container .container__background.addFormulaForm .open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .container__background.addFormulaForm .container__background__dialog {
  padding: 0;
  min-width: 860px;
}

.container .container__background.addFormulaForm .container__background__dialog .container__background__dialog__title {
  margin: 0;
  padding: .5em;
}

.container .container__background.addFormulaForm .container__background__dialog .form {
  padding: 0;
  border-top: none;
}

.container .container__background.addFormulaForm .container__background__dialog .form .btns {
  border-top: none;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block {
  border-right: solid 2px rgba(62, 67, 92, 0.09);
  padding: .5em;
  width: 60%;
  min-width: 600px;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula {
  margin-bottom: .3em;
  padding: .5em .2em .5em  .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 60px;
  border: solid 1px rgba(88, 88, 121, 0.8);
  border-radius: 2px;
  max-height: 60px;
  overflow: auto;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula::-webkit-scrollbar {
  width: 8px;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula::-webkit-scrollbar-thumb {
  background-color: rgba(185, 173, 179, 0.4);
  border-radius: 20px;
  border: solid .12em white;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula::-webkit-scrollbar-track {
  background: transparent;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block {
  display: inline-block;
  margin-right: .3em;
  margin-bottom: .2em;
  font-size: 88%;
  cursor: pointer;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block .js-formula-remove {
  visibility: hidden;
  display: inline-block;
  margin-left: .5em;
  padding-top: .2em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block:hover .js-formula-remove {
  visibility: visible;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block .js-formula-remove {
  background-image: url("/images/close.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  width: .8em;
  height: .8em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block .js-formula-remove:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block[data-type='js-col-name'] {
  border: solid 1px rgba(52, 83, 177, 0.63);
  border-radius: 6px;
  padding: .1em .4em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block[data-type='js-operation'] {
  border: solid 1px rgba(52, 83, 177, 0.63);
  border-radius: 6px;
  padding: .1em .4em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content-formula .row-formula-block[data-type='js-const'] {
  border: solid 1px rgba(52, 83, 177, 0.63);
  border-radius: 6px;
  padding: .1em .4em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties span:hover {
  -webkit-box-shadow: 0 0 2px 0 rgba(69, 68, 122, 0.644);
          box-shadow: 0 0 2px 0 rgba(69, 68, 122, 0.644);
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: .5em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__left .properties__top__left__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right {
  position: relative;
  height: 100%;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .properties__top__right__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right input {
  margin: 0;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .js-const {
  position: absolute;
  background-color: rgba(88, 88, 121, 0.9);
  border-radius: 5px;
  right: 1px;
  width: 15%;
  top: 0;
  bottom: 0;
  height: auto;
  background-image: url("/images/add-const.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: .7em;
  cursor: default;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .js-const::-moz-selection {
  background-color: transparent;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .js-const::selection {
  background-color: transparent;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__top .properties__top__right .js-const:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .properties__bottom .properties__bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 87%;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .name-property-block {
  padding: .1em 0;
  margin-bottom: .3em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .name-property-block::-moz-selection {
  background-color: transparent;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .name-property-block::selection {
  background-color: transparent;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties span {
  background-color: rgba(74, 76, 92, 0.089);
  border-radius: 5px;
  padding: .2em .8em;
  margin: .1em .3em .5em 0;
  cursor: default;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .container__background__dialog__content__properties__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__left-block .container__background__dialog__content__properties .container__background__dialog__content__properties__btn .btn-add-const {
  cursor: default;
  margin-top: .5em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block {
  padding-left: .5em;
  font-size: 94%;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog-item {
  text-transform: uppercase;
  color: #383964;
  margin-top: .5em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #626269f3;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block {
  margin: .5em 0;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block .container__background__dialog__content__setting__block__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (230px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 230px);
  margin-left: .5em;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block .container__background__dialog__content__setting__block__list .js-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block .container__background__dialog__content__setting__block__list .js-property label::-moz-selection {
  background-color: transparent;
}

.container .container__background.addFormulaForm .container__background__dialog .form__content .form__content__right-block .container__background__dialog__content__setting .container__background__dialog__content__setting__block .container__background__dialog__content__setting__block__list .js-property label::selection {
  background-color: transparent;
}
/*# sourceMappingURL=form-formula.css.map */