@import '../form';


.container{
    .container__background#createGroup, .container__background#editGroup{
        .container__background__dialog{
            .form{
                border-top: solid 2px $color-border-form;
                border-bottom: solid 2px $color-border-form;
                padding: .7em;
                flex-direction: column;
                > div{
                    padding: .1em 0;
                }
            }
        }
    }
}