@import "../../abstracts/const-params.scss";
.container{
    
    .container__background#formAddOtherFacultyLine,.container__background#formEditOtherFacultyLine{
        

        .container__background__dialog{
            display: flex;
            flex-direction: column;
            height: 500px;

            .container__background__dialog__pages{
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;
                overflow: hidden;
                > div {
                    width: 100%;
                }
                .form{
                    flex-direction: column;
                    border-top: solid 2px $color-border-form;
                    border-bottom: solid 2px $color-border-form;
                    padding-top: .5em;
                    padding-bottom: .5em;
                    @include scroll_customize;
                    overflow: auto;
                    height: 100%;
                    position: relative;

                    .dropdown-menu{
                        padding: .2em 0;
                    }
                    .input-flex{
                        padding: .2em 0;
                    }
                }

                .first-form{ 
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                }
                .second-form, .third-form{
                    height: 100%;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    .form__fval:first-child{
                        margin-bottom: 1em;
                    }
                    .btns{
                        input:first-child{
                            margin-right: auto;
                        }

                        input:nth-child(2){
                            margin-right: 1em;
                        }
                    }
                }
            }

        }
    }
    .container__background#formEditFactOtherFacultyLine{
        .container__background__dialog{
            display: flex;
            flex-direction: column;
            .form{
                flex-direction: column;
                border-top: solid 2px $color-border-form;
                border-bottom: solid 2px $color-border-form;
                padding-top: .5em;
                padding-bottom: .5em;
                @include scroll_customize;
                overflow: auto;
                height: 100%;
                position: relative;

                .dropdown-menu{
                    padding: .2em 0;
                }
                .input-flex{
                    padding: .2em 0;
                }

                .form__fval:first-child{
                    margin-bottom: .5em;
                }
            }
        }
    }
}