.container .container__background#createStream .container__background__dialog .container__background__dialog__title > div:nth-child(2) {
  text-transform: none;
  font-family: "UbuntuRegular";
  color: #626269f3; }
.container .container__background#createStream .container__background__dialog .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  flex-direction: column;
  padding-top: .5em;
  padding-bottom: .5em; }
  .container .container__background#createStream .container__background__dialog .form .instream {
    margin-top: .4em; }
  .container .container__background#createStream .container__background__dialog .form > div {
    margin: .3em 0; }
  .container .container__background#createStream .container__background__dialog .form .form__types {
    display: flex;
    justify-content: space-between; }
.container .container__background#editStream .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: .5em;
  padding-bottom: .5em;
  flex-direction: column; }
  .container .container__background#editStream .form .input-block {
    margin-bottom: 1em; }
.container .container__background#addGroupStream .container__background__dialog__title > div:nth-child(2) {
  text-transform: none;
  font-family: "UbuntuRegular";
  color: #626269f3; }
.container .container__background#addGroupStream .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: .5em;
  padding-bottom: .5em;
  flex-direction: column; }
  .container .container__background#addGroupStream .form .form__groups {
    margin-top: .5em; }
    .container .container__background#addGroupStream .form .form__groups .form__groups__title {
      font-family: "UbuntuRegular";
      color: #626269f3;
      font-size: 95%; }
    .container .container__background#addGroupStream .form .form__groups > div {
      margin: .5em 0; }

/*# sourceMappingURL=form-stream.css.map */
