@import "../../abstracts/const-params.scss";

.container{
    .container__background#createStream{
        .container__background__dialog{
            .container__background__dialog__title{
                > div:nth-child(2){
                    text-transform: none;
                    font-family: "UbuntuRegular";
                    color: $font-color;
                }
            }

            .form{

                .instream {
                    margin-top: .4em;
                }
                
                border-top: solid 2px $color-border-form;
                border-bottom: solid 2px $color-border-form;
                flex-direction: column;
                padding-top: .5em;
                padding-bottom: .5em;
                
                > div{
                    margin: .3em 0;
                }
                .form__types{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .container__background#editStream{
        .form{
            border-top: solid 2px $color-border-form;
            border-bottom: solid 2px $color-border-form;
            padding-top: .5em;
            padding-bottom: .5em;
            flex-direction: column;
            .input-block{
                margin-bottom: 1em;
            }
        }
    }

    .container__background#addGroupStream{
        .container__background__dialog__title{
            > div:nth-child(2){
                text-transform: none;
                font-family: "UbuntuRegular";
                color: $font-color;
            }
        }
        .form{
            border-top: solid 2px $color-border-form;
            border-bottom: solid 2px $color-border-form;
            padding-top: .5em;
            padding-bottom: .5em;
            flex-direction: column;

            .form__groups{
                margin-top: .5em;
                .form__groups__title{
                    font-family: "UbuntuRegular";
                    color: $font-color;
                    font-size: 95%;
                }
                > div {
                    margin: .5em 0;
                }
            }
        }
    }
}