
@import "../../abstracts/const-params.scss";
.container{
    .container__background#formDepartment, .container__background#formAddLine, .container__background#formEditLine{
        .container__background__dialog{
            .container__background__dialog__title{
                display: flex;
                flex-direction: column;
                > span:nth-child(2){
                    text-transform: none;
                    font-family: "UbuntuRegular";
                    color: $font-color;
                }
            }

            .form{
                border-top: solid 2px $color-border-form;
                border-bottom: solid 2px $color-border-form;
                flex-direction: column;
                padding-top: .5em;
                padding-bottom: .5em;
            }
        }
    }

    .container__background#formAddLine{
        .form{
            .dropdown-menu{
                margin: .4em 0;
            }
            .input-flex{
                margin-bottom: .5em;

                input{
                    width: 50%;
                }
            }
        }
    }

    .container__background#formEditLine{
        .form{
            .info-block{
                font-size: 95%;
                margin-left: auto;
                margin-right: auto;
                margin: 0;
            }
            .input-flex{
                margin-bottom: .5em;

                input{
                    width: 50%;
                }
            }
        }
    }
    .container__background#formStatisctic{
        .container__background__dialog{
            .form{
                border-top: solid 2px $color-border-form;
                border-bottom: solid 2px $color-border-form;
                flex-direction: column;
                // padding-top: .5em;
                // padding-bottom: .5em;
                padding: 0;
                table{
                    border-collapse: collapse;
                    width: 100%;
                    thead{
                        color: $font-color-title;
                        tr td{
                            padding: .4em .7em;
                        }
                    }
                    tbody{
                        color: $font-color-gload;
                        tr td{
                            padding: .4em .7em;
                        }
                        tr:nth-child(2n+1){
                            background-color: rgba(227, 231, 238, 0.3);
                        }
                    }
                }
            }
            .btns{
                input[type="button"]:first-child{
                    margin-right: 0;
                }
            }
        }
    }
}