@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

.container {
  font-size: 100%;
}

.container #confirmForm .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: 1em;
  padding-bottom: 1em;
}

.container .container__background {
  background-color: rgba(55, 60, 105, 0.158);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container__background .container__background__dialog {
  z-index: 40;
  background-color: white;
  border-radius: 2px;
  font-size: 95%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 400px;
  max-width: 700px;
  max-height: 500px;
  position: relative;
  border: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
          box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09);
}

.container .container__background .container__background__dialog .container__background__dialog__title {
  font-size: 105%;
  color: #383964;
  margin: .7em;
  text-transform: uppercase;
  font-family: "UbuntuMedium";
}

.container .container__background .container__background__dialog .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 90%;
  padding: 0 .7em;
}

.container .container__background .container__background__dialog .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: .7em;
}

.container .container__background .container__background__dialog .btns input[type="button"]:first-child {
  margin-right: 1em;
}

.container .container__background .container__background__dialog .container__background__dialog__form {
  font-size: 90%;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 1em;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
  font-size: 90%;
}

.container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
  margin-right: 1em;
}

.container .container__background#splitGroup .container__background__dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 450px;
  padding: 0;
}

.container .container__background#splitGroup .container__background__dialog .container__background__dialog__title {
  display: inline;
}

.container .container__background#splitGroup .container__background__dialog .container__background__dialog__title span:nth-child(2) {
  float: right;
}

.container .container__background#splitGroup .container__background__dialog .form {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container .container__background#splitGroup .container__background__dialog .form .form__right.js-open-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__background#splitGroup .container__background__dialog .form .form__left.js-open-block {
  display: block;
}

.container .container__background#splitGroup .container__background__dialog .form .form__right {
  display: none;
  width: 100%;
  overflow: hidden;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
}

.container .container__background#splitGroup .container__background__dialog .form .form__right > .btns {
  padding: .7em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .js-subgroup-block {
  margin: .5em 0;
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .js-subgroup-block .input-flex {
  margin-left: 2em;
  font-size: 97%;
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .form__right__btns {
  padding: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .form__right__btns .btns {
  margin: 0;
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .form__right__list {
  overflow: auto;
  padding: 0 1em 0 1em;
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .form__right__list::-webkit-scrollbar {
  width: 10px;
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .form__right__list::-webkit-scrollbar-thumb {
  background-color: #B9ADB3;
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .form__right__list::-webkit-scrollbar-track {
  background-color: rgba(163, 159, 161, 0.205);
}

.container .container__background#splitGroup .container__background__dialog .form .form__right .form__right__list .title-subgroup {
  font-family: "UbuntuMedium";
  color: #383964;
}

.container .container__background#splitGroup .container__background__dialog .form .form__left {
  position: relative;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  display: none;
  width: 100%;
}

.container .container__background#splitGroup .container__background__dialog .form .form__left .form__left__count-subgroups {
  padding: .7em;
}

.container .container__background#splitGroup .container__background__dialog .form .form__left .btn-next {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  padding: .7em;
}

.container .container__background#splitGroup .container__background__dialog .form .form__left .btn-next .form__left__btn-next {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=form-subgroup.css.map */