@import '../form';
@import '../../abstracts/const-params.scss';


    .container{
        .container__background#uploadPlan{
            .container__background__dialog{
                width: 500px;
                .container__background__dialog__info-block{
                    font-size: 90%;
                    color: $font-color;
                    border-top: solid 2px $color-border-form;
                    padding: .7em;
                    .container__background__dialog__info-block__selected-plan{
                        display: flex;
                        align-items: center;
                        margin-bottom: .2em;
                        color: $font-color;
                        div:first-child{
                            margin-right: .5em;
                            min-width: 130px;
                        }
                    }
                    .container__background__dialog__info-block__info{
                        display: flex;
                        flex-direction: column;
                        // margin-left: 3em;
                        
                        >div{
                            display: flex;
                            align-items: center;
                            margin: .2em 0;
                            div:first-child{
                                margin-right: .5em;
                                min-width: 130px;
                            }
                        }
                    }
                }
                .container__background__dialog__form{
                    .container__background__dialog__form__menu{
                        padding-right: .7em;
                        padding-left: .7em;
                        padding-bottom: .3em;
                    }
                    
                    .container__background__dialog__form__btns{
                        padding: .7em;
                        border-top: solid 2px $color-border-form;
                    }
                }
            }
        }
    }
