@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal; }
@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal; }
.container {
  font-size: 100%; }
  .container #confirmForm .form {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    border-bottom: solid 2px rgba(62, 67, 92, 0.09);
    padding-top: 1em;
    padding-bottom: 1em; }
  .container .container__background {
    background-color: rgba(55, 60, 105, 0.158);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container .container__background .container__background__dialog {
      z-index: 40;
      background-color: white;
      border-radius: 2px;
      font-size: 95%;
      box-sizing: border-box;
      min-width: 400px;
      max-width: 700px;
      max-height: 500px;
      position: relative;
      border: solid 2px rgba(62, 67, 92, 0.09);
      box-shadow: 0 0 4px 0 rgba(62, 67, 92, 0.09); }
      .container .container__background .container__background__dialog .container__background__dialog__title {
        font-size: 105%;
        color: #383964;
        margin: .7em;
        text-transform: uppercase;
        font-family: "UbuntuMedium"; }
      .container .container__background .container__background__dialog .form {
        display: flex;
        font-size: 90%;
        padding: 0 .7em; }
      .container .container__background .container__background__dialog .btns {
        display: flex;
        justify-content: flex-end;
        margin: .7em; }
        .container .container__background .container__background__dialog .btns input[type="button"]:first-child {
          margin-right: 1em; }
      .container .container__background .container__background__dialog .container__background__dialog__form {
        font-size: 90%; }
        .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
          display: flex;
          position: relative;
          justify-content: flex-end;
          margin-top: 1em; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
            font-size: 90%; }
          .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input:first-child {
            margin-right: 1em; }

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent; }
  a:hover, .exit-link:hover {
    color: rgba(26, 30, 59, 0.76);
    border-bottom: 1px solid rgba(26, 30, 59, 0.76); }

input[type="file"] {
  display: none; }

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em; }

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em; }

input:invalid {
  box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479); }

input[type="text"] {
  font-size: 100%;
  margin: .4em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="text"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type="password"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box; }
  input[type=number]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input.count-students {
  width: 30px;
  padding: .2em .3em; }

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849); }

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  transition: background 0s; }

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0; }

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  transition: background .4s; }

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden; }
  div[contenteditable="true"]:focus {
    outline-color: transparent;
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent; }

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1; }

.checkbox {
  position: relative;
  margin: .2em 0;
  display: flex;
  align-items: center; }
  .checkbox input[type="checkbox"], .checkbox input[type="radio"] {
    width: 0;
    margin: 0;
    padding: 0; }
  .checkbox input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="checkbox"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="checkbox"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"]:focus + label::before {
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2); }
  .checkbox input[type="radio"]:checked + label::before {
    content: url("/images/checkbox.svg"); }
  .checkbox input[type="radio"]:not(:checked) + label::before {
    content: ""; }
  .checkbox input[type="radio"] + label::before {
    border-radius: 12px; }
  .checkbox input[type="checkbox"] + label::before {
    border-radius: 2px;
    top: -2px; }
  .checkbox label {
    cursor: pointer;
    padding-left: 1.5em; }
    .checkbox label::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #f8f8fa;
      border: solid 1px rgba(88, 88, 121, 0.829);
      width: 1em;
      height: 1em;
      vertical-align: text-bottom;
      left: 0;
      top: 0; }

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  box-sizing: border-box;
  height: 100px; }
  textarea:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
    outline-width: 0; }

.container .addColumnForm .container__background__dialog {
  min-height: auto; }
.container .container__background.open {
  display: flex; }
.container .close {
  display: none; }
.container .container__background .container__background__dialog .form {
  flex-direction: column;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  padding: 0; }
  .container .container__background .container__background__dialog .form input[type='text'] {
    margin: .7em .7em;
    width: auto; }
  .container .container__background .container__background__dialog .form .btns {
    border-top: solid 2px rgba(62, 67, 92, 0.09);
    padding: .7em;
    margin: 0; }
.container .container__background .container__background__dialog .container__background__dialog__form {
  margin: .5em 2em 2em 2em;
  display: flex;
  flex-direction: column; }
  .container .container__background .container__background__dialog .container__background__dialog__form input[type="text"]:first-child {
    margin-top: 1em; }
  .container .container__background .container__background__dialog .container__background__dialog__form input[type="text"]:nth-child(2) {
    margin-bottom: 1em; }
  .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns {
    display: flex;
    position: relative;
    justify-content: space-between; }
    .container .container__background .container__background__dialog .container__background__dialog__form .container__background__dialog__form__btns input[type="button"] {
      width: 47%; }

/*# sourceMappingURL=form-column.css.map */
