.container .container__background#formAddOtherFacultyLine .container__background__dialog, .container .container__background#formEditOtherFacultyLine .container__background__dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages > div, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages > div {
  width: 100%;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: .5em;
  padding-bottom: .5em;
  overflow: auto;
  height: 100%;
  position: relative;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar {
  width: 10px;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar-thumb, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar-thumb {
  background-color: #B9ADB3;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar-track, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form::-webkit-scrollbar-track {
  background-color: rgba(163, 159, 161, 0.205);
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form .dropdown-menu, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form .dropdown-menu {
  padding: .2em 0;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form .input-flex, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .form .input-flex {
  padding: .2em 0;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .first-form, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .first-form {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form, .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form {
  height: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .form__fval:first-child, .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .form__fval:first-child, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .form__fval:first-child, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .form__fval:first-child {
  margin-bottom: 1em;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .btns input:first-child, .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .btns input:first-child, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .btns input:first-child, .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .btns input:first-child {
  margin-right: auto;
}

.container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .btns input:nth-child(2), .container .container__background#formAddOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .btns input:nth-child(2), .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .second-form .btns input:nth-child(2), .container .container__background#formEditOtherFacultyLine .container__background__dialog .container__background__dialog__pages .third-form .btns input:nth-child(2) {
  margin-right: 1em;
}

.container .container__background#formEditFactOtherFacultyLine .container__background__dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  padding-top: .5em;
  padding-bottom: .5em;
  overflow: auto;
  height: 100%;
  position: relative;
}

.container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form::-webkit-scrollbar {
  width: 10px;
}

.container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form::-webkit-scrollbar-thumb {
  background-color: #B9ADB3;
}

.container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form::-webkit-scrollbar-track {
  background-color: rgba(163, 159, 161, 0.205);
}

.container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form .dropdown-menu {
  padding: .2em 0;
}

.container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form .input-flex {
  padding: .2em 0;
}

.container .container__background#formEditFactOtherFacultyLine .container__background__dialog .form .form__fval:first-child {
  margin-bottom: .5em;
}
/*# sourceMappingURL=form-otherfaculties.css.map */