@import "../form.scss";
@import "../../abstracts/const-params.scss";

.container{
    .container__background#splitGroup{
        .container__background__dialog{
            display: flex;
            flex-direction: column;
            min-width: 450px;
            padding: 0;

            .container__background__dialog__title{
                display: inline;

                span:nth-child(2){
                    float: right;
                }
            }
            .form{
                padding: 0;
                display: flex;
                height: 100%;
                position: relative;
                overflow: hidden;

                .form__right.js-open-block{
                    display: flex;
                    flex-direction: column;
                }
                .form__left.js-open-block{
                    display: block;
                }

                .form__right{
                    display: none;
                    width: 100%;
                    overflow: hidden;
                    border-top: solid 2px $color-border-form;

                    > .btns{
                        padding: .7em;
                        margin: 0;
                        display: flex;
                        justify-content: flex-end;
                        border-top: solid 2px $color-border-form;
                    }

                    .js-subgroup-block{
                        margin: .5em 0;
                        
                        .input-flex{
                            margin-left: 2em;
                            font-size: 97%;
                        }
                    }

                    .form__right__btns{
                        padding: .7em;
                        display: flex;
                        justify-content: space-between;
                        border-top: solid 2px $color-border-form;

                        .btns{
                            margin: 0;
                        }
                    }

                    .form__right__list{
                        overflow: auto;
                        @include scroll_customize;
                        padding: 0 1em 0 1em;

                        .title-subgroup{
                            font-family: "UbuntuMedium";
                            color: $font-color-title;
                        }
                    }
                }
                .form__left{
                    position: relative;
                    border-top: solid 2px $color-border-form;
                    display: none;
                    width: 100%;
                    .form__left__count-subgroups{
                        padding: .7em;
                    }
                    .btn-next{
                        border-top: solid 2px $color-border-form;
                        padding: .7em;
                        .form__left__btn-next{
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }
}