@import "../form.scss";
@import "../../abstracts/const-params.scss";

.container{
    .container__background#tieSubjectToTeacherForm{
        .form{
            border-top: solid 2px $color-border-form;
            border-bottom: solid 2px $color-border-form;
            flex-direction: column;
            padding-top: .7em;
            padding-bottom: .7em;
        }
    }
}