@import '../form.scss';
@import '../input.scss';
.container{
    .addColumnForm{
        .container__background__dialog{
            min-height: auto;
        }
    }
    .container__background.open{
        display: flex;
        // background-color: rgba(125, 139, 0, 0.322);
        // &::after{
        //     content: "";
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     // background-color: rgba(0, 139, 139, 0.164);
        // }
    }
    .close{
        display: none;
    }
    .container__background{
        .container__background__dialog{

            .form{


                flex-direction: column;
                border-top: solid 2px rgba(62, 67, 92, 0.09);
                padding: 0;
                
                input[type='text']{
                    margin: .7em .7em;
                    width: auto;
                }

                .btns{
                    border-top: solid 2px rgba(62, 67, 92, 0.09);
                    padding:  .7em;
                    margin: 0;
                }
            }
            .container__background__dialog__form{
                margin: .5em 2em 2em 2em;
                display: flex;
                flex-direction: column;
                input[type="text"]:first-child{
                    margin-top: 1em;
                }
                input[type="text"]:nth-child(2){
                    margin-bottom: 1em;
                }
                // input[type="text"]{
                //     font-size: .9em;
                //     margin: .3em 0;
                //     border: solid 1px rgba(198, 198, 202, 0.589);
                //     border-radius: 2px;
                //     padding: .4em .6em;
                //     color: rgba(53, 52, 83, 0.788);

                //     &:focus{
                //         outline-color: rgba(56, 60, 114, 0.781);
                //         border: solid 1px transparent;
                //     }
                // }

                .container__background__dialog__form__btns{
                    display: flex;
                    position: relative;
                    justify-content: space-between;
                    

    
                    input[type="button"]{
                        width: 47%;
                    }
                }
            }

        }
    }
}