.container .container__background#formDepartment .container__background__dialog .container__background__dialog__title, .container .container__background#formAddLine .container__background__dialog .container__background__dialog__title, .container .container__background#formEditLine .container__background__dialog .container__background__dialog__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__background#formDepartment .container__background__dialog .container__background__dialog__title > span:nth-child(2), .container .container__background#formAddLine .container__background__dialog .container__background__dialog__title > span:nth-child(2), .container .container__background#formEditLine .container__background__dialog .container__background__dialog__title > span:nth-child(2) {
  text-transform: none;
  font-family: "UbuntuRegular";
  color: #626269f3;
}

.container .container__background#formDepartment .container__background__dialog .form, .container .container__background#formAddLine .container__background__dialog .form, .container .container__background#formEditLine .container__background__dialog .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: .5em;
  padding-bottom: .5em;
}

.container .container__background#formAddLine .form .dropdown-menu {
  margin: .4em 0;
}

.container .container__background#formAddLine .form .input-flex {
  margin-bottom: .5em;
}

.container .container__background#formAddLine .form .input-flex input {
  width: 50%;
}

.container .container__background#formEditLine .form .info-block {
  font-size: 95%;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

.container .container__background#formEditLine .form .input-flex {
  margin-bottom: .5em;
}

.container .container__background#formEditLine .form .input-flex input {
  width: 50%;
}

.container .container__background#formStatisctic .container__background__dialog .form {
  border-top: solid 2px rgba(62, 67, 92, 0.09);
  border-bottom: solid 2px rgba(62, 67, 92, 0.09);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.container .container__background#formStatisctic .container__background__dialog .form table {
  border-collapse: collapse;
  width: 100%;
}

.container .container__background#formStatisctic .container__background__dialog .form table thead {
  color: #383964;
}

.container .container__background#formStatisctic .container__background__dialog .form table thead tr td {
  padding: .4em .7em;
}

.container .container__background#formStatisctic .container__background__dialog .form table tbody {
  color: #3b4164c9;
}

.container .container__background#formStatisctic .container__background__dialog .form table tbody tr td {
  padding: .4em .7em;
}

.container .container__background#formStatisctic .container__background__dialog .form table tbody tr:nth-child(2n+1) {
  background-color: rgba(227, 231, 238, 0.3);
}

.container .container__background#formStatisctic .container__background__dialog .btns input[type="button"]:first-child {
  margin-right: 0;
}
/*# sourceMappingURL=form-department.css.map */