$background-color: rgba(201, 217, 230, 0.267);
$background-color-block: rgba(185, 204, 231, 0.123);

$font-color-gload:#2e3950;
$font-color:#3a4660;
$font-color-title: #31446e;

$primary-color: #37475f;
$color: #9295a31f;

$scroll-size: 10px;
$scroll-color:#B9ADB3;
$scroll-color-opacity:rgba(185, 173, 179, 0.4);

$shadow-color:rgba(96, 108, 133, 0.158);
$color-button: #828fa7;

$color-border-form: rgba(66, 87, 112, 0.09);

$background-btn: #455a79ef;
$background-btn-light: #7189acef;

$color-background-tr: rgba(208, 214, 231, 0.3);