@import 'puple-interface.scss';


$block-color: white;
$raduis-calendar: 15px;
// v1
// $background-color: rgba(201, 206, 230, 0.205);
// $background-color-block: rgba(238, 237, 243, 0.3);




// // #2e3830 deep gray
// //#2d545e
// $primary-color: #454360;
// // #F6F7F9
// // $background-color: #F6F7FB;
// // $background-color: rgba(201, 206, 230, 0.205);

// // $background-color: rgba(128, 135, 165, 0.075);



// $color: #9295a31f;

// $scroll-size: 10px;
// $scroll-color:#B9ADB3;
// $scroll-color-opacity:rgba(185, 173, 179, 0.4);

// // $shadow-color:rgba(73, 78, 153, 0.158);
// $shadow-color:rgba(96, 99, 133, 0.158);




// $color-button: #76788c;


// $font-color-gload:#3b4164c9;
// $font-color:#626269;
// $font-color-title: rgb(67, 68, 114);



// $background-color: rgba(201, 217, 230, 0.267);
// $background-color-block: rgba(181, 197, 219, 0.123);
    

        


@mixin scroll_customize {
    &::-webkit-scrollbar {
        width: $scroll-size;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $scroll-color;
    }
    &::-webkit-scrollbar-track{
        // background: transparent;
        background-color: rgba(163, 159, 161, 0.205);
    }
}

@mixin scroll_customize_raduis {
    &::-webkit-scrollbar {
        width: #{$scroll-size - 2};
    }
    &::-webkit-scrollbar-thumb{
        background-color: $scroll-color-opacity;
        // border-top-right-radius: 2px;
        // border-bottom-right-radius: 2px;
        border-radius: 20px;
        border: solid .12em white;
        // border-radius: 5px;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
}

@mixin shadow {
    box-shadow: 0 0 0 2px $color-border-form;
}


@mixin form {
    border: solid 2px $color-border-form;
    box-shadow: 0 0 4px 0 $color-border-form;
}

@mixin hover_row {
    box-shadow: 0 0 0px 2px $shadow-color;
}

@mixin data_block {
    display: flex;
    flex: 1;
    margin: .7em;
    border-radius: 3px;
    @include shadow;
    background-color: $block-color;
}



@mixin calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: $block-color;
    padding: .1em .6em;
    border-bottom-left-radius: $raduis-calendar;
    border-bottom-right-radius: $raduis-calendar;
    width: min-content;
    @include shadow; 
    .icon-arrow-left{
        background-image: url("/images/arrow-thin-left.svg");
    }
    .icon-arrow-right{
        background-image: url("/images/arrow-thin-right.svg");
    }
}

@mixin style_right_block {
    background-color:  rgb(253, 253, 253);
    box-shadow: 0 0 3px 0 rgba(80, 80, 119, 0.226);
    color: rgb(84, 81, 109);
}