$background-color: rgba(225, 225, 228, 0.158);
// $background-color: rgba(108, 178, 178, 0.158);
// #3F595B
$background-color-block: rgba(238, 237, 243, 0.3);

$font-color-gload:#3b4164c9;
$font-color:#626269f3;
$font-color-title: rgb(56, 57, 100);

$primary-color: #454360;
$color: #9295a31f;

$scroll-size: 10px;
$scroll-color:#B9ADB3;
$scroll-color-opacity:rgba(185, 173, 179, 0.4);

$shadow-color:rgba(96, 99, 133, 0.158);
$color-button: #76788c;

$color-border-form: rgba(62, 67, 92, 0.09);

$background-btn: #34335cef;
$background-btn-light: #616086d2;

$color-background-tr: rgb(250, 251, 252);

// $hover-info-tr: #ff5e6c;
$hover-info-tr: #ffcdbe;

$background-active-hide-col:#3f457744;





//
$bgr-color: #4340E9;