@import 'upMenu';
@import '../abstracts/const-params';
@import '../base/base-class.scss';

.container{
    background-color: $background-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgba(13, 26, 63, 0.74);
    flex: 1;
    font-family: 'UbuntuRegular';

    .container__dashboard{
        width: 100%;
        // font-family: 'UbuntuRegular';
        display: flex;
        // position: relative;
        overflow: hidden;
        height: 100%;
        // z-index: 1;
        flex: 1;
    }
}

