@import '../vendors/fonts';
@import '../abstracts/const-params';
@import '../components/input';

html, body{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    font-size: 100%;
}

.container{
    .container__upmenu{
        font-family: 'UbuntuMedium';
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 2.5px 1px #45436025;
        z-index: 2;
        padding: .2em 0 .2em 0;

        // a{
        //     color: #454360;
        //     text-decoration: none;
        //     font-size: .9em;
        // }

        .container__upmenu__left{
            display: flex;
            align-items: center;
            .container__upmenu__left__img{
                cursor: pointer;
                background-image: url("/images/upmenu.svg");
                background-repeat: no-repeat;
                padding: .8em;
                margin-left: .5em;
            }
            .container__upmenu__left__nav{
                margin-left: .5em;
            }
        }
        
        .container__upmenu__right{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .container__upmenu__right__user{
                // cursor: pointer;
                margin-right: 5em;
                font-size: 13px;
                &::before{
                    display: inline-block;
                    content: '';
                    background-image: url("/images/user.svg");
                    background-repeat: no-repeat;
                    width: 2em;
                    height: 2em;
                    background-size: 2em;
                    vertical-align: middle;
                    padding-right: .5em;
                }
            }
            .container__upmenu__right__exit{
                margin-right: .5em;
                margin-left: .5em;
                cursor: pointer;
            }
        }
    } 
}