@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(/fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

a, .exit-link {
  color: rgba(76, 82, 114, 0.781);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

a:hover, .exit-link:hover {
  color: rgba(26, 30, 59, 0.76);
  border-bottom: 1px solid rgba(26, 30, 59, 0.76);
}

input[type="file"] {
  display: none;
}

input[type="file"] + label {
  font-size: 14px;
  color: #6a7691;
  padding: .4em .6em .4em .1em;
}

input[type="file"] + label::before {
  content: "";
  background-image: url("/images/upload.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding-left: 2em;
  padding-top: .1em;
}

input:invalid {
  -webkit-box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479);
          box-shadow: 0 0 0 2px rgba(184, 51, 33, 0.479);
}

input[type="text"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="text"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input[type="password"] {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="password"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input[type=number] {
  -moz-appearance: textfield;
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=number]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.count-students {
  width: 30px;
  padding: .2em .3em;
}

input[type="button"]:hover {
  background-color: rgba(72, 68, 112, 0.849);
}

input[type="button"]:active {
  outline-color: transparent;
  outline-width: 0;
  background-color: rgba(60, 56, 105, 0.733);
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

input[type="button"]:focus {
  outline-color: transparent;
  outline-width: 0;
}

input[type="button"] {
  font-size: 95%;
  color: white;
  background-color: rgba(97, 104, 146, 0.856);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 170%;
  border: none;
  background-position: center;
  -webkit-transition: background .4s;
  transition: background .4s;
}

div[contenteditable="true"] {
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .3em;
  color: #626269f3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 10;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
}

div[contenteditable="true"]:focus {
  outline-color: transparent;
  outline-width: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

div[contenteditable="false"] {
  border: solid 1px transparent;
  padding: .2em .3em .2em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 2px transparent;
          box-shadow: 0 0 0 2px transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

input:disabled:not([type="button"]) {
  background-color: rgba(164, 164, 177, 0.205);
  border-color: transparent;
}

.js-input-edit::before {
  content: "";
  background-color: rgba(39, 43, 77, 0.158);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkbox {
  position: relative;
  margin: .2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
  width: 0;
  margin: 0;
  padding: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

.checkbox input[type="checkbox"]:checked + label::before {
  content: url("/images/checkbox.svg");
}

.checkbox input[type="checkbox"]:not(:checked) + label::before {
  content: "";
}

.checkbox input[type="radio"]:focus + label::before {
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
}

.checkbox input[type="radio"]:checked + label::before {
  content: url("/images/checkbox.svg");
}

.checkbox input[type="radio"]:not(:checked) + label::before {
  content: "";
}

.checkbox input[type="radio"] + label::before {
  border-radius: 12px;
}

.checkbox input[type="checkbox"] + label::before {
  border-radius: 2px;
  top: -2px;
}

.checkbox label {
  cursor: pointer;
  padding-left: 1.5em;
}

.checkbox label::before {
  content: "";
  position: absolute;
  display: inline-block;
  background-color: #f8f8fa;
  border: solid 1px rgba(88, 88, 121, 0.829);
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  left: 0;
  top: 0;
}

textarea {
  font-size: 100%;
  margin: .1em 0;
  border: solid 1px rgba(88, 88, 121, 0.829);
  border-radius: 5px;
  padding: .2em .5em;
  color: #626269f3;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
}

textarea:focus {
  outline-color: transparent;
  -webkit-box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
          box-shadow: 0 0 0 2px rgba(71, 71, 116, 0.2);
  outline-width: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 100%;
}

.container .container__upmenu {
  font-family: 'UbuntuMedium';
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2.5px 1px #45436025;
          box-shadow: 0 0 2.5px 1px #45436025;
  z-index: 2;
  padding: .2em 0 .2em 0;
}

.container .container__upmenu .container__upmenu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container__upmenu .container__upmenu__left .container__upmenu__left__img {
  cursor: pointer;
  background-image: url("/images/upmenu.svg");
  background-repeat: no-repeat;
  padding: .8em;
  margin-left: .5em;
}

.container .container__upmenu .container__upmenu__left .container__upmenu__left__nav {
  margin-left: .5em;
}

.container .container__upmenu .container__upmenu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container__upmenu .container__upmenu__right .container__upmenu__right__user {
  margin-right: 5em;
  font-size: 13px;
}

.container .container__upmenu .container__upmenu__right .container__upmenu__right__user::before {
  display: inline-block;
  content: '';
  background-image: url("/images/user.svg");
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  background-size: 2em;
  vertical-align: middle;
  padding-right: .5em;
}

.container .container__upmenu .container__upmenu__right .container__upmenu__right__exit {
  margin-right: .5em;
  margin-left: .5em;
  cursor: pointer;
}
/*# sourceMappingURL=upMenu.css.map */